@model ProductVariantModel
@{
    //page title
    ViewBag.Title = string.Format(T("Admin.Catalog.Products.Variants.AddNewForProduct").Text, Model.ProductName);
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "productvariant-form" }))
{
    <div class="section-header">
        <div class="title">
            @string.Format(T("Admin.Catalog.Products.Variants.AddNewForProduct").Text, Model.ProductName) @Html.ActionLink("(" + T("Admin.Catalog.Products.Variants.BackToProduct") + ")", "Edit", "Product", new { Id = Model.ProductId }, null)
        </div>
        <div class="options">
            <button type="submit" name="save" value="save" class="btn btn-primary"><i class="icon-ok icon-white"></i>&nbsp;@T("Admin.Common.Save")</button>
            <button type="submit" name="save" value="save-continue" class="btn">@T("Admin.Common.SaveContinue")</button>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}