<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="bundleTransformer">
      <section name="core" type="BundleTransformer.Core.Configuration.CoreSettings, BundleTransformer.Core" />
      <section name="sassAndScss" type="BundleTransformer.SassAndScss.Configuration.SassAndScssSettings, BundleTransformer.SassAndScss" />
      <section name="autoprefixer" type="BundleTransformer.Autoprefixer.Configuration.AutoprefixerSettings, BundleTransformer.Autoprefixer" />
      <section name="nuglify" type="BundleTransformer.NUglify.Configuration.NUglifySettings, BundleTransformer.NUglify" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="Glimpse:DisableAsyncSupport" value="true" />
    <add key="GoogleMerchantID" value="" />
    <add key="GoogleMerchantKey" value="" />
    <add key="GoogleEnvironment" value="Sandbox" />
    <add key="GoogleAuthenticateCallback" value="True" />
    <add key="log4net.Config" value="Config\log4net.config" />
    <add key="sm:ApplicationName" value="SmartStore.NET" />
    <add key="sm:EnableDynamicDiscovery" value="true" />
    <add key="sm:EngineType" value="" />
    <add key="sm:ThemesBasePath" value="~/Themes/" />
    <!-- Monitor all theme folders for file changes/creations/deletions. Only turn this off when you encounter problems on the production webserver -->
    <add key="sm:MonitorThemesFolder" value="true" />
    <!-- add custom Area paths separated with comma (e.g.: "~/Plugins/, ~/Areas/") -->
    <add key="sm:AreaBasePaths" value="~/Plugins/" />
    <!-- set this to "true", if the view engine should also try to resolve view files ending with {CurrentLanguage} (e.g.: MyView.de.cshtml > MyView.cshtml)  -->
    <add key="sm:EnableLocalizedViews" value="false" />
    <add key="sm:EnableVbViews" value="false" />
    <add key="sm:EnableViewLocationCacheDuringDebug" value="true" />
    <add key="sm:ShowCustomErrors" value="true" />
    <add key="sm:EnableLegacyRoutesMapping" value="false" />
    <add key="sm:TempDirectory" value="~/App_Data/_temp" />
    <add key="sm:TranslateCheckUrl" value="https://translate.smartstore.com/StringResource/CheckAvailableResources?version={0}" />
    <!-- Increase timeout values if you run into database related timeout problems (default: 120 sec. for migrations, 30 sec. for regular operations)  -->
    <add key="sm:EfMigrationsCommandTimeout" value="120" />
    <add key="sm:EfCommandTimeout" value="30" />
    <!--
      Storage path for media files and assets like thumbs, uploads, email attachments etc.
      Must be either an app local relative path or a fully qualified physical path to a shared location. E.g.:
        - "Media" or "/Media" points to the subfolder named "Media" in your application root
        - "F:\SharedMedia" points to a (mapped network) drive
        - "\\Server1\SharedMedia" points to a network drive.
      Leave empty if path should be "App_Data/Tenants/{Tenant}/Media".
      In web farms, you should specify the same UNC or mapped network drive on each server.
    -->
    <add key="sm:MediaStoragePath" value="" />
    <!-- 
      Public base path to the media storage used to generate URLs for output HTML. 
      e.g.: "media" (default), "static", "storage/files" etc. 
    -->
    <add key="sm:MediaPublicPath" value="media" />
    <!-- 
      Instructs the media middleware to stream remote files instead of redirecting them.
      This setting only takes effect when any cloud media storage provider - like e.g. Azure BLOB - is active.
    -->
    <add key="sm:StreamRemoteMedia" value="true" />
    <add key="sm:PluginsIgnoredDuringInstallation" value="SmartStore.DemoShopControlling, SmartStore.WebApi, SmartStore.Redis, SmartStore.Azure, Srt.ErpConnector" />
    <!-- Task Scheduler sweep interval in minutes (1 recommended) -->
    <add key="sm:TaskSchedulerSweepInterval" value="1" />
    <add key="g:RecaptchaWidgetUrl" value="https://www.google.com/recaptcha/api.js" />
    <add key="g:RecaptchaVerifyUrl" value="https://www.google.com/recaptcha/api/siteverify" />
    <add key="g:MapsUrl" value="https://maps.google.com/maps?hl={0}&amp;q={1}" />
    <!-- uncomment and set this to your store's task scheduler base url when the automatic url resolution fails (e.g. 'http://www.mystore.com/taskscheduler') -->
    <!--
    <add key="sm:TaskSchedulerBaseUrl" value="http://localhost/taskscheduler" />
    -->
    <!--
    <add key="sm:PdfEngineBaseUrl" value="http://localhost" /> 
    -->
    <add key="sm:AntiForgerySuppressHeuristicChecks" value="true" />
  </appSettings>
  <system.web>
    <customErrors mode="RemoteOnly" />
    <sessionState configSource="Config\SessionState.config" />
    <trace enabled="true" localOnly="true" pageOutput="true" requestLimit="40" />
    <!-- Max. global file upload size is 2 GB as defined by the 'maxRequestLength' attribute (2097152 KB). -->
    <httpRuntime targetFramework="4.7.2" maxRequestLength="2097152" executionTimeout="14400" maxQueryStringLength="16384" fcnMode="Single" />
    <compilation debug="true" targetFramework="4.7.2" numRecompilesBeforeAppRestart="255" batch="true" optimizeCompilations="true">
      <assemblies>
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.IO.Compression.FileSystem, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <remove assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <remove assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <remove assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <remove assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <remove assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <remove assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <remove assembly="System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <remove assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <remove assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <remove assembly="System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <remove assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <remove assembly="System.Activities, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <remove assembly="System.ServiceModel.Activities, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <remove assembly="System.WorkflowServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <remove assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <remove assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms name="SMARTSTORE.AUTH" loginUrl="~/login" protection="All" timeout="43200" path="/" requireSSL="false" slidingExpiration="true" />
    </authentication>
    <pages buffer="true" enableViewState="false">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="System.Web.Optimization" />
      </namespaces>
    </pages>
    <httpModules />
  </system.web>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="100" />
    </connectionManagement>
  </system.net>
  <system.webServer>
    <!-- Show custom 404/500 error page for unmanaged (static) resources. -->
    <httpErrors errorMode="DetailedLocalOnly" defaultResponseMode="File">
      <remove statusCode="404" />
      <remove statusCode="500" />
      <error statusCode="404" path="404.html" responseMode="File" />
      <error statusCode="500" path="500.html" responseMode="File" />
    </httpErrors>
    <modules runAllManagedModulesForAllRequests="false">
      <remove name="FileAuthorization" />
      <remove name="Profile" />
      <remove name="RoleManager" />
      <remove name="ScriptModule-4.0" />
      <remove name="ServiceModel-4.0" />
      <remove name="UrlMappingsModule" />
      <remove name="WindowsAuthentication" />
      <!-- 
        WebDAVModule seems to set PUT and DELETE request methods
        disabled by default but the Web API needs them.
      -->
      <remove name="WebDAVModule" />
      <!-- 
        Without explicitly adding FormsAuthenticationModule
        the MediaController cannot resolve user identity.
      -->
      <remove name="FormsAuthentication" />
      <add name="FormsAuthentication" type="System.Web.Security.FormsAuthenticationModule" />
      <!-- 
        Handles all requests, includung static ones. 
        Allows us to handle requests for specific static resources per managed handlers.
      -->
      <remove name="SmartUrlRoutingModule" />
      <add name="SmartUrlRoutingModule" type="SmartStore.Web.Framework.SmartUrlRoutingModule" preCondition="" />
    </modules>
    <handlers accessPolicy="Script,Read">
      <remove name="OPTIONSVerbHandler" />
      <remove name="OPTIONS" />
      <remove name="TRACEVerbHandler" />
      <!-- sitemap.xml -->
      <remove name="sitemap" />
      <add name="sitemap" path="sitemap.xml" verb="*" type="System.Web.Routing.UrlRoutingModule" resourceType="Unspecified" preCondition="integratedMode" />
      <!-- robots.txt -->
      <remove name="robots" />
      <add name="robots" path="robots.txt" verb="*" type="System.Web.Routing.UrlRoutingModule" resourceType="Unspecified" preCondition="integratedMode" />
      <!-- browserconfig.xml -->
      <remove name="browserconfig" />
      <add name="browserconfig" path="browserconfig.xml" verb="*" type="System.Web.Routing.UrlRoutingModule" resourceType="Unspecified" preCondition="integratedMode" />

      <!-- *.sass & *.scss -->
      <remove name="SassAssetHandler" />
      <remove name="ScssAssetHandler" />
      <add name="SassAssetHandler" path="*.sass" verb="GET" type="SmartStore.Web.Framework.Theming.SassCssHttpHandler, SmartStore.Web.Framework" resourceType="File" preCondition="integratedMode" />
      <add name="ScssAssetHandler" path="*.scss" verb="GET" type="SmartStore.Web.Framework.Theming.SassCssHttpHandler, SmartStore.Web.Framework" resourceType="File" preCondition="integratedMode" />
      <!-- WebApi -->
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
      <remove fileExtension=".svg" />
      <remove fileExtension=".eot" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <remove fileExtension=".otf" />
      <remove fileExtension=".json" />
      <remove fileExtension=".less" />
      <remove fileExtension=".webp" />
      <remove fileExtension=".js" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".eot" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <mimeMap fileExtension=".otf" mimeType="application/x-font-opentype" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".less" mimeType="text/css" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
      <mimeMap fileExtension=".js" mimeType="text/javascript" />
    </staticContent>
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <!-- Max. global file upload size on IIS level is 2 GB as defined by the 'maxAllowedContentLength' attribute (2147483648 Bytes). -->
        <requestLimits maxAllowedContentLength="2147483648" maxQueryString="16384" />
        <hiddenSegments>
          <remove segment="ClearScript.V8" />
          <remove segment="LibSassHost.Native" />
          <add segment="ClearScript.V8" />
          <!--<add segment="LibSassHost.Native" />-->
        </hiddenSegments>
      </requestFiltering>
    </security>
    <httpCompression>
      <dynamicTypes>
        <remove mimeType="image/svg+xml" />
        <remove mimeType="application/atom+xml" />
        <remove mimeType="application/rss+xml" />
        <remove mimeType="application/rdf+xml" />
        <remove mimeType="application/xml" />
        <add mimeType="image/svg+xml" enabled="true" />
        <add mimeType="application/atom+xml" enabled="true" />
        <add mimeType="application/rss+xml" enabled="true" />
        <add mimeType="application/rdf+xml" enabled="true" />
        <add mimeType="application/xml" enabled="true" />
      </dynamicTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" dynamicCompressionBeforeCache="false" />
  </system.webServer>
  <!-- Uncomment caching section in order to limit the amount of data stored in memory cache  -->
  <!--
  <system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <add name="SmartStore" pollingInterval="00:01:00" cacheMemoryLimitMegabytes="400" physicalMemoryLimitPercentage="0"/>
      </namedCaches>
    </memoryCache>
  </system.runtime.caching>
  -->
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4" />
  </system.diagnostics>
  <runtime>
    <gcServer enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Plugins/bin/" />
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Deployment" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FluentValidation" publicKeyToken="a82054b837897c66" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.0.0" newVersion="3.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MiniProfiler" publicKeyToken="b44f9351044011a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.157" newVersion="3.2.0.157" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BundleTransformer.Core" publicKeyToken="973c344c93aac60d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.10.0.0" newVersion="1.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JavaScriptEngineSwitcher.Core" publicKeyToken="c608b2a8cc9e4472" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Transactions" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AjaxMin" publicKeyToken="21ef50ce11b5d80f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.14.5506.26196" newVersion="5.14.5506.26196" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MsieJavaScriptEngine" publicKeyToken="a3a2846a37ac0d3e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.6.0" newVersion="1.5.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="StackExchange.Redis.StrongName" publicKeyToken="c219ff1ca8c2ce46" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="LibSassHost" publicKeyToken="3e24e88796a38e46" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.6.0" newVersion="1.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.XmlTransform" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.34420" newVersion="3.0.0.34420" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoprefixerHost" publicKeyToken="35c9a5d231b2f02d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.10.0" newVersion="1.1.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings configSource="Config\ConnectionStrings.config" />
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
  <!-- Add the attribute 'codeConfigurationType' to the 'entityFramework' root element to overwrite the global DbConfiguration -->
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
  </entityFramework>
  <bundleTransformer xmlns="http://tempuri.org/BundleTransformer.Configuration.xsd">
    <core>
      <css defaultPostProcessors="UrlRewritingCssPostProcessor, AutoprefixCssPostProcessor" defaultMinifier="NUglifyCssMinifier" usePreMinifiedFiles="true" combineFilesBeforeMinification="false">
        <translators>
          <add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false" />
          <add name="SassTranslator" type="SmartStore.Web.Framework.Theming.Assets.SassTranslator, SmartStore.Web.Framework" enabled="true" />
        </translators>
        <postProcessors>
          <add name="UrlRewritingCssPostProcessor" type="BundleTransformer.Core.PostProcessors.UrlRewritingCssPostProcessor, BundleTransformer.Core" useInDebugMode="true" />
          <add name="AutoprefixCssPostProcessor" type="SmartStore.Web.Framework.Theming.Assets.AutoprefixPostProcessor, SmartStore.Web.Framework" useInDebugMode="false" />
        </postProcessors>
        <minifiers>
          <add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
          <add name="NUglifyCssMinifier" type="BundleTransformer.NUglify.Minifiers.NUglifyCssMinifier, BundleTransformer.NUglify" />
        </minifiers>
        <fileExtensions>
          <add fileExtension=".css" assetTypeCode="Css" />
          <add fileExtension=".sass" assetTypeCode="Sass" />
          <add fileExtension=".scss" assetTypeCode="Scss" />
        </fileExtensions>
      </css>
      <js defaultMinifier="CrockfordJsMinifier" usePreMinifiedFiles="true" combineFilesBeforeMinification="false">
        <minifiers>
          <add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
          <add name="NUglifyJsMinifier" type="BundleTransformer.NUglify.Minifiers.NUglifyJsMinifier, BundleTransformer.NUglify" />
          <add name="CrockfordJsMinifier" type="BundleTransformer.JsMin.Minifiers.CrockfordJsMinifier, BundleTransformer.JsMin" />
        </minifiers>
        <translators>
          <add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false" />
        </translators>
        <fileExtensions>
          <add fileExtension=".js" assetTypeCode="JavaScript" />
        </fileExtensions>
      </js>
      <assetHandler disableServerCache="false" serverCacheDurationInMinutes="1440" disableClientCache="false" />
    </core>
    <sassAndScss useNativeMinification="true" indentType="Space" indentWidth="2" lineFeedType="CrLf" precision="5" sourceComments="false" />
    <autoprefixer cascade="false" add="true" remove="true" supports="true">
      <browsers>
        <add conditionalExpression="last 2 versions" />
        <add conditionalExpression="&gt; 1%" />
        <add conditionalExpression="Chrome &gt;= 70" />
        <add conditionalExpression="Firefox &gt;= 52" />
        <add conditionalExpression="Edge &gt;= 17" />
        <add conditionalExpression="Explorer &gt;= 11" />
        <add conditionalExpression="iOS &gt;= 11" />
        <add conditionalExpression="Safari &gt;= 11" />
        <add conditionalExpression="Android &gt;= 4.4" />
        <add conditionalExpression="Opera &gt;= 63" />
      </browsers>
      <!-- ATTENTION: If you experience problems with the "V8JsEngine", use "MsieJsEngine" instead -->
      <jsEngine name="V8JsEngine" />
    </autoprefixer>
    <nuglify>
      <css fixIE8Fonts="false" colorNames="Strict" />
      <js renamePairs="" strictMode="false" severity="0" ignoreAllErrors="false" ignoreErrorList="" evalLiteralExpressions="false" manualRenamesProperties="false" preserveFunctionNames="true" amdSupport="true" scriptVersion="EcmaScript6" />
    </nuglify>
  </bundleTransformer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:latest /nowarn:1659;1699;1701;612;618" />
    </compilers>
  </system.codedom>
</configuration>