@using Telerik.Web.Mvc.UI

@functions{
	private decimal? Value
	{
		get
		{
			decimal? value = null;
			if (ViewData.Model != null)
			{
				value = Convert.ToDecimal(ViewData.Model, System.Globalization.CultureInfo.InvariantCulture);
			}
			return value;
		}
	}

	private string Postfix
	{
		get
		{
			return ViewData["postfix"] as string;
		}
	}
}


@{
	string additionalClass = string.Empty;
	//if (ViewData.ContainsKey("stretch")) {
	//    additionalClass = ViewData["stretch"].Convert<bool>() ? "flex-grow-1" : "";   
	//}
}

<div class="numerictextbox-group flex-grow-1">
	@(Html.Telerik().NumericTextBox<decimal>()
			.Name(ViewData.TemplateInfo.GetFullHtmlFieldName(string.Empty))
			.EmptyMessage(T("Common.EnterValue"))
			.Value(Value)
			.HtmlAttributes(new { @class = additionalClass })
			.DecimalDigits(4)   //always display 4 digits
	)

	@if (Postfix.HasValue())
	{
		<span class="numerictextbox-postfix">@Postfix</span>
	}
</div>


