@using Telerik.Web.Mvc.UI

@functions{
	private double? Value
	{
		get
		{
			double? value = null;
			if (ViewData.Model != null)
			{
				value = Convert.ToDouble(ViewData.Model, System.Globalization.CultureInfo.InvariantCulture);
			}
			return value;
		}
	}

	private string CssClass
	{
		get
		{
			var cls = "numerictextbox-group flex-grow-1";

			if (TryGetMetadata<string>("size", out var size))
			{
				cls += " numerictextbox-group-" + size;
			}

			return cls;
		}
	}
}

<div class="@CssClass">
	@(Html.Telerik().NumericTextBox<double>()
			.Name(ViewData.TemplateInfo.GetFullHtmlFieldName(string.Empty))
			.EmptyMessage(T("Common.EnterValue"))
            .ButtonTitleUp(T("Common.IncreaseValue"))
            .ButtonTitleDown(T("Common.DecreaseValue"))
			.Value(Value)
			.MinValue(GetMetadata<double?>("min"))
			.MaxValue(GetMetadata<double?>("max"))
			.IncrementStep(GetMetadata<double?>("step") ?? 1)
			.DecimalDigits(4)   //always display 4 digits
	)

	@if (TryGetMetadata<string>("postfix", out var postfix))
	{
		<span class="numerictextbox-postfix">@postfix</span>
	}
</div>

