@functions{
	private DateTime? Value
	{
		get
		{
			DateTime? value = null;
			if (ViewData.Model != null)
			{
				value = Convert.ToDateTime(ViewData.Model, System.Globalization.CultureInfo.CurrentCulture);
			}
			return value;
		}
	}
}

@{
	var id = ViewData.TemplateInfo.GetFullHtmlFieldId(string.Empty);
	var value = String.Empty;
	if (Value.HasValue && Value.Value > DateTime.MinValue)
	{
		value = Value.Value.ToShortTimeString();
	}
}

<div class="input-group date datetimepicker-group" id="@id-parent" data-date="@value" data-target-input="nearest">
	<span class="input-group-addon" data-target="#@(id)-parent" data-toggle="datetimepicker">
		<i class="fa fa-clock-o"></i>
	</span>
	@Html.TextBox("", value, new { @class = "form-control datetimepicker-input", data_target = "#" + id + "-parent", data_format = "LT" })
</div>

<script>
	$(function () {
		$("#@(id)-parent").datetimepicker({ locale: 'glob', format: 'LT', keepOpen: false, collapse: true });
	});
</script>


