@model ShopHeaderModel
@using SmartStore.Web.Models.Common;

<div data-role="header" data-position="inline" class="header-logo">
	@if (Model.LogoUploaded)
	{
		<img src='@Url.Content(Model.LogoUrl)' alt="@Model.LogoTitle" title="@Model.LogoTitle" />
	}
</div>