@model CheckoutAttributeValueModel

@{
	Layout = "_AdminPopupLayout";
	ViewBag.Title = T("Admin.Catalog.Attributes.CheckoutAttributes.Values.AddNew").Text;
}

@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            @T("Admin.Catalog.Attributes.CheckoutAttributes.Values.AddNew")
        </div>
        <div class="options">
            <button type="submit" name="save" value="save" class="btn btn-primary">
				<i class="fa fa-check"></i>
				<span>@T("Admin.Common.Save")</span>
			</button>
        </div>
    </div>

    Html.RenderPartial("_CreateOrUpdateValue", Model);
}