@model ScheduleTaskModel
@using SmartStore.Core

<h4>Konfiguration</h4>
<input type="text" value="@Model.CronExpression" class="span3" id="cron-expression" data-url='@Url.Action("CronScheduleNextOccurrences")' />

<h4>Zukünftige Zeitpläne</h4>
<div id="next-occurrences">
	
</div>

<script>
	$(function () {
		$('#cron-expression').on('input propertychange paste', function (e) {
			getNextOccurrences.apply(this);
		});

		getNextOccurrences.apply($('#cron-expression')[0]);

		function getNextOccurrences() {
			var input = $(this);

			if (!input.val().length)
				return;

			$.ajax({
				cache: false,
				type: 'POST',
				url: input.data('url'),
				data: { expression: input.val() },
				success: function (data) {
					$('#next-occurrences').html(data);
				},
				error: function (xhr, ajaxOptions, thrownError) {

				}
			});
		}
	});
</script>
