@model IEnumerable<DateTime>
@using SmartStore.Core

@{
	string error = (string)ViewBag.CronScheduleParseError;
}

<style>
	.future-schedules { border-collapse: separate }
	.future-schedules td { vertical-align: top; padding-bottom: 10px }
	.future-schedules tr td:first-child { padding-right: 20px }
</style>

@if (error.HasValue())
{
	<div class="text-danger"><span>@error</span></div>
}
else
{
	<h4 style="xmargin-bottom: 20px">Zukünftige Zeitpläne</h4>
	<p class="text-warning">@ViewBag.Description</p>
	<table class="future-schedules">
		<tbody>
			@foreach (var day in Model.Take(30).ToLookup(x => x.Date))
			{
				<tr>
					<td><strong>@day.Key.ToShortDateString()</strong></td>
					<td>
						@foreach (var time in day)
						{
							<div>@time.ToShortTimeString()</div>
						}
					</td>
				</tr>
			}
		</tbody>
	</table>
}




