@model IList<PollModel>
@using SmartStore.Web.Models.Polls;

@if (Model.Count > 0)
{
    <div class="card-deck card-cols-xs-1 card-cols-md-@(Model.Count >= 2 ? "2" : Model.Count.ToString()) card-cols-lg-@(Model.Count >= 3 ? "3" : Model.Count.ToString()) todays-poll-box-block mb-3">
        @foreach (var poll in Model)
        {
            Html.RenderPartial("_Poll", poll);
        }
    </div>
}
