
.smartgallery-overlay,
.blueimp-gallery {
	-webkit-transition: opacity 0.2s linear, transform 0.2s ease-out;
		    transition: opacity 0.2s linear, transform 0.2s ease-out;
}

.smartgallery-overlay {
	position: fixed;
	z-index: 999998;
	background: #000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.smartgallery-overlay.in {
	opacity: 0.3;
}


.blueimp-gallery {
	left: 40px;
	right: 40px;
	top: 40px;
	bottom: 40px;
	background: #fff;
	border: 1px solid rgba(0,0,0, 0.25);
	border-radius: 4px;
	border-top-right-radius: 0;
	-webkit-box-shadow: 0px 4px 20px rgba(0,0,0, 0.35);
	        box-shadow: 0px 4px 20px rgba(0,0,0, 0.35);
	-webkit-transform: translate(0, -75px) scale(0.9, 0.9);
	   -moz-transform: translate(0, -75px) scale(0.9, 0.9);
	    -ms-transform: translate(0, -75px) scale(0.9, 0.9);
	        transform: translate(0, -75px) scale(0.9, 0.9);
}

.blueimp-gallery-display {
	-webkit-transform: none;
	   -moz-transform: none;
	    -ms-transform: none;
	        transform: none;
}


.blueimp-gallery > .prev,
.blueimp-gallery > .next,
.blueimp-gallery > .close {
	-webkit-transition: all 0.1s ease-in-out;
		   transition: all 0.1s ease-in-out;
}

.blueimp-gallery > .prev, 
.blueimp-gallery > .next {
	border: none;
	border-radius: 0;
	text-shadow: none;
	font-family: initial;
	background: transparent;
	width: 60px;
	height: 60px;
	margin-top: -30px;
	color: #bbb;
	opacity: 1;
}
.blueimp-gallery > .prev { left: 0; }
.blueimp-gallery > .next { right: 0; }

.blueimp-gallery > .prev:hover,
.blueimp-gallery > .next:hover {
	color: #888;
	background-color: #f5f5f5;
}
.blueimp-gallery > .prev:active,
.blueimp-gallery > .next:active {
	background-color: #eaeaea;
}

.blueimp-gallery > .close {
	text-shadow: none;
	opacity: 1 !important;
	padding: 8px 12px;
	padding-top: 2px;
	border-bottom-left-radius: 6px;
	background-color: #c5c5c5;
	color: #fff;
	margin: 0;
	top: 0;
	right: 0;
}
.blueimp-gallery > .close:hover {
	background-color: #ee5f5b;
}
.blueimp-gallery > .close:active {
	background-color: #ea3d38;
}

.blueimp-gallery > .indicator {
	margin: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	background-color: rgba(255,255,255, 0.5);
	opacity: 0.95;
	padding: 10px 0;
	-webkit-transition: all 0.4s ease-in-out;
	        transition: all 0.4s ease-in-out;
}
.blueimp-gallery > .indicator.out {
	bottom: -80px;
	opacity: 0;
}

.blueimp-gallery > .indicator > li {
	position: relative;
	z-index: 0;
	margin: 0;
	margin-left: -1px;
	opacity: 1;
	border: 1px solid #ccc;
	box-shadow: none;
	padding: 3px;
	background-origin: content-box;
	background-size: contain;
	border-radius: 0;
	width: 50px;
	height: 50px;
}
.blueimp-gallery > .indicator > li:hover,
.blueimp-gallery > .indicator > li.active {
	border-color: #444;
}
.blueimp-gallery > .indicator > li:hover {
	z-index: 1;
}
.blueimp-gallery > .indicator > li.active {
	z-index: 2;
	outline: 1px solid #444;
}

@media (max-width: 767px) {
	.blueimp-gallery > .indicator > li {
		width: 25px;
		height: 25px;
	}
}


