@{
    Layout = "_Layout";
    Html.AddBodyCssClass("lyt-cols-1");
}

@section teaser {
    @RenderSection("teaser", required: false)
}

<div id="content-center" class="col-md-12">
    @{ Html.RenderWidget("main_column_before"); }
    @RenderBody()
    @{ Html.RenderWidget("main_column_after"); }
</div>
