@{

    Layout = "_Document";
    Html.AddBodyCssClass("popup");
}

<div id="popup-content">
    @{ Html.RenderWidget("body_start_html_tag_after"); }
    @RenderBody()
    @{ Html.RenderWidget("body_end_html_tag_before"); }
</div>


