@{
	Layout = "";
}

@model SmartStore.OfflinePayment.Models.CashOnDeliveryPaymentInfoModel
@using SmartStore.Web.Framework;

<table cellpadding="0" cellspacing="0" style="width: 100%">
	<tr>
		<td>
			@Html.Raw(Model.DescriptionText)
		</td>
	</tr>
</table>