@using SmartStore.Web.Framework;
@using SmartStore.OfflinePayment.Models;
@model PurchaseOrderNumberPaymentInfoModel
@{
    Layout = "";
}

@Html.Hidden("OfflinePaymentMethodType", "PurchaseOrderNumber")

<div class="opt-form">
    @Html.ControlGroupFor(model => model.PurchaseOrderNumber, required: true, breakpoint: "md")
</div>