<?xml version="1.0" encoding="utf-8" ?>
<Theme baseTheme="Flex" title="Flex Blue" previewText="'Flex Blue' default theme" author="SmartStore AG" version="1.0">

  <Vars>
    <Var name="blue" type="Color">#1565c0</Var>
    <Var name="indigo" type="Color">#3f51b5</Var>
    <Var name="brand-primary" type="Color">$orange</Var>
    <Var name="brand-warning" type="Color">$indigo</Var>
    <Var name="link-color" type="Color">#0066c0</Var>
    <Var name="inverse-footer" type="Boolean">true</Var>
    <Var name="footer-bg" type="Color">darken($blue, 15%)</Var>
    <Var name="footer-inverse-color" type="Color">rgba(255,255,255,0.87)</Var>
    <Var name="footer-social-bg" type="Color">#64b5f6</Var>
    <Var name="btn-primary-bg" type="Color">$brand-primary</Var>
    <Var name="btn-primary-border" type="Color">$btn-primary-bg</Var>
    <Var name="google-font-1" type="String">Open+Sans:300,300i,400,400i,600,600i,700,700i</Var>
    <Var name="font-family-sans-serif" type="String">"Open Sans", "Helvetica Neue", Arial, sans-serif</Var>
    <Var name="header-bg" type="Color">$blue</Var>
    <Var name="inverse-menubar" type="Boolean">true</Var>
    <Var name="inverse-shopbar" type="Boolean">true</Var>
    <Var name="inverse-navbar" type="Boolean">true</Var>
    <Var name="megamenu-bg" type="Color">transparent</Var>
    <Var name="searchbox-border-active-color" type="Color">rgba(0,0,0,0.75)</Var>
    <!--<Var name="search-button-flat" type="Boolean">true</Var>-->
    <Var name="shopbar-label" type="Select#brand-colors">primary</Var>
    <Var name="costep-progress-color" type="Color">$orange</Var>
    <Var name="offcanvas-cart-footer" type="Color">lighten($blue, 7%)</Var>
    <Var name="card-cap-bg" type="Color">#e3f2fd</Var>
  </Vars>
</Theme>