<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SmartStore.WebApi.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <SmartStore.WebApi.Client.Properties.Settings>
            <setting name="ApiPublicKey" serializeAs="String">
                <value />
            </setting>
            <setting name="ApiSecretKey" serializeAs="String">
                <value />
            </setting>
            <setting name="ApiUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="ApiPaths" serializeAs="String">
                <value />
            </setting>
            <setting name="ApiContent" serializeAs="String">
                <value />
            </setting>
            <setting name="ApiQuery" serializeAs="String">
                <value />
            </setting>
            <setting name="ApiPaths2" serializeAs="String">
                <value />
            </setting>
            <setting name="ApiVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="ApiHeaders" serializeAs="String">
                <value />
            </setting>
            <setting name="FileUpload" serializeAs="String">
                <value />
            </setting>
            <setting name="ApiProxyPort" serializeAs="String">
                <value />
            </setting>
        </SmartStore.WebApi.Client.Properties.Settings>
    
</userSettings>
</configuration>
