@model CustomerNavigationModel
@using SmartStore.Web.Models.Customer;
@{
    Layout = "_Root";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}
<div class="page account-page my-account-home-page">
    <div class="page-body">
        @Html.Partial("MyAccountNavigation", Model, new ViewDataDictionary())
    </div>
</div>
