@model StoreScopeConfigurationModel
@using SmartStore.Core

<div class="multi-store-scope well px-0 py-2">
    <table class="adminContent adminContent-boxed">
    <tr>
        <td class="adminTitle">
			@Html.SmartLabel("store-scope-configuration", T("Admin.Configuration.Settings.StoreScope"))
        </td>
        <td class="adminData">
			@Html.DropDownList("store-scope-configuration", Model.AllStores, new { onchange = "setLocation(this.value);" })
        </td>
    </tr>
    @if (Model.StoreId > 0)
	{
		<tr>
			<td class="adminTitle">&nbsp;</td>
			<td class="adminData wide">
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" id="override-settings" onclick="SmartStore.Admin.checkAllOverriddenStoreValue(this)">
					<label class="custom-control-label" for="override-settings">@T("Admin.Configuration.Settings.StoreScope.CheckAll.Hint")</label>
				</div>
			</td>
		</tr>
	}
	</table>
</div>

<script>
	$(function () {
		$('#store-scope-configuration').selectWrapper();
	});
</script>