.password-strength {
    position: relative;
    margin-bottom: 20px;
}

    .password-strength > img {
        height: 165px;
        width: 165px;
    }

    .password-strength .arrow {
        background-repeat: no-repeat;
        left: 0;
        position: absolute;
        top: 0;
    }

    .password-strength .cap {
        background: url(Images/meter_cap.png) no-repeat;
        height: 20px;
        left: 71px;
        position: absolute;
        top: 76px;
        width: 20px;
        z-index: 10;
    }

    .password-strength .text {
        color: #575757;
        font-size: 10px;
        left: 52px;
        line-height: 1.1;
        position: absolute;
        top: 120px;
        width: 60px;
        text-align: center;
    }