/* -------------------------------------------------------------- 
 	SmartStore Component: smartstore.entitypicker.css
-------------------------------------------------------------- */

.entity-picker-list .item {
	float: left;
	width: 360px;
	min-height: 54px;
	max-height: 54px;
	padding: 3px;
	border-bottom: 1px solid #cfcfcf;
}
.entity-picker-list .item:nth-child(odd) {
	padding-right: 10px;
}
.entity-picker-list .item:hover {
	cursor: pointer;
	background-color: #FFCB7C;
}
.entity-picker-list .selected {
	background-color: #FFCB7C;
}
.entity-picker-list .disable {
	opacity: .4;
	filter: Alpha(Opacity=40);
}
.entity-picker-list .thumb {
	float: left;
	width: 65px;
}
.entity-picker-list .thumb img {
	max-width: 52px;
	max-height: 52px;
}
.entity-picker-list .highlight {
	color: #f00;
	background-color: transparent;
}
.entity-picker-list .summary {
	font-size: 0.9em;
	height: 2.65em;
	min-height: 2.65em;
	line-height: 1.22em;
	vertical-align: top;
	margin-top: 2px;
	overflow: hidden;
}
.entity-picker-list .published {
	clear: both;
	float: right; 
	margin-top: -13px;
}
.entity-picker-list .list-footer {
	clear: both;
	float: left;
	margin-top: 8px;
}
.entity-picker-list .list-footer a {
	padding-bottom: 2px;
}
