/* -------------------------------------------------------------- 
 	SmartStore Widget: smartstore.smartgallery.css
-------------------------------------------------------------- */

.sb { position: absolute }

.smart-gallery {
	width: 600px;
}

.sg-image-wrapper {
    position: relative !important;
	width: 100%;
    min-height: 300px; /* just to avoid page load flickering. This is overwritten per inline css anyway */
	margin-bottom: 5px;
	position: relative;
	overflow: hidden;
	outline: 1px solid transparent;
    text-align: center;
}

.sg-image-wrapper > img {
    max-height: 100%; /* avoids page load flickering */
}

.sg-loader {
	position: absolute;
	z-index: 10;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.sg-image {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	height: 300px;
	max-width: 100%;
	/*z-index: 9;*/
}

.sg-image a {
	display: inline-block;
    max-width: 100%;
}

.sg-image a img {
	border: 0;
	max-height: 100%;
	max-width: 100%;
}
      
.sg-image-description {
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding: 7px;
	text-align: left;
	width: 100%;
	z-index: 11;
	background-color: rgba(0,0,0, .5);
	color: #fff;
}

.no-rgba .sg-image-description {
	background-color: #646464;
}

.sg-description-title {
	display: block;
}


.sg-nav {
	width: 100%;
	position: relative;
	overflow: hidden;
	opacity: 0; /* avoids flickering */
}

.sg-thumbs {
	position: relative;
	overflow-x: hidden;
	margin: 0 auto;
}        
            
.sg-thumb-list {
	position: relative;
    float: left;
    width: 5000px;
	height: 60px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sg-nav.has-buttons .sg-thumbs {
    margin-left: 19px;
    margin-right: 19px;
}

.sg-thumb-list li {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
    float: left;
    padding: 0;
	margin-left: -1px;
}
.sg-thumb-list li:first-child {
	margin-left: 0;
}

.sg-thumb-list li a {
	position: relative;
	z-index: 0;
	display: block;
    border: 1px solid #ddd;
	background-color: #fff;
	outline: none;
    
    overflow: hidden;
    -webkit-transition: all 0.1s ease-in;
         -o-transition: all 0.1s ease-in;
            transition: all 0.1s ease-in;
	
	box-sizing: border-box;
    width: 60px;
    height: 60px;
	line-height: 52px;
	text-align: center;
    vertical-align: middle;
}

.sg-thumb-list li a:hover,
.sg-thumb-list li a.sg-active {
    border-color: #999;
	z-index: 1;
}

.sg-thumb-list li a > img {
	margin: 3px;
	max-width: 52px;
	max-height: 52px;
}

.sg-scroll-back,
.sg-scroll-forward {
	position: absolute;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0, .15);
            box-shadow: 0 0 4px rgba(0,0,0, .15);
	z-index: 30;
	height: 100%;
	width: 20px;
}

.sg-scroll-back a,
.sg-scroll-forward a {
	width: 18px;
}
.sg-scroll-back { left: 0 }
.sg-scroll-forward { right: 0 }

.sg-thumbs-overlay {
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: -webkit-linear-gradient(left, #fff, rgba(255,255,255, 0) 3%, rgba(255,255,255, 0) 97%, #fff 100%);
}
            
/* Can't do display none, since Opera won't load the images then */
.sg-preloads {
	position: absolute;
	left: -9000px;
	top: -9000px;
}

/* Zooming */

.zoomContainer {
    z-index: 50;
}

.zoomWindow {
    border: 1px solid #999;
}

.zoomWindow,
.zoomLens {
   -webkit-box-shadow: 0 0 10px rgba(0,0,0, 0.4);
           box-shadow: 0 0 10px rgba(0,0,0, 0.4);
    display: none;
}


