<?xml version="1.0"?>

<configuration>
  <system.webServer>
    <handlers>
      <add name="BlockDllHandler" path="*.dll" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
      <add name="BlockDescHandler" path="Description.txt" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
    </handlers>
  </system.webServer>
</configuration>
