/// <reference path="../bs4/scss/bootstrap.scss" />
/// <reference path="_colors.scss" />


/* Accordion
------------------------------------*/

.accordion .card {
    margin-bottom: 0;
}

.accordion .card+.card {
    margin-top: -2px;
}

.accordion .card-title:hover {
    background-color: #eee;
}

.accordion .card-title {
    margin: 0;
    transition: background-color ease-in-out 0.12s;
}

.accordion .card-title .hint {
    display: inline-block;
    float: right;
    font-size: 0.85rem;
    opacity: 0.4;
    line-height: 1.5;
}

.accordion .card.active .card-title {
    background-color: $clr-red-600;
    color: #fff !important;
}

.accordion .card-header {
    padding: 0; 
}

.accordion .card:first-child  { border-radius: 4px 4px 0 0; }
.accordion .card:first-child .card-header  { border-radius: 3px 3px 0 0; }
.accordion .card:last-child  { border-radius: 0 0 4px 4px; }
.accordion .card:last-child .card-header  { border-radius: 0 0 3px 3px; }

.accordion .card-title a {
    color: inherit;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    display: block;
    position: relative;
    vertical-align: middle;
    padding: 15px 12px 15px 40px;
}
.accordion .panel-title a[aria-expanded=true] {
    color: inherit !important;
}

.accordion .card-title .fa-chevron {
    position: absolute;
    left: 12px;
    font-size: 14px;
    top: 50%;
    margin-top: -8px;
    opacity: 0.2;
    @include transition(transform 0.35s ease-out);
}

.accordion .card-title a[aria-expanded=true] .fa-chevron {
    opacity: 1;
    transform: rotate(-180deg);
}