<div class="row justify-content-center">
    <div class="col-10 mt-4">
        @using (Html.BeginRouteForm("BoardSearch", FormMethod.Get, new { @class = "forum-search-box" }))
        {
            <div class="input-group d-flex">
                <input type="text" name="q" class="forum-search-box-text form-control" placeholder="@T("Forum.SearchForumsTooltip")" />
                <div class="input-group-append">
                    <input type="submit" value="@T("Forum.SearchButton")" class="btn btn-primary" />
                </div>
            </div>
            <div class="advanced mt-2">
                @Html.RouteLink(T("Forum.AdvancedSearch").Text, "BoardSearch", new { adv = true }, new { title = T("Forum.AdvancedSearch").Text })
            </div>
        }
    </div>
</div>