// Fade Enter
$use-fadeIn 			:	true;
$use-fadeInUp 			:	true;
$use-fadeInDown 		:	true;
$use-fadeInLeft 		:	true;
$use-fadeInRight 		:	true;


// Fade Exit
$use-fadeOut			:   true;
$use-fadeOutUp			:	true;
$use-fadeOutDown		:	true;
$use-fadeOutLeft		:	true;
$use-fadeOutRight		:	true;


// Bounce Enter
$use-bounceIn			:	true;
$use-bounceInUp			: 	true;
$use-bounceInDown 		: 	true;
$use-bounceInLeft 		: 	true;
$use-bounceInRight 		: 	true;


// Bounce Exit
$use-bounceOut			:	true;
$use-bounceOutUp		: 	true;
$use-bounceOutDown 		: 	true;
$use-bounceOutLeft 		: 	true;
$use-bounceOutRight 	: 	true;

// Zoom In
$use-zoomIn 			:	true;
$use-zoomInDown 		:	true;
$use-zoomInLeft 		:	true;
$use-zoomInRight 		:	true;
$use-zoomInUp 			:	true;


// Zoom Out
$use-zoomOut			:	true;
$use-zoomOutDown		:	true;
$use-zoomOutLeft		:	true;
$use-zoomOutRight		:	true;
$use-zoomOutUp			:	true;

// Attention Seekers
$use-tada				:	true;

@import "../vendors/animate/_animate.scss";
