/// <reference path="../bs4/scss/bootstrap.scss" />


// General
// ==============================================================

.nav ~ .tab-content {
    margin: 1rem 0;
}

.nav-link-summary {
    display: none;
}


// Material Tabs
// ==============================================================

.nav-tabs-line {
    position: relative;
}

.nav-tabs-line {
    .nav-item + .nav-item {
        margin-left: 0;
    }

    .nav-item {
        position: relative;
    }

    .nav-link {
        font-size: $font-size-lg;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        border-width: 0;
        background-color: transparent;
        color: $text-muted;
        transition: color 0.2s ease-in-out;

        &:hover {
            color: inherit;
        }

        &.active { 
            font-weight: 600;
            color: inherit; 
        }

        &.disabled {
            opacity: 0.4;
        }
    }

    .nav-link:not(.disabled):before {
        position: absolute;
        content: '';
        bottom: 0;
        left: 50%;
        right: 50%;
        height: 2px;
        background: #aaa;
        background: rgba(0,0,0, 0.3);
        transition: all 0.2s ease-in-out;
    }

    .nav-link:hover:before {
        left: 0;
        right: 0;
    }

    .nav-link.active:before,
    .nav-link.active:focus:before,
    .nav-item.open .nav-link:before,
    .nav-item.open .nav-link:focus:before { 
        left: 0;
        right: 0;
        background: $brand-warning;
    }
}


// Responsive Tabs
// ==============================================================

.nav-responsive .tab-content-header { 
    display: none;
}

.tab-content-header {
    background: #f2f2f2;
    background: $brand-primary;
    background: #f2f2f2;
    border-bottom: 1px solid rgba(0,0,0, 0.1);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.offcanvas .tab-pane {
    padding: 1.5rem;
    //transition: none;
}

.offcanvas .tab-content-header ~ .tab-pane {
    padding-top: 4.5rem;
}

.nav-responsive.collapsed {
    position: relative;

    .nav-tabs {
        display: block !important;

        .nav-item {
            float: none;
        }

        .nav-link { 
            position: relative;
            display: block; 
            text-transform: none;
            font-weight: 600;
            text-align: left;
            color: $list-group-link-color !important;
            background-color: $list-group-bg;
            border: $list-group-border-width solid $list-group-border-color;
            border-radius: 0;
            padding: .75rem 2.2rem .75rem 1.25rem;
            // Place the border on the list items and negative margin up for better styling
            margin-bottom: -$list-group-border-width;
            @include transition(background-color 0.12s linear);

            .nav-link-summary {
                display: block;
                font-weight: 400;
                line-height: 1.5;
                font-size: $font-size-base;
            }

            &:hover {
                color: $list-group-link-hover-color;
                background-color: $list-group-hover-bg;
            }
            &:active {
                background-color: darken($list-group-hover-bg, 4%);
            }

            &:before {
                display: none;
            }

            &:not(.disabled):after {
                font-family: FontAwesome;
                content: "\f105"; // angle-right
                //color: #ccc;
                font-size: 1.5rem;
                line-height: 1;
                position: absolute;
                right: 1rem;
                top: 50%;
                transform: translateY(-50%);
                //margin-top: -0.5rem;
            }
        }

        // Round the first and last items
        .nav-item:first-child .nav-link {
            @include border-top-radius($list-group-border-radius);
        }
        .nav-item:last-child .nav-link {
            margin-bottom: 0;
            @include border-bottom-radius($list-group-border-radius);
        }
    }
}

