/// <reference path="../bs4/scss/bootstrap.scss" />

// Font weight Helpers
// ===================

$font-weight-light:       300;
$font-weight-normal:      400;
$font-weight-medium:      600;
$font-weight-bold:        700;

@each $weight, $var in (unset, 100, 200, 300, 400, 500, 600, 700, 800, 900) {
    .font-weight-#{$weight} {
        font-weight: $weight !important;
    }
}



// jQuery UI stuff
// ===================

.ui-effects-transfer, .transfer {
	border: 2px dotted $body-color !important;
	background: transparent;
	z-index: $zindex-modal+1;
}


// Heading
// ===================

.heading {
    position: relative;

    &:before {
        position: absolute;
        display: block;
        content: ' ';
        width: 100%;
        height: 1px;
        top: 50%;
        z-index: 0;
        background: radial-gradient(ellipse at left, $body-bg 25%, rgba(#000, 0.25) 100%);
    }

    .heading-title {
        position: relative;
        display: inline-block;
        background: $body-bg;
        padding-right: 1rem;
        font-weight: 300;
    }
}

.heading-center {
    text-align: center;

    &:before {
        background: radial-gradient(ellipse at center, $body-bg 25%, rgba(#000, 0.25) 100%);
    }

    .heading-title {
        padding-left: 1rem;
    }
}