/// <reference path="../bs4/scss/bootstrap.scss" />


// Responsive Typo
// ==============================================================

@include media-breakpoint-down(md) {
    html {
        font-size: 15px;
    }
}

@include media-breakpoint-down(sm) {
    html {
        font-size: 14px;
    }
}


// Font Sizes
// ==============================================================

.fs-h1          { font-size: $font-size-h1 !important; }
.fs-h2          { font-size: $font-size-h2 !important; }
.fs-h3          { font-size: $font-size-h3 !important; }
.fs-h4          { font-size: $font-size-h4 !important; }
.fs-h5          { font-size: $font-size-h5 !important; }
.fs-h6          { font-size: $font-size-h6 !important; }

.fs-lead        { font-size: $lead-font-size; }

.fs-display-1   { font-size: $display1-size !important; }
.fs-display-2   { font-size: $display2-size !important; }
.fs-display-3   { font-size: $display3-size !important; }
.fs-display-4   { font-size: $display4-size !important; }

.fs-small       { font-size: 0.85rem !important; }


//  Grid
// ==============================================================

.container-fluid {
    padding-left: 6%;
    padding-right: 6%;
}


// Typo
// ==============================================================

code {
    background-color: rgba(0,0,0, 0.03);
    border-radius: 2px; 
}


// Dropdowns
// ==============================================================

.dropdown-item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}


//  Popover
// ==============================================================

.popover-title {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: $font-weight-medium;
}