/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,300,300italic);*/


/* Theme: NEW ALPHA 
------------------------------ */

$enable-flex:               true;
$enable-rounded:            true;
$enable-shadows:            true;
$enable-gradients:          false;
$enable-transitions:        true;
$enable-hover-media-query:  false; 
$enable-grid-classes:       true;

$headings-line-height:      1.3; 

/*$font-family-sans-serif:    'Roboto', Helvetica, Arial, sans-serif;*/ 

//$font-size-base:            .92rem;
$line-height:                1.8;
$line-height-sm:             1.8;
$line-height-lg:             1.5;

$display1-size:             6rem;
$display2-size:             5.5rem;
$display3-size:             4.5rem;
$display4-size:             3.5rem;

$border-radius:             3px;
$border-radius-lg:          4px; 
$border-radius-sm:          2px;

$btn-border-radius:         2px !default;
$btn-border-radius-lg:      3px !default;
$btn-border-radius-sm:      2px !default;

$btn-font-weight:           600;
/*$btn-padding-x:             1.8rem;
$btn-padding-x-sm:          1.2rem;
$btn-padding-x-lg:          2rem;*/
$btn-padding-y-lg:          1rem;

/*$dropdown-border-color:     #ddd;
$popover-border-color:      #ddd;
$card-border-color:         rgba(0,0,0, 0.12);*/

// Pre Bootstrap
@import "shared/_spacers.scss"; 

// Bootstrap
@import "bs4/scss/bootstrap.scss"; 

// Global
@import 'shared/_colors.scss';
@import 'shared/_typo.scss';
@import 'shared/_buttons.scss';
@import 'shared/_forms.scss';
@import 'shared/_accordion.scss';
@import "shared/_modal-flex.scss";
@import "shared/_throbber.scss";
@import "shared/_spinner.scss";
@import "shared/_scrollbutton.scss";
@import "shared/_star-rating.scss";
@import "shared/_sortable-grip.scss";
@import "shared/_utils.scss";

// Main
@import "_shopbar.scss";

