@using SmartStore.Web.Framework.UI;
@{
    Layout = "";
}
<table style="width:100%; margin-bottom:10px;">
<tr>
    <td>
		<img src="@Url.Content("~/Plugins/Payments.Sofortueberweisung/Content/images/logo200x75.png")" alt="Sofortüberweisung" style="float: left; margin-right: 20px; width: 200px; height: 75px;" />
    </td>
	<td style="vertical-align: top;">
		@T("Plugins.Payments.Sofortueberweisung.RedirectionTip")
	</td>
</tr>
</table>