@model SmartStore.Web.Models.Common.CookieConsentModel
@{
	Layout = "";
}

@using (Ajax.BeginForm("CookieConsentBadge", "Common", null, new AjaxOptions()
{
	HttpMethod = "POST",
	OnComplete = "OnConsented"
}))
{

	<div class="cookie-consent-panel-message fade show">
		
		<button type="submit" class="close">&times;</button>

		<div class="d-flex">
			<div class="align-self-center">
				@Html.Raw(Model.BadgeText)
			</div>
			<div class="align-self-center mx-5">
				<button type="submit" class="btn btn-warning">@T("CookieConsent.Button")</button>
			</div>
		</div>
	</div>
}

<script>
    function OnConsented(context) {
		$('.cookie-consent-panel-message').hide();
    };
</script>