@model IList<ProductOverviewModel>
@using SmartStore.Web.Models.Catalog;

@*@functions
    {
        private bool ShowListOptions()
        {
            return Model.Products.Count > 0 &&
                   (Model.PagingFilteringContext.AllowProductViewModeChanging ||
                   Model.PagingFilteringContext.AllowProductSorting ||
                   Model.PagingFilteringContext.AllowCustomersToSelectPageSize);
        }
    }


    @if (Model.Products.Count > 0)
    {
        if (Model.PagingFilteringContext.ViewMode == "list")
        {
            <div class="product-list">
                @foreach (var product in Model.Products)
                {
                    <article class="item-box details card p-a-1">
                        @{ Html.RenderPartial("_ProductBoxList", product); }
                    </article>
                }
            </div>
        }
        else
        {
            <div class="card-deck card-cols-sm-1 card-cols-md-2 card-cols-lg-3 product-grid">
                @foreach (var product in Model.Products)
                {
                    <article class="card card-block card-shadow text-xs-center">
                        @{ Html.RenderPartial("_ProductBox", product); }
                    </article>    }
            </div>
        }
    }

    @Html.SmartStore().Pager(Model.PagingFilteringContext).Name("pagination-bottom").QueryParam("pagenumber")*@