@model IEnumerable<AuthenticationMethodModel>
@{
    ViewBag.Title = T("Admin.Configuration.ExternalAuthenticationMethods").Text;
}

<div class="section-header">
    <div class="title">
        <i class="fa fa-lock"></i>
        @T("Admin.Configuration.ExternalAuthenticationMethods")
    </div>
</div>

<table class="adminContent">
	<tr>
		<td>
			@Html.ProviderList(Model,
			@<div>
				<a style="min-width: 150px" class='btn@(item.IsActive ? " btn-secondary btn-to-danger" : " btn-success")' href='@Url.Action("ActivateProvider", new { systemName = item.SystemName, activate = !item.IsActive })'>
					<span>@T("Admin.Common.{0}".FormatInvariant(item.IsActive ? "Deactivate" : "Activate"))</span>
				</a>
			</div>)
		</td>
	</tr>
</table>

