@using SmartStore.Admin.Models.Menus
@model MenuRecordModel
@{    
}

<div class="adminContent">
    <div class="adminSeparator">
		<div class="admin-config-group">
			<div class="title">@T("Admin.ContentManagement.MenuLinks")</div>
		</div>
    </div>
</div>

<div>
    TODO: bootstrap list groups.
</div>

<script type="text/javascript">
	$(document).ready(function () {
	});
</script>
