@using SmartStore.Admin.Models.Menus
@model MenuItemRecordModel
@{    
	ViewBag.Title = T("Admin.ContentManagement.AddMenuItem");

    Layout = "_AdminPopupLayout";
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            @T("Admin.ContentManagement.AddMenuItem")
        </div>
        <div class="options">
            <button type="submit" name="save-item" value="save-item" class="btn btn-primary">
				<i class="fa fa-check"></i>
				<span>@T("Admin.Common.Save")</span>
			</button>
            <button type="submit" name="save-item" value="save-item-continue" class="btn btn-secondary">
				<span>@T("Admin.Common.SaveContinue")</span>
			</button>
        </div>
    </div>

    Html.RenderPartial("_CreateOrUpdate.Item", Model);
}