@model Telerik.Web.Mvc.GridModel<ProductAttributeModel>
@using Telerik.Web.Mvc.UI
@{  
    //page title
    ViewBag.Title = T("Admin.Catalog.Attributes.ProductAttributes").Text;
}
<div class="section-header">
    <div class="title">
        @T("Admin.Catalog.Attributes.ProductAttributes")
    </div>
    <div class="options">
        <a href="@Url.Action("Create")" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;@T("Admin.Common.AddNew")</a>
    </div>
</div>
<table class="adminContent">
    <tr>
        <td>
            @(Html.Telerik().Grid<ProductAttributeModel>(Model.Data)
                    .Name("productattributes-grid")
                    .Columns(columns =>
                    {
                        columns.Bound(x => x.Name)
                            .Width(300)
                             .Template(x => Html.ActionLink(x.Name, "Edit", new { id = x.Id }))
                            .ClientTemplate("<a href='Edit/<#= Id #>'><#= Name #></a>");
                        columns.Bound(x => x.Alias);
                        columns.Bound(x => x.Id)
                            .Width(50)
                            .Centered()
                            .Template(x => Html.ActionLink(T("Admin.Common.Edit").Text, "Edit", new { id = x.Id }))
                            .ClientTemplate("<a href=\"Edit/<#= Id #>\">" + T("Admin.Common.Edit").Text + "</a>")
                            .Title(T("Admin.Common.Edit").Text);
                    })
                    .DataBinding(dataBinding => dataBinding.Ajax().Select("List", "ProductAttribute"))
                    .EnableCustomBinding(true))
        </td>
    </tr>
</table>