@model ProductSummaryModel
@using SmartStore.Web.Models.Catalog;

@{ 
	if (Model.PagedList.TotalCount == 0)
	{
		return;
	}
}

<div class="product-grid product-grid-home-page block">
	<div class="heading heading-center">
		<h3 class="heading-title fs-h1">@T("HomePage.Products")</h3>
	</div>

    <div class="block-body pt-3 artlist-no-separators">
		@{ 
			Html.RenderPartial("Product.List", Model);
		}
    </div>
</div>