@{ 
	var labelStyle = GetThemeVariable<string>("shopbar-label", "warning");
}

<div class="ocm-home-layer">

    <div class="offcanvas-menu-header offcanvas-tabs">
        <ul class="nav nav-tabs nav-tabs-line row no-gutters flex-nowrap" role="tablist">
            <li class="nav-item col-xs">
                <a id="category-tab" class="nav-link" data-toggle="tab" href="#ocm-categories" role="tab" data-initialized="false">
                    <span class="title">@T("Offcanvas.Menu.Categories")</span>
                </a>
            </li>
            <li class="nav-item col-xs">
                <a id="manufacturer-tab" class="nav-link" data-toggle="tab" href="#ocm-manufacturers" role="tab" data-initialized="false">
                    <span class="title">@T("Offcanvas.Menu.Brands")</span>
                </a>
            </li>
            <li class="nav-item col-xs">
                <a id="service-tab" class="nav-link" data-toggle="tab" href="#ocm-service" role="tab" data-initialized="false">
                    <span class="title">@T("Offcanvas.Menu.Service")</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="tab-content offcanvas-scrollable">
        <div class="tab-pane fade" id="ocm-categories" role="tabpanel"></div>
        <div class="tab-pane fade" id="ocm-manufacturers" role="tabpanel"></div>
        <div class="tab-pane fade" id="ocm-service" role="tabpanel"></div>
    </div>

    <div class="offcanvas-menu-footer hidden-xs-up">
        <div class="row xs-gutters justify-content-around flex-nowrap">
            <div class="col-xs hidden-xs-up">
                <div id="ocm-currency-selector" class="mf-dropdown">
                    <button class="btn btn-grey btn-labeled icon-right btn-block text-xs-left text-uppercase">
                        <span data-bind="name"></span>
                        <b><i class="fa fa-caret-down"></i></b>
                    </button>
                    <select class="form-control noskin"></select>
                </div>
            </div>
                
            <div class="col-xs hidden-xs-up">
                <div id="ocm-language-selector" class="mf-dropdown">
                    <button class="btn btn-grey btn-labeled icon-right btn-block text-xs-left text-uppercase">
                        <span data-bind="name"></span>
                        <b><i class="fa fa-caret-down"></i></b>
                    </button>
                    <select class="form-control noskin"></select>
                </div>
            </div>
        </div>
    </div>
</div>