@using SmartStore.Web.Models.Boards;
@model BoardsIndexModel
@{
    Layout = "_Layout";

    Html.AddTitleParts(Model.MetaTitle);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
}
<div class="page forums-main">
    <div class="forums-main-header">
        <div class="current-time">
            @Model.CurrentTime.ToNativeString("F")
        </div>
        <div class="mt-2 w-75">
            @{ Html.RenderAction("SearchBox", "Boards"); }
        </div>
    </div>
    
    @{ Html.RenderAction("TopicBlock", "Topic", new { systemName = "ForumWelcomeMessage" }); }

    @foreach (var forumGroup in Model.ForumGroups)
    {
        Html.RenderPartial("ForumGroup", forumGroup);
    }
    
    @{ Html.RenderAction("ActiveDiscussionsSmall"); }
</div>
