<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  
    <siteMapNode id="home" title="Home" controller="Home" action="Overview" area="Admin">
      
      
    <siteMapNode id="dashboard" title="Dashboard" resKey="Admin.Dashboard" controller="Home" action="Index" area="Admin" iconClass="home" />
      
      
    <siteMapNode id="catalog" title="Catalog" resKey="Admin.Catalog" permissionNames="ManageCatalog" iconClass="cubes">
      <siteMapNode id="categories" isGroupHeader="true" title="Categories" resKey="Admin.Catalog.Categories" />
      <siteMapNode id="categories-list" title="List" resKey="Admin.Common.List" controller="Category" action="List" area="Admin" iconClass="bars" />
      <siteMapNode id="categories-tree" title="Tree view" resKey="Admin.Common.Treeview" controller="Category" action="Tree" area="Admin" iconClass="sitemap" />

      <siteMapNode id="products-header" isGroupHeader="true" title="Products" resKey="Admin.Catalog.Products" />
      <siteMapNode id="products" iconClass="cube" title="Manage products" resKey="Admin.Catalog.Products.Manage" controller="Product" action="List" area="Admin" />
      <siteMapNode id="products-bulk-edit" iconClass="cubes" title="Bulk edit products" resKey="Admin.Catalog.BulkEdit" controller="Product" action="BulkEdit" area="Admin" />
      <siteMapNode id="reviews" iconClass="star-half-o" title="Product reviews" resKey="Admin.Catalog.ProductReviews" controller="ProductReview" action="List" area="Admin" />
      <siteMapNode id="manufacturers" iconClass="building-o" title="Manufacturers" resKey="Admin.Catalog.Manufacturers" controller="Manufacturer" action="List" area="Admin" />
      <siteMapNode id="tags" title="Product tags" resKey="Admin.Catalog.ProductTags" controller="Product" action="ProductTags" area="Admin" iconClass="tags" />
      <siteMapNode id="stockreport" iconClass="sort-numeric-desc" title="Low stock report" resKey="Admin.Catalog.LowStockReport" controller="Product" action="LowStockReport" area="Admin" />
      
      <siteMapNode id="attributes-header" isGroupHeader="true" title="Attributes" resKey="Admin.Catalog.Attributes" />
      <siteMapNode id="attributes" iconClass="list-alt" title="Products attributes" resKey="Admin.Catalog.Attributes.ProductAttributes" controller="ProductAttribute" action="List" area="Admin" />
      <siteMapNode id="specification-attributes" iconClass="list" title="Specification attributes" resKey="Admin.Catalog.Attributes.SpecificationAttributes" controller="SpecificationAttribute" action="List" area="Admin" />
      <siteMapNode id="checkout-attributes" iconClass="list" title="Checkout attributes" resKey="Admin.Catalog.Attributes.CheckoutAttributes" controller="CheckoutAttribute" action="List" area="Admin" />
    </siteMapNode>

      
    <siteMapNode id="sales" title="Sales" resKey="Admin.Sales" permissionNames="ManageOrders, ManageReturnRequests, ManageGiftCards" iconClass="bar-chart-o">
      <siteMapNode id="orders" iconClass="bar-chart-o" title="Orders" resKey="Admin.Orders" permissionNames="ManageOrders" controller="Order" action="List" area="Admin" />
      <siteMapNode id="shipments" iconClass="truck fa-flip-horizontal" title="Shipments" resKey="Admin.Orders.Shipments.List" permissionNames="ManageOrders" controller="Order" action="ShipmentList" area="Admin" />
      <siteMapNode id="recurring-payments" iconClass="repeat" title="Recurring payments" resKey="Admin.RecurringPayments" permissionNames="ManageOrders" controller="RecurringPayment" action="List" area="Admin" />
      <siteMapNode id="return-requests" iconClass="truck" title="Return requests" resKey="Admin.ReturnRequests" permissionNames="ManageReturnRequests" controller="ReturnRequest" action="List" area="Admin" />
      <siteMapNode id="gift-cards" iconClass="gift" title="Gift cards" resKey="Admin.GiftCards" permissionNames="ManageGiftCards" controller="GiftCard" action="List" area="Admin" />
      <siteMapNode id="sales-sep-1" isGroupHeader="true" title="[SKIP]" />
      <siteMapNode id="shopping-carts" iconClass="shopping-cart" title="Current shopping carts" resKey="Admin.CurrentCarts" permissionNames="ManageOrders" controller="ShoppingCart" action="CurrentCarts" area="Admin" />
      <siteMapNode id="wishlists" iconClass="heart-o" title="Current wishlists" resKey="Admin.CurrentWishlists" permissionNames="ManageOrders" controller="ShoppingCart" action="CurrentWishlists" area="Admin" />
      <siteMapNode id="system-sep-2" isGroupHeader="true" title="[SKIP]" />
      <siteMapNode id="bestsellers" iconClass="thumbs-up" title="Bestsellers" resKey="Admin.SalesReport.Bestsellers" permissionNames="ManageOrders" controller="Order" action="BestsellersReport" area="Admin" />
      <siteMapNode id="flopsellers" iconClass="thumbs-down" title="Products never purchased" resKey="Admin.SalesReport.NeverSold" permissionNames="ManageOrders" controller="Order" action="NeverSoldReport" area="Admin" />
    </siteMapNode>

      
    <siteMapNode id="users" title="Customers" resKey="Admin.Customers" permissionNames="ManageCustomers, ManageCustomerRoles, ManageExternalAuthenticationMethods, ManageActivityLog" iconClass="group">
      <siteMapNode id="customers" iconClass="user" title="Customers" resKey="Admin.Customers.Customers" permissionNames="ManageCustomers" controller="Customer" action="List" area="Admin" />
      <siteMapNode id="customer-roles" iconClass="group" title="Customer roles" resKey="Admin.Customers.CustomerRoles" permissionNames="ManageCustomerRoles" controller="CustomerRole" action="List" area="Admin" />
      <siteMapNode id="online-customers" iconClass="sign-in" title="Online customers" resKey="Admin.Customers.OnlineCustomers" permissionNames="ManageCustomers" controller="OnlineCustomer" action="List" area="Admin" />
      <siteMapNode id="customer-reports" iconClass="bar-chart-o" title="Customer reports" resKey="Admin.Customers.Reports" permissionNames="ManageCustomers" controller="Customer" action="Reports" area="Admin" />
      <siteMapNode id="external-auth" iconClass="facebook-square" title="External authentication methods" resKey="Admin.Configuration.ExternalAuthenticationMethods" permissionNames="ManageExternalAuthenticationMethods" controller="ExternalAuthentication" action="Providers" area="Admin"/>

      <siteMapNode id="users-sep-1" isGroupHeader="true" title="[SKIP]" />
      <siteMapNode id="activity-log" iconClass="eye" title="Activity Log" resKey="Admin.Configuration.ActivityLog.ActivityLog" permissionNames="ManageActivityLog" controller="ActivityLog" action="ListLogs" area="Admin" />
    </siteMapNode>

    <siteMapNode id="promotions" title="Promotions" resKey="Admin.Promotions" permissionNames="ManageAffiliates, ManageNewsletterSubscribers, ManageCampaigns, ManageDiscounts" iconClass="bullhorn">
      <siteMapNode id="discounts" iconClass="signal fa-flip-horizontal" title="Discounts" resKey="Admin.Promotions.Discounts" permissionNames="ManageDiscounts" controller="Discount" action="List" area="Admin" />
      <siteMapNode id="affiliates" iconClass="group" title="Affiliates" resKey="Admin.Affiliates" permissionNames="ManageAffiliates" controller="Affiliate" action="List" area="Admin" />
      <siteMapNode id="newsletter-subscribers" iconClass="envelope" title="Newsletter subscriptions" resKey="Admin.Promotions.NewsletterSubscriptions" permissionNames="ManageNewsletterSubscribers" controller="NewsLetterSubscription" action="List" area="Admin" />
      <siteMapNode id="campaigns" iconClass="bullhorn" title="Campaigns" resKey="Admin.Promotions.Campaigns" permissionNames="ManageCampaigns" controller="Campaign" action="List" area="Admin" />
    </siteMapNode>

      
    <siteMapNode id="cms" title="CMS" resKey="Admin.ContentManagement" permissionNames="ManagePolls, ManageNews, ManageBlog, ManageWidgets, ManageTopics, ManageForums, ManageMessageTemplates" iconClass="folder-open-o">
      <siteMapNode id="topics" iconClass="file-o" title="Pages &amp; Topics" resKey="Admin.ContentManagement.Topics" permissionNames="ManageTopics" controller="Topic" action="List" area="Admin" />
      <siteMapNode id="news" iconClass="rss" title="News" resKey="Admin.ContentManagement.News" permissionNames="ManageNews" area="Admin" >
        <siteMapNode id="news-items" title="News items" resKey="Admin.ContentManagement.News.NewsItems" controller="News" action="List" area="Admin" />
        <siteMapNode id="news-comments" title="News comments" resKey="Admin.ContentManagement.News.Comments" controller="News" action="Comments" area="Admin" />
      </siteMapNode>
      <siteMapNode id="blog" iconClass="edit" title="Blog" resKey="Admin.ContentManagement.Blog" permissionNames="ManageBlog">
        <siteMapNode id="blog-posts" title="Blog posts" resKey="Admin.ContentManagement.Blog.BlogPosts" controller="Blog" action="List" area="Admin" />
        <siteMapNode id="blog-comments" title="Blog comments" resKey="Admin.ContentManagement.Blog.Comments" controller="Blog" action="Comments" area="Admin" />
      </siteMapNode>
      <siteMapNode id="forums" iconClass="group" title="Manage forums" resKey="Admin.ContentManagement.Forums" permissionNames="ManageForums" controller="Forum" action="List" area="Admin" />
      <siteMapNode id="content-slider" iconClass="ellipsis-h" title="Content slider" resKey="Admin.ContentManagement.ContentSlider" permissionNames="ManageContentSlider" controller="ContentSlider"  action="Index" area="Admin" />
      <siteMapNode id="message-templates" iconClass="envelope-o" title="Message templates" resKey="Admin.ContentManagement.MessageTemplates" permissionNames="ManageMessageTemplates" controller="MessageTemplate" action="List" area="Admin" />
      <siteMapNode id="polls" iconClass="tasks" title="Polls" resKey="Admin.ContentManagement.Polls" permissionNames="ManagePolls" controller="Poll" action="List" area="Admin" />
      <siteMapNode id="widgets" iconClass="plus-square" title="Widgets" resKey="Admin.ContentManagement.Widgets" permissionNames="ManageWidgets" controller="Widget" action="Providers" area="Admin" />
    </siteMapNode>

      
    <siteMapNode id="configuration" title="Configuration" resKey="Admin.Configuration" permissionNames="ManageCountries,ManageLanguages,ManageSettings,ManagePaymentMethods,ManageTaxSettings,ManageShippingSettings,ManageCurrencies,ManageDeliveryTimes,ManageQuantityUnits,ManageMeasures,ManageActivityLog,ManageACL,ManageSMSProviders,ManageEmailAccounts,ManageThemes,ManagePlugins"
       iconClass="sliders">
      <siteMapNode id="settings" iconClass="sliders" title="Settings" resKey="Admin.Configuration.Settings" permissionNames="ManageSettings">
        <siteMapNode id="general-settings" title="General and common settings" resKey="Admin.Configuration.Settings.GeneralCommon" controller="Setting" action="GeneralCommon" area="Admin" />
        <siteMapNode id="catalog-settings" title="Catalog settings" resKey="Admin.Configuration.Settings.Catalog" controller="Setting" action="Catalog" area="Admin" />
        <siteMapNode id="customer-settings" title="Customer and user settings" resKey="Admin.Configuration.Settings.CustomerUser" controller="Setting" action="CustomerUser" area="Admin" />
        <siteMapNode id="cart-settings" title="Shopping cart settings" resKey="Admin.Configuration.Settings.ShoppingCart" controller="Setting" action="ShoppingCart" area="Admin"/>
        <siteMapNode id="order-settings" title="Order settings" resKey="Admin.Configuration.Settings.Order" controller="Setting" action="Order" area="Admin" />
        <siteMapNode id="media-settings" title="Media settings" resKey="Admin.Configuration.Settings.Media" controller="Setting" action="Media" area="Admin" />
        <siteMapNode id="tax-settings" title="Tax settings" resKey="Admin.Configuration.Settings.Tax" controller="Setting" action="Tax" area="Admin" />
        <siteMapNode id="shipping-settings" title="Shipping settings" resKey="Admin.Configuration.Settings.Shipping" controller="Setting" action="Shipping" area="Admin" />
        <siteMapNode id="reward-points-settings" title="Reward points" resKey="Admin.Configuration.Settings.RewardPoints" controller="Setting" action="RewardPoints" area="Admin" />
        <siteMapNode id="blog-settings" title="Blog settings" resKey="Admin.Configuration.Settings.Blog" controller="Setting" action="Blog" area="Admin" />
        <siteMapNode id="news-settings" title="News settings" resKey="Admin.Configuration.Settings.News" controller="Setting" action="News" area="Admin" />
        <siteMapNode id="forum-settings" title="Forums settings" resKey="Admin.Configuration.Settings.Forums" controller="Setting" action="Forum" area="Admin" />
        <siteMapNode id="dataexchange-settings" title="Data exchange settings" resKey="Admin.Common.DataExchange" controller="Setting" action="DataExchange" area="Admin" />

        <siteMapNode id="configuration-sep-1" isGroupHeader="true" title="[SKIP]" />
        <siteMapNode id="all-settings" title="All settings (settings)" resKey="Admin.Configuration.Settings.AllSettings" controller="Setting" action="AllSettings" area="Admin" />
      </siteMapNode>
      
			<siteMapNode id="stores" iconClass="shopping-cart" title="Stores" resKey="Admin.Common.Stores" permissionNames="ManageStores" controller="Store" action="List" area="Admin" />
      
      <siteMapNode id="regional-settings" iconClass="globe" title="Regional Settings" resKey="Admin.Configuration.RegionalSettings" permissionNames="ManageSettings">
        <siteMapNode id="countries" xiconClass="globe" title="Countries" resKey="Admin.Configuration.Countries" permissionNames="ManageCountries" controller="Country" action="List" area="Admin" />
        <siteMapNode id="languages" xiconClass="flag-alt" title="Languages" resKey="Admin.Configuration.Languages" permissionNames="ManageLanguages" controller="Language" action="List" area="Admin" />
        <siteMapNode id="currencies" xiconClass="money" title="Currencies" resKey="Admin.Configuration.Currencies" permissionNames="ManageCurrencies" controller="Currency" action="List" area="Admin" />
        <siteMapNode id="shipping-header" isGroupHeader="true" title="Shipping" resKey="Admin.Configuration.Shipping" permissionNames="ManageShippingSettings" />
        <siteMapNode id="shipping-methods" title="Shipping methods" resKey="Admin.Configuration.Shipping.Methods" permissionNames="ManageShippingSettings" controller="Shipping" action="Methods" area="Admin" />
        <siteMapNode id="shipping-providers" title="Shipping providers" resKey="Admin.Configuration.Shipping.Providers" permissionNames="ManageShippingSettings" controller="Shipping" action="Providers" area="Admin" />
        <siteMapNode id="tax-header" isGroupHeader="true" title="Tax" resKey="Admin.Configuration.Tax" permissionNames="ManageTaxSettings" />
        <siteMapNode id="tax-providers" title="Tax providers" resKey="Admin.Configuration.Tax.Providers" permissionNames="ManageTaxSettings" controller="Tax" action="Providers" area="Admin" />
        <siteMapNode id="tax-categories" title="Tax categories" resKey="Admin.Configuration.Tax.Categories" permissionNames="ManageTaxSettings" controller="Tax" action="Categories" area="Admin" />
      </siteMapNode>
      
      <siteMapNode id="payment-methods" iconClass="credit-card" title="Payment methods" resKey="Admin.Configuration.Payment.Methods" permissionNames="ManagePaymentMethods" controller="Payment" action="Providers" area="Admin" />
      
      <siteMapNode id="list-settings" iconClass="bars" title="Lists" resKey="Admin.Configuration.Lists" permissionNames="ManageSettings,ManageDeliveryTimes,ManageQuantityUnits">
        <siteMapNode id="delivery-times" xiconClass="calendar" title="Delivery Times" resKey="Admin.Configuration.DeliveryTimes" permissionNames="ManageDeliveryTimes" controller="DeliveryTime" action="List" area="Admin" />
        <siteMapNode id="quantity-units" xiconClass="gift" title="Quantity Units" resKey="Admin.Configuration.QuantityUnit" permissionNames="ManageQuantityUnits" controller="QuantityUnit" action="List" area="Admin" />
        <siteMapNode id="weights" title="Weights" resKey="Admin.Configuration.Measures.Weights" controller="Measure" action="Weights" area="Admin" />
        <siteMapNode id="dimensions" title="Dimensions" resKey="Admin.Configuration.Measures.Dimensions" controller="Measure" action="Dimensions" area="Admin" />
      </siteMapNode>
      
      <siteMapNode id="email-accounts" iconClass="envelope" title="EmailAccounts" resKey="Admin.Configuration.EmailAccounts" permissionNames="ManageEmailAccounts" controller="EmailAccount" action="List" area="Admin" />

      <siteMapNode id="activity-types" iconClass="eye" title="Activity Types" resKey="Admin.Configuration.ActivityLog.ActivityLogType" permissionNames="ManageActivityLog" controller="ActivityLog" action="ListTypes" area="Admin" />
      <siteMapNode id="acl" iconClass="lock" title="Access control list" resKey="Admin.Configuration.ACL" permissionNames="ManageACL" controller="Security" action="Permissions" area="Admin" />

      <siteMapNode id="data-sep-1" isGroupHeader="true" title="[SKIP]" />
      <siteMapNode id="import" iconClass="download " title="Import" resKey="Common.Import" permissionNames="ManageImports" controller="Import" action="List" area="Admin" />
      <siteMapNode id="export" iconClass="upload " title="Export" resKey="Common.Export" permissionNames="ManageExports" controller="Export" action="List" area="Admin" />

      <siteMapNode id="payment-methods-sep-1" isGroupHeader="true" title="[SKIP]" />
      <siteMapNode id="themes" iconClass="picture-o" title="Themes" resKey="Admin.Configuration.Themes" permissionNames="ManageThemes" controller="Theme" action="List" area="Admin"/>
    </siteMapNode>

    <siteMapNode id="system" title="System" resKey="Admin.System" iconClass="database">
      <siteMapNode id="system-log" iconClass="bolt" title="Log" resKey="Admin.System.Log" permissionNames="ManageSystemLog" controller="Log" action="List" area="Admin" />
      <siteMapNode id="queued-emails" iconClass="envelope" title="Queued emails" resKey="Admin.System.QueuedEmails" permissionNames="ManageMessageQueue" controller="QueuedEmail" action="List" area="Admin" />
      <siteMapNode id="maintenance" iconClass="database" title="Maintenance" resKey="Admin.System.Maintenance" permissionNames="ManageMaintenance" controller="Common" action="Maintenance" area="Admin" />
      <siteMapNode id="scheduled tasks" iconClass="clock-o" title="Schedule tasks" resKey="Admin.System.ScheduleTasks" permissionNames="ManageScheduleTasks" controller="ScheduleTask" action="List" area="Admin" />
      <siteMapNode id="seo-names" iconClass="search" title="Search engine friendly names" resKey="Admin.System.SeNames" permissionNames="ManageMaintenance" controller="UrlRecord" action="List" area="Admin" />
      <siteMapNode id="warnings" iconClass="exclamation-triangle" title="Warnings" resKey="Admin.System.Warnings" controller="Common" action="Warnings" area="Admin" />
      <siteMapNode id="system-info" iconClass="info-circle" title="System information" resKey="Admin.System.SystemInfo" controller="Common" action="SystemInfo" area="Admin" />
    </siteMapNode>

    <siteMapNode id="plugins" title="Plugins" resKey="Admin.Plugins" iconClass="puzzle-piece" permissionNames="ManagePlugins">
      <siteMapNode id="plugins-sep-1" isGroupHeader="true" title="[SKIP]" />
      <siteMapNode id="plugins-manage" iconClass="puzzle-piece" title="Manage plugins" resKey="Admin.Plugins.Manage" permissionNames="ManagePlugins" controller="Plugin" action="List" area="Admin"/>
    </siteMapNode>
    
  </siteMapNode>
</siteMap>

