<?xml version="1.0" encoding="utf-8" ?>
<siteMap>

    <siteMapNode id="home" title="Home" controller="Home" action="Overview" area="Admin">

        <!--
      Top nodes use 'fontastic' icon font, children use 'font-awesome'
    -->

        <siteMapNode id="dashboard" title="Dashboard" resKey="Admin.Dashboard" controller="Home" action="Index" area="Admin" iconClass="icm icm-home" />

        <siteMapNode id="catalog" title="Catalog" resKey="Admin.Catalog" iconClass="icm icm-cube" permissionNames="catalog.product, catalog.productreview, catalog.category, catalog.manufacturer, catalog.variant, catalog.attribute, cart.checkoutattribute">
            <siteMapNode id="categories-list" title="List" resKey="Admin.Catalog.Categories" controller="Category" action="Index" area="Admin" iconClass="fa fa-sitemap" permissionNames="catalog.category" />
            <siteMapNode id="products" iconClass="fa fa-cube" title="Manage products" resKey="Admin.Catalog.Products.Manage" controller="Product" action="List" area="Admin" permissionNames="catalog.product" />
            <siteMapNode id="products-bulk-edit" iconClass="fa fa-cubes" title="Bulk edit products" resKey="Admin.Catalog.BulkEdit" controller="Product" action="BulkEdit" area="Admin" permissionNames="catalog.product" />
            <siteMapNode id="reviews" iconClass="far fa-star-half" title="Product reviews" resKey="Admin.Catalog.ProductReviews" controller="ProductReview" action="List" area="Admin" permissionNames="catalog.productreview" />
            <siteMapNode id="manufacturers" iconClass="far fa-building" title="Manufacturers" resKey="Admin.Catalog.Manufacturers" controller="Manufacturer" action="List" area="Admin" permissionNames="catalog.manufacturer" />
            <siteMapNode id="tags" title="Product tags" resKey="Admin.Catalog.ProductTags" controller="Product" action="ProductTags" area="Admin" iconClass="fa fa-tags" permissionNames="catalog.product" />
            <siteMapNode id="stockreport" iconClass="fa fa-sort-numeric-down" title="Low stock report" resKey="Admin.Catalog.LowStockReport" controller="Product" action="LowStockReport" area="Admin" permissionNames="catalog.product" />

            <siteMapNode id="attributes-header" isGroupHeader="true" title="Attributes" resKey="Admin.Catalog.Attributes" />
            <siteMapNode id="attributes" iconClass="far fa-list-alt" title="Products attributes" resKey="Admin.Catalog.Attributes.ProductAttributes" controller="ProductAttribute" action="List" area="Admin" permissionNames="catalog.variant" />
            <siteMapNode id="specification-attributes" iconClass="fa fa-list" title="Specification attributes" resKey="Admin.Catalog.Attributes.SpecificationAttributes" controller="SpecificationAttribute" action="List" area="Admin" permissionNames="catalog.attribute" />
            <siteMapNode id="checkout-attributes" iconClass="fa fa-list" title="Checkout attributes" resKey="Admin.Catalog.Attributes.CheckoutAttributes" permissionNames="cart.checkoutattribute" controller="CheckoutAttribute" action="List" area="Admin" />
        </siteMapNode>


        <siteMapNode id="sales" title="Sales" resKey="Admin.Sales" permissionNames="order" iconClass="icm icm-chart-growth">
            <siteMapNode id="orders" iconClass="far fa-chart-bar" title="Orders" resKey="Admin.Orders" permissionNames="order" controller="Order" action="List" area="Admin" />
            <siteMapNode id="shipments" iconClass="fa fa-truck-moving fa-flip-horizontal" title="Shipments" resKey="Admin.Orders.Shipments.List" permissionNames="order" controller="Order" action="ShipmentList" area="Admin" />
            <siteMapNode id="recurring-payments" iconClass="fa fa-redo" title="Recurring payments" resKey="Admin.RecurringPayments" permissionNames="order" controller="RecurringPayment" action="List" area="Admin" />
            <siteMapNode id="return-requests" iconClass="fa fa-truck-moving" title="Return requests" resKey="Admin.ReturnRequests" permissionNames="order.returnrequest" controller="ReturnRequest" action="List" area="Admin" />
            <siteMapNode id="gift-cards" iconClass="fa fa-gifts" title="Gift cards" resKey="Admin.GiftCards" permissionNames="order.giftcard" controller="GiftCard" action="List" area="Admin" />
            <siteMapNode id="sales-sep-1" isGroupHeader="true" title="[SKIP]" />
            <siteMapNode id="shopping-carts" iconClass="fa fa-cart-arrow-down" title="Current shopping carts" resKey="Admin.CurrentCarts" permissionNames="order" controller="ShoppingCart" action="CurrentCarts" area="Admin" />
            <siteMapNode id="wishlists" iconClass="far fa-heart" title="Current wishlists" resKey="Admin.CurrentWishlists" permissionNames="order" controller="ShoppingCart" action="CurrentWishlists" area="Admin" />
            <siteMapNode id="system-sep-2" isGroupHeader="true" title="[SKIP]" />
            <siteMapNode id="bestsellers" iconClass="far fa-thumbs-up" title="Bestsellers" resKey="Admin.SalesReport.Bestsellers" permissionNames="order" controller="Order" action="BestsellersReport" area="Admin" />
            <siteMapNode id="flopsellers" iconClass="far fa-thumbs-down" title="Products never purchased" resKey="Admin.SalesReport.NeverSold" permissionNames="order" controller="Order" action="NeverSoldReport" area="Admin" />
        </siteMapNode>


        <siteMapNode id="users" title="Customers" resKey="Admin.Customers" permissionNames="customer, configuration.authentication, configuration.activitylog" iconClass="icm icm-users2">
            <siteMapNode id="customers" iconClass="fa fa-user-alt" title="Customers" resKey="Admin.Customers.Customers" permissionNames="customer" controller="Customer" action="List" area="Admin" />
            <siteMapNode id="customer-roles" iconClass="fa fa-users" title="Customer roles" resKey="Admin.Customers.CustomerRoles" permissionNames="customer.role" controller="CustomerRole" action="List" area="Admin" />
            <siteMapNode id="online-customers" iconClass="fa fa-sign-in-alt" title="Online customers" resKey="Admin.Customers.OnlineCustomers" permissionNames="customer" controller="OnlineCustomer" action="List" area="Admin" />
            <siteMapNode id="customer-reports" iconClass="far fa-chart-bar" title="Customer reports" resKey="Admin.Customers.Reports" permissionNames="customer" controller="Customer" action="Reports" area="Admin" />
            <siteMapNode id="external-auth" iconClass="fab fa-facebook-square" title="External authentication methods" resKey="Admin.Configuration.ExternalAuthenticationMethods" permissionNames="configuration.authentication" controller="ExternalAuthentication" action="Providers" area="Admin"/>

            <siteMapNode id="users-sep-1" isGroupHeader="true" title="[SKIP]" />
            <siteMapNode id="activity-log" iconClass="far fa-eye" title="Activity Log" resKey="Admin.Configuration.ActivityLog.ActivityLog" permissionNames="configuration.activitylog" controller="ActivityLog" action="ListLogs" area="Admin" />
        </siteMapNode>

        <siteMapNode id="promotions" title="Promotions" resKey="Admin.Promotions" permissionNames="promotion" iconClass="icm icm-bullhorn">
            <siteMapNode id="discounts" iconClass="fa fa-signal fa-flip-horizontal" title="Discounts" resKey="Admin.Promotions.Discounts" permissionNames="promotion.discount" controller="Discount" action="List" area="Admin" />
            <siteMapNode id="affiliates" iconClass="fa fa-user-friends" title="Affiliates" resKey="Admin.Affiliates" permissionNames="promotion.affiliate" controller="Affiliate" action="List" area="Admin" />
            <siteMapNode id="newsletter-subscribers" iconClass="fa fa-envelope" title="Newsletter subscriptions" resKey="Admin.Promotions.NewsletterSubscriptions" permissionNames="promotion.newsletter" controller="NewsLetterSubscription" action="List" area="Admin" />
            <siteMapNode id="campaigns" iconClass="fa fa-bullhorn" title="Campaigns" resKey="Admin.Promotions.Campaigns" permissionNames="promotion.campaign" controller="Campaign" action="List" area="Admin" />
        </siteMapNode>


        <siteMapNode id="cms" title="CMS" resKey="Admin.ContentManagement" permissionNames="cms" iconClass="icm icm-site-map">
            <siteMapNode id="topics" iconClass="far fa-file-alt" title="Pages &amp; Topics" resKey="Admin.ContentManagement.Topics" permissionNames="cms.topic" controller="Topic" action="List" area="Admin" />
            <siteMapNode id="menus" iconClass="far fa-stream" title="Menus" resKey="Admin.ContentManagement.Menus" permissionNames="cms.menu" controller="Menu" action="List" area="Admin" />
            <siteMapNode id="news" iconClass="far fa-newspaper" title="News" resKey="Admin.ContentManagement.News" permissionNames="cms.news" area="Admin" >
                <siteMapNode id="news-items" title="News items" resKey="Admin.ContentManagement.News.NewsItems" controller="News" action="List" area="Admin" />
                <siteMapNode id="news-comments" title="News comments" resKey="Admin.ContentManagement.News.Comments" controller="News" action="Comments" area="Admin" />
            </siteMapNode>
            <siteMapNode id="blog" iconClass="fa fa-blog" title="Blog" resKey="Admin.ContentManagement.Blog" permissionNames="cms.blog">
                <siteMapNode id="blog-posts" title="Blog posts" resKey="Admin.ContentManagement.Blog.BlogPosts" controller="Blog" action="List" area="Admin" />
                <siteMapNode id="blog-comments" title="Blog comments" resKey="Admin.ContentManagement.Blog.Comments" controller="Blog" action="Comments" area="Admin" />
            </siteMapNode>
            <siteMapNode id="forums" iconClass="fa fa-users" title="Manage forums" resKey="Admin.ContentManagement.Forums" permissionNames="cms.forum" controller="Forum" action="List" area="Admin" />
            <siteMapNode id="message-templates" iconClass="far fa-envelope" title="Message templates" resKey="Admin.ContentManagement.MessageTemplates" permissionNames="cms.messagetemplate" controller="MessageTemplate" action="List" area="Admin" />
            <siteMapNode id="polls" iconClass="fa fa-tasks" title="Polls" resKey="Admin.ContentManagement.Polls" permissionNames="cms.poll" controller="Poll" action="List" area="Admin" />
            <siteMapNode id="widgets" iconClass="fa fa-plus-square" title="Widgets" resKey="Admin.ContentManagement.Widgets" permissionNames="cms.widget" controller="Widget" action="Providers" area="Admin" />
        </siteMapNode>


        <siteMapNode id="configuration" title="Configuration" resKey="Admin.Configuration" iconClass="icm icm-equalizer" permissionNames="configuration.setting, configuration.store, configuration.country, configuration.language, configuration.currency, configuration.shipping, configuration.tax, configuration.paymentmethod, configuration.deliverytime, configuration.measure, configuration.emailaccount, configuration.activitylog, configuration.import, configuration.export, configuration.theme">
            <siteMapNode id="settings" iconClass="fa fa-sliders-h" title="Settings" resKey="Admin.Configuration.Settings" permissionNames="configuration.setting" controller="Setting" action="GeneralCommon" area="Admin">
                <!--<siteMapNode id="general-settings" title="General and common settings" resKey="Admin.Configuration.Settings.GeneralCommon" controller="Setting" action="GeneralCommon" area="Admin" />
                <siteMapNode id="catalog-settings" title="Catalog settings" resKey="Admin.Configuration.Settings.Catalog" controller="Setting" action="Catalog" area="Admin" />
                <siteMapNode id="search-settings" title="Search settings" resKey="Search.Title" controller="Setting" action="Search" area="Admin" />
                <siteMapNode id="customer-settings" title="Customer and user settings" resKey="Admin.Configuration.Settings.CustomerUser" controller="Setting" action="CustomerUser" area="Admin" />
                <siteMapNode id="cart-settings" title="Shopping cart settings" resKey="Admin.Configuration.Settings.ShoppingCart" controller="Setting" action="ShoppingCart" area="Admin"/>
                <siteMapNode id="order-settings" title="Order settings" resKey="Admin.Configuration.Settings.Order" controller="Setting" action="Order" area="Admin" />
                <siteMapNode id="payment-settings" title="Payment settings" resKey="Admin.Configuration.Payment" controller="Setting" action="Payment" area="Admin" />
                <siteMapNode id="media-settings" title="Media settings" resKey="Admin.Configuration.Settings.Media" controller="Setting" action="Media" area="Admin" />
                <siteMapNode id="tax-settings" title="Tax settings" resKey="Admin.Configuration.Settings.Tax" controller="Setting" action="Tax" area="Admin" />
                <siteMapNode id="shipping-settings" title="Shipping settings" resKey="Admin.Configuration.Settings.Shipping" controller="Setting" action="Shipping" area="Admin" />
                <siteMapNode id="reward-points-settings" title="Reward points" resKey="Admin.Configuration.Settings.RewardPoints" controller="Setting" action="RewardPoints" area="Admin" />
                <siteMapNode id="blog-settings" title="Blog settings" resKey="Admin.Configuration.Settings.Blog" controller="Setting" action="Blog" area="Admin" />
                <siteMapNode id="news-settings" title="News settings" resKey="Admin.Configuration.Settings.News" controller="Setting" action="News" area="Admin" />
                <siteMapNode id="forum-settings" title="Forums settings" resKey="Admin.Configuration.Settings.Forums" controller="Setting" action="Forum" area="Admin" />
                <siteMapNode id="dataexchange-settings" title="Data exchange settings" resKey="Admin.Common.DataExchange" controller="Setting" action="DataExchange" area="Admin" />
                <siteMapNode id="configuration-sep-1" isGroupHeader="true" title="[SKIP]" />
                <siteMapNode id="all-settings" title="All settings (settings)" resKey="Admin.Configuration.Settings.AllSettings" controller="Setting" action="AllSettings" area="Admin" />-->
            </siteMapNode>

            <siteMapNode id="stores" iconClass="fa fa-globe" title="Stores" resKey="Admin.Common.Stores" permissionNames="configuration.store" controller="Store" action="List" area="Admin" />

            <siteMapNode id="regional-settings" iconClass="fa fa-language" title="Regional Settings" resKey="Admin.Configuration.RegionalSettings" permissionNames="configuration.country, configuration.language, configuration.currency, configuration.shipping, configuration.tax">
                <siteMapNode id="countries" xiconClass="globe" title="Countries" resKey="Admin.Configuration.Countries" permissionNames="configuration.country" controller="Country" action="List" area="Admin" />
                <siteMapNode id="languages" xiconClass="flag-alt" title="Languages" resKey="Admin.Configuration.Languages" permissionNames="configuration.language" controller="Language" action="List" area="Admin" />
                <siteMapNode id="currencies" xiconClass="money" title="Currencies" resKey="Admin.Configuration.Currencies" permissionNames="configuration.currency" controller="Currency" action="List" area="Admin" />
                <siteMapNode id="shipping-header" isGroupHeader="true" title="Shipping" resKey="Admin.Configuration.Shipping" permissionNames="configuration.shipping" />
                <siteMapNode id="shipping-methods" title="Shipping methods" resKey="Admin.Configuration.Shipping.Methods" permissionNames="configuration.shipping" controller="Shipping" action="Methods" area="Admin" />
                <siteMapNode id="shipping-providers" title="Shipping providers" resKey="Admin.Configuration.Shipping.Providers" permissionNames="configuration.shipping" controller="Shipping" action="Providers" area="Admin" />
                <siteMapNode id="tax-header" isGroupHeader="true" title="Tax" resKey="Admin.Configuration.Tax" permissionNames="configuration.tax" />
                <siteMapNode id="tax-providers" title="Tax providers" resKey="Admin.Configuration.Tax.Providers" permissionNames="configuration.tax" controller="Tax" action="Providers" area="Admin" />
                <siteMapNode id="tax-categories" title="Tax categories" resKey="Admin.Configuration.Tax.Categories" permissionNames="configuration.tax" controller="Tax" action="Categories" area="Admin" />
            </siteMapNode>

            <siteMapNode id="payment-methods" iconClass="far fa-credit-card" title="Payment methods" resKey="Admin.Configuration.Payment.Methods" permissionNames="configuration.paymentmethod" controller="Payment" action="Providers" area="Admin" />

            <siteMapNode id="list-settings" iconClass="fa fa-bars" title="Lists" resKey="Admin.Configuration.Lists" permissionNames="configuration.deliverytime, configuration.measure">
                <siteMapNode id="delivery-times" xiconClass="calendar" title="Delivery Times" resKey="Admin.Configuration.DeliveryTimes" permissionNames="configuration.deliverytime" controller="DeliveryTime" action="List" area="Admin" />
                <siteMapNode id="quantity-units" xiconClass="gift" title="Quantity Units" resKey="Admin.Configuration.QuantityUnit" permissionNames="configuration.measure" controller="QuantityUnit" action="List" area="Admin" />
                <siteMapNode id="weights" title="Weights" resKey="Admin.Configuration.Measures.Weights" permissionNames="configuration.measure" controller="Measure" action="Weights" area="Admin" />
                <siteMapNode id="dimensions" title="Dimensions" resKey="Admin.Configuration.Measures.Dimensions" permissionNames="configuration.measure" controller="Measure" action="Dimensions" area="Admin" />
            </siteMapNode>

            <siteMapNode id="email-accounts" iconClass="fa fa-envelope" title="EmailAccounts" resKey="Admin.Configuration.EmailAccounts" permissionNames="configuration.emailaccount" controller="EmailAccount" action="List" area="Admin" />

            <siteMapNode id="activity-types" iconClass="fa fa-eye" title="Activity Types" resKey="Admin.Configuration.ActivityLog.ActivityLogType" permissionNames="configuration.activitylog" controller="ActivityLog" action="ListTypes" area="Admin" />

            <siteMapNode id="data-sep-1" isGroupHeader="true" title="[SKIP]" />
            <siteMapNode id="import" iconClass="fa fa-download " title="Import" resKey="Common.Import" permissionNames="configuration.import" controller="Import" action="List" area="Admin" />
            <siteMapNode id="export" iconClass="fa fa-upload " title="Export" resKey="Common.Export" permissionNames="configuration.export" controller="Export" action="List" area="Admin" />

            <siteMapNode id="payment-methods-sep-1" isGroupHeader="true" title="[SKIP]" />
            <siteMapNode id="themes" iconClass="fa fa-fill-drip" title="Themes" resKey="Admin.Configuration.Themes" permissionNames="configuration.theme" controller="Theme" action="List" area="Admin"/>
        </siteMapNode>

        <siteMapNode id="system" title="System" resKey="Admin.System" iconClass="icm icm-database" permissionNames="system">
            <siteMapNode id="rulesets" iconClass="fa fa-filter" title="Rules" resKey="Common.Rules" permissionNames="system.rule" controller="Rule" action="List" area="Admin" />
            <siteMapNode id="system-log" iconClass="fa fa-fire" title="Log" resKey="Admin.System.Log" permissionNames="system.log" controller="Log" action="List" area="Admin" />
            <siteMapNode id="queued-emails" iconClass="fa fa-mail-bulk" title="Queued emails" resKey="Admin.System.QueuedEmails" permissionNames="system.message" controller="QueuedEmail" action="List" area="Admin" />
            <siteMapNode id="maintenance" iconClass="fa fa-database" title="Maintenance" resKey="Admin.System.Maintenance" permissionNames="system.maintenance" controller="Common" action="Maintenance" area="Admin" />
            <siteMapNode id="scheduled tasks" iconClass="far fa-clock" title="Schedule tasks" resKey="Admin.System.ScheduleTasks" permissionNames="system.scheduletask" controller="ScheduleTask" action="List" area="Admin" />
            <siteMapNode id="seo-names" iconClass="fa fa-search" title="Search engine friendly names" resKey="Admin.System.SeNames" permissionNames="system.urlrecord" controller="UrlRecord" action="List" area="Admin" />
            <siteMapNode id="warnings" iconClass="fa fa-exclamation-triangle" title="Warnings" resKey="Admin.System.Warnings" permissionNames="system.maintenance" controller="Common" action="Warnings" area="Admin" />
            <siteMapNode id="system-info" iconClass="fa fa-info-circle" title="System information" resKey="Admin.System.SystemInfo" permissionNames="system.maintenance" controller="Common" action="SystemInfo" area="Admin" />
        </siteMapNode>

        <siteMapNode id="plugins" title="Plugins" resKey="Admin.Plugins" iconClass="icm icm-puzzle" permissionNames="configuration.plugin.read">
            <siteMapNode id="plugins-sep-1" isGroupHeader="true" title="[SKIP]" />
            <siteMapNode id="plugins-manage" iconClass="fa fa-puzzle-piece" title="Manage plugins" resKey="Admin.Plugins.Manage" permissionNames="configuration.plugin.read" controller="Plugin" action="List" area="Admin"/>
        </siteMapNode>

    </siteMapNode>
</siteMap>