@{
    Layout = "";
}
@model Telerik.Web.Mvc.GridModel<SmartStore.Plugin.Shipping.FixedRate.Models.FixedShippingRateModel>
@using Telerik.Web.Mvc.UI;
@using System.Linq;

<table class="adminContent">
    <tr>
        <td>
			@(Html.Telerik().Grid(Model.Data)
				.Name("Grid")
				.DataKeys(keys => keys.Add(x => x.ShippingMethodId).RouteKey("ShippingMethodId"))
				.Columns(columns =>
				{
					columns.Bound(x => x.ShippingMethodName)
						.ReadOnly();
					columns.Bound(x => x.Rate)
						.Format("{0:0.00}")
						.Width(180);
					columns.Command(commands =>
					{
						commands.Edit();
					}).Width(180);
				})
				.Editable(x =>
				{
					x.Mode(GridEditMode.InLine);
				})
				.DataBinding(dataBinding =>
				{
					dataBinding.Ajax()
						.Select("Configure", "ShippingFixedRate", new RouteValueDictionary() { { "Namespaces", "SmartStore.Plugin.Shipping.FixedRate.Controllers" }, { "area", "" } })
						.Update("ShippingRateUpdate", "ShippingFixedRate", new RouteValueDictionary() { { "Namespaces", "SmartStore.Plugin.Shipping.FixedRate.Controllers" }, { "area", "" } });
				})
				.EnableCustomBinding(true))
        </td>
    </tr>
</table>
