@model TopicWidgetModel
@using SmartStore.Web.Models.Topics;

@{
    Layout = "";
}

@if (!Model.WrapContent)
{
	<text>@Html.Raw(Model.Html)</text>
	return;
}

<div class="block @(Model.IsBordered ? "block-boxed" : "") topic-widget topic-widget-@Model.SystemName">
    @if (Model.ShowTitle) {
		<div class="block-title">
			@Html.Raw("<" + Model.TitleTag + ">" + Model.Title + "</" + Model.TitleTag + ">")
		</div>
    }
    <div class="block-body">
        @Html.Raw(Html.CollapsedText(Model.Html))
    </div>
</div>