@model IList<SystemWarningModel>
@{
    //page title
    ViewBag.Title = T("Admin.System.Warnings").Text;
}
<div class="section-header">
    <div class="title">
		<i class="fa fa-exclamation-circle"></i>
        @T("Admin.System.Warnings")
    </div>
</div>
<div class="system-warnings">
    <ul>
        @foreach (var warning in Model)
        {
            <li>
                @switch (warning.Level)
                {
                    case SystemWarningLevel.Pass:
                        {
                            <span class="pass">
                                <i class="fa fa-check"></i>
                                @warning.Text
                            </span>
                        }
                        break;
                    case SystemWarningLevel.Warning:
                        {
                            <span class="warning">
                                <i class="fa fa-question-circle"></i>
                                @warning.Text
                            </span>
                        }
                        break;
                    case SystemWarningLevel.Fail:
                        {
                            <span class="fail">
                                <i class="fa fa-times-circle"></i>
                                @warning.Text
                            </span>
                        }
                        break;
                }
            </li>
        }
    </ul>
</div>
