/// <reference path="bs4/scss/bootstrap.scss" />

// OffCanvas Cart
// =================================

#offcanvas-cart {
    .tab-content {
        position: absolute;
        left: 0;
        top: 100px;
        right: 0;
        bottom: 0;
    }

    .tab-pane {
        padding: 0;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        > * { width: 100%; z-index: 1; }
    }

    .price {
        white-space: nowrap;
        font-weight: 600;
    }
}

.offcanvas-cart-header {
    position: relative;
    background: #f7f7f7;
    height: 100px;

    .nav-tabs {
        display: flex;
        flex-direction: row;
    }

    .nav-item {
        display: block;
        flex-wrap: nowrap;

        .nav-link {
            background: transparent !important;
            max-width: 100%;
        }

        span.title {
            display: inline-block;
            max-width: 90%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
            line-height: 1.6rem;
        }

        span.label {
            vertical-align: super;
            @include media-breakpoint-down(sm) {
                margin-left: -1.5rem;
                vertical-align: top;
            }
        }
        i {
            font-size: 2.5rem;
        }
    }
}

.offcanvas-cart-body {
    position: relative;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
	min-height: 100px;
    line-height: 1.5;

    .no-items {
	    margin: 2rem 1rem;
	    text-align: center;

        .no-item-title, .no-item-icon { margin-bottom: 1rem; }

        .no-item-title  { font-size: $font-size-h2; font-weight: 400; }
        .no-item-icon   { color: rgba(0,0,0, 0.15); }
        .no-item-info   { color: $text-muted; .fa { color: $body-color; } }
    }
}

.offcanvas-cart-item {
    border-bottom: 1px solid rgba(#000, 0.15);
    padding: $grid-gutter-width / 1.5;

    &:last-child { border-width: 0; }

    .col-alpha {
        width: 120px;
        max-width: 120px;
    }

    .col-data > * {
        //display: block;
        margin-bottom: 0.5rem;
    }

    .name { color: $body-color; }

    .unit-price { font-size: 1.25rem; line-height: 1.8; }

	.qty-input .form-control {
		border-color: transparent;
	}
    .mb-bundle-pictures {
        a, .fa {
            padding-right: 3px;
        }
        .fa {
            font-size: 0.625rem;
        }
        a:hover {
            text-decoration: none;
        }
    }
}

.offcanvas-cart-footer {
    background-color: $brand-success;
    color: #fff;
    padding: 1rem;
}

.offcanvas-cart-footer-row {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    line-height: 1.1;

    .sub-total-caption {
        text-transform: uppercase; 
        font-size: 0.8rem; 
    }

    .sub-total {
        font-size: 1.5rem;
    }

    @media (max-width: 480px) {
        .btn-action { display: block; }
        .btn-action + .btn-action { margin-top: 0.5rem; }
    }
}



// Full Cart
// =================================

.order-summary-content .selected-checkout-attributes,
.order-details .checkout-attributes {
	.attr-caption {
		font-weight: bold;
		padding-right: 10px;
		&:after {
			content: ': ' 
		}
	}
	.attr-value {
		text-align: left;
	}
}

.table-order-products .productpicture,
.table-order-products .remove,
.table-order-products .addtocart {
    text-align: center;
}



// LEGACY (Remove)
// =================================

.offcanvas-cart-body .items .item {
	position: relative; 
	padding: 8px 0 52px 5px;
    margin: 20px;

	&.more { 
		text-align: center;
		.name {
			color: #777;
			font-size: 1.1rem;
			font-weight: bold;
            color: $body-color;
            text-decoration: none;
	        transition: color .1s linear;
			&:hover {
				color: $gray;
			}
		}
	}

    .short-desc {
        white-space: initial;
        font-size: .825rem;
        color: #aaa;
        max-height: 60px;
        text-overflow: ellipsis;
    }

    .toolbar {
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        background: #fafafa;
        padding: .2em;
        position: absolute;
        bottom: 0;
        height: 44px;
        right: 0;
        left: 0;
        text-align: right;
        .qty-input {
            display: inline-block;
            width: 5.75rem;
        }
        .ajax-cart-link,
        .remove  {
            vertical-align: initial;
        }
    }

	.picture {
		display: inline-block;
		text-align: center;
		margin: 0; 
		margin-right: 4px;	
        width: 100px;
        img {
            max-width: 80px;
            max-height: 120px; 
        }
	}

    .mb-bundle-pictures {
        clear: both;
        margin-top: 20px;
        a:hover {
            text-decoration: none;
        }
    }

	.data {
		width: 260px;
		overflow: hidden;
        @include text-truncate()
	}
	
	.data .attributes {
		white-space: initial;
		line-height: 12px;
	}
	
	&.no-thumb .data {
		width: 240px;
	}
	
	.action {
		padding-left: 4px;
		i { font-size: 11px }
	}
	
	.price {
        text-align: right;
        font-weight: 600;
	}
}
.table-order-products .productpicture img {
	max-width: 70px;
}

    