/// <reference path="../bs4/scss/bootstrap.scss" />
/// <reference path="../../Content/bs4/scss/_variables.scss" />

/* File Upload
------------------------------------*/
.fileupload-container {
    position: relative;

    &.dz-highlight .dropzone-container,
    &.dz-drag-hover .dropzone-container {
        border-color: $primary !important;
        background-color: lighten($primary, 50%) !important;
        pointer-events: none;
    }

    > .dz-preview {
        display: none !important;
    }

    .dropzone-file-info {
        display: flex;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .fu-message {
        cursor: pointer;
        font-size: $h6-font-size;
        font-weight: $font-weight-normal;
        color: $gray-600;
    }
    // Xl display.
    &.xl {
        .fu-message {
            font-size: $h5-font-size;
            font-weight: $font-weight-medium;
        }
    }

    &:not(.xl) {
        .dropzone {
            padding: 10px;
        }

        .fileupload-buttons .btn {
            @extend .btn-sm;
        }
    }

    // Progress bars.
    .fileupload-progress:not(.list) {
        position: absolute;
        left: 0;
        bottom: -1px;
        right: 0;

        .progress {
            height: 0.25rem;
            background: transparent;
            margin: 0;
            border-radius: 0;
            border-bottom-left-radius: $input-border-radius;
            border-bottom-right-radius: $input-border-radius;
            box-shadow: none;

            .progress-bar {
                background-color: $primary;
                transition: width 0.25s ease, background-color 0.25s ease;
            }
        }

        &.success {
            transition-delay: 0.4s;
        }

        &.success .progress-bar {
            background-color: $success !important;
        }
    }

    .empty {
        font-weight: $font-weight-light !important;
        color: $gray-600 !important;
    }
}

// Dropzone skinning
.dropzone-container {
    pointer-events: initial !important;
    transition: all .2s;
    align-items: center;
    display: flex;
    position: relative;
    border: 2px dashed $gray-400 !important;
    background: $gray-100 !important;
    border-radius: 5px;

    &.fullscreen {
        position: relative;
        width: 100%;
        height: 100%;

        .fu-message {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    }

    &.hide {
        display: none;
    }

    .dropzone {
        border: none;
        background: none;
        width: 100%;
        padding: 20px;
    }

    .fileupload,
    .fu-message {
        align-self: center;
        font-weight: $font-weight-medium;
        color: inherit;
        font-size: $font-size-base;

        .xl & {
            text-align: center;
        }
    }

    .dz-preview,
    .dz-message {
        display: none;
    }

    .fileupload-thumb {
        position: relative;
        margin: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90px;
        height: 90px;
        min-width: 90px;

        .xl & {
            width: 150px;
            height: 150px;
        }

        &.empty {
            border: 2px dashed $gray-400;

            & > i {
                color: rgba(#000, 0.12);
            }
        }

        .file-img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .fileupload-controls {
        flex-grow: 1;
        overflow: hidden;
    }

    .fileupload-remove {
        display: flex;
        min-width: 1.25rem;
        width: 1.25rem;
        height: 1.25rem;
        transition: 0.2s;

        &:hover {
            background-color: rgba($danger,.2);
        }

        > .fileupload-remove-icon {
            margin-top: -0.125rem;
        }
    }
}

.fu-status-window {
    position: fixed;
    visibility: visible;
    bottom: 0;
    right: 20px;
    z-index: $zindex-fixed;
    width: 400px;
    height: 250px;
    transform: translate3d(0, 100%, 0) scale(0.85);
    transition-property: transform;
    transition-timing-function: cubic-bezier(.21,.57,.2,1.02);
    transition-duration: 0.4s;

    &.show,
    &.collapsed {
        transition-timing-function: cubic-bezier(.13,.66,.08,.96);
        transition-duration: 0.175s;
        transform: translate3d(0, 0, 0) scale(1);
        bottom: 20px;
    }

    &.collapsed {
        transform: translate3d(0, 200px, 0) scale(1);
        bottom: 0;
    }

    .header {
        background-color: #18509f;
        font-size: $font-size-lg;
        color: #fff;
        padding: 10px 0;
    }
    // TODO: I don't like the name... (perhaps cancel-bar ???)
    .flyout-commands {
        background: $gray-100;
        border: 1px solid $gray-400;
        border-top: none;
        border-bottom: none;
        max-height: 0;
        transition: max-height .2s;
        overflow: hidden;

        & > div {
            padding-top: 7px;
            padding-bottom: 7px;
        }

        &.show {
            max-height: 50px;
        }
    }

    .preview-container {
        border: 1px solid $gray-400;
        height: 80%;
        background: #fff;
        padding: 10px 0;
        align-items: start;
        align-content: start;

        .dz-preview {
            display: flex;
            margin: 0;
            padding: 5px;
            width: 100%;
            align-items: center;

            &.canceled {
                .progress-bar {
                    width: 100% !important;
                    background-color: $danger;
                }
            }

            .file-figure {
                display: flex;
                margin: 0;
                align-items: center;
                justify-content: center;
                width: auto;
                height: auto;
            }

            .file-icon:not(.show) {
                display: none;
            }

            .dz-details {
                // Height of circular progress. Setting min-height here prevents list from jumping.
                min-height: 36px;
            }
        }

        .dz-image-preview {
            border: none !important;
            cursor: initial;
            width: 100%;
            height: auto;
            background: #fff;
        }
    }
}

.mfu-image-preview {
    margin: 0 10px 10px 0;
    position: relative;
    border: 1px solid $gray-400;
    border-radius: $border-radius-sm;
    background: $light;
    display: flex;
    justify-content: center;
    overflow: hidden;

    .file-figure {
        min-width: $file-thumbnail-min-size;
        max-width: $file-thumbnail-max-width;
        height: $file-thumbnail-min-size;

        .file-icon:not(.show) {
            display: none;
        }

        & > img {
            height: auto;
            max-width: 100%;
            max-height: $file-thumbnail-min-size;
            object-fit: contain;
            padding: 10px;
        }
    }

    .toolbar {
        position: absolute;
        bottom: 0;
        min-width: 100%;
        background-color: $gray-100;
        visibility: hidden;
        transition: visibility 0.1s;
        border-top: 1px solid $gray-500;
        z-index: 2;
        cursor: default;

        > .btn {
            border-radius: 0 !important;
        }
    }

    .fu-file-info-container {
        position: absolute;
        transition: opacity .3s;
        opacity: 0;
        visibility: visible;
        background-color: rgba($indigo, 0.7);

        .drag-gripper {
            width: 0;
            cursor: move;
            z-index: 10;

            > .drag-icon {
                width: 2.75rem;
                height: 2.75rem;
                line-height: 2.75rem;
            }
        }

        > .fu-file-info > .fu-file-info-name {
            z-index: 2;
            padding: 0 0.5rem;
            text-shadow: 1px 1px 1px rgba(#000, 0.5);
            line-height: 1.3;
            max-height: calc(#{$font-size-base} * 1.3 * 3);
            max-width: 100%;
            overflow: hidden;
            word-break: break-all;
            margin-bottom: .75rem;
        }

        > .fu-preview-control-menu {
            z-index: 5;
            margin-top: -6px;

            > * {
                margin-top: 6px;
            }
        }
    }

    &:hover:not(.sortable-ghost) {
        border: 1px solid $gray-400;

        .toolbar {
            visibility: visible;
        }

        .fu-preview-overlay {
            visibility: visible;
            opacity: .5;
        }

        .fu-file-info-container {
            opacity: 1;
            backdrop-filter: blur(2px);
        }
    }

    &.sortable-ghost .toolbar {
        visibility: hidden;
    }

    .main-pic-badge {
        z-index: 1000;
        position: absolute;
        right: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.fileupload {
    .btn.cancel {
        display: none;
    }

    .fileinput-button {
        position: relative;
        overflow: hidden;
    }

    .fileinput-button input {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        border: 0;
        opacity: 0;
        direction: ltr;
        cursor: pointer;
    }
}

// FileConflictResolutionDialog
#duplicate-window {
    .remaining-file-counter {
        float: right;
        padding-top: 10px;
    }
    
    .file-display {
        border: 1px solid $gray-400;

        .file-info {
            overflow: hidden;
        }

        .file-figure {
            width: 100px;
            height: 80px;
            display: flex;
            margin: 0;
            align-items: center;
            justify-content: center;
        }

        .file-img {
            width: 100px;
            height: 80px;
            object-fit: cover;
        }

        .file-date {
            white-space: nowrap;
            overflow: hidden;
        }
    }
}
