<?xml version="1.0" encoding="utf-8"?>

<!-- Weitere Informationen zum Verwenden der web.config-Transformation finden Sie unter "http://go.microsoft.com/fwlink/?LinkId=125889". -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    Im folgenden Beispiel wird durch die Transformation "SetAttributes" der Wert von
    "connectionString" geändert, sodass "ReleaseSQLServer" nur verwendet wird, wenn
    vom Locator "Match" ein Attribut vom Typ "name" mit dem Wert "MyDB" gefunden wird.

    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      Im Beispiel unten wird durch die Transformation "Replace" der gesamte 
      <customErrors>-Abschnitt der Datei "Web.config" ersetzt.
      Dies ist zu beachten, da sich unter dem 
      <system.web>-Knoten nur ein customErrors-Abschnitt befindet. Daher muss das xdt:Locator-Attribut nicht verwendet werden.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>