
<p class="muted">
	@T("Admin.SaveBeforeEdit")
</p>
<button type="submit" name="save-continue" value="save-continue" class="btn btn-secondary entity-commit-trigger" data-commit-type="product" data-commit-action="insert" data-commit-id="0">
	@T("Admin.Common.SaveContinue")
</button>