@model ProductVariantAttributeCombinationModel
@{    
    Layout = "_AdminPopupLayout";
    ViewBag.Title = T("Admin.Catalog.Products.ProductVariantAttributes.AttributeCombinations.EditTitle").Text;
}

@*we add enctype = "multipart/form-data" because "File upload" attribute control type requries it*@
@using (Html.BeginForm("AttributeCombinationEditPopup", "Product",
    new RouteValueDictionary(new { productId = Model.ProductId, btnId = ViewBag.btnId, formId = ViewBag.formId }),
    FormMethod.Post,
    new Dictionary<string, Object> { { "enctype", "multipart/form-data" } }))
{
    <div class="section-header">
        <div class="title">
            @T("Admin.Catalog.Products.ProductVariantAttributes.AttributeCombinations.EditTitle")
        </div>
        <div class="options">
            <button type="submit" id="save" name="save" value="save" class="btn btn-warning">
                <i class="fa fa-check"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>

    Html.RenderPartial("_CreateOrUpdateAttributeCombinationPopup", Model);
}