@model PrintableProductsModel
@using SmartStore.Web.Framework.Pdf;
@{
	Layout = null;
}

<link rel="stylesheet" type="text/css" href="~/Content/print.css" />

<hr />

<div class="pull-right">
	<span class="page"></span> von <span class="topage"></span>
</div>
<span class="title"></span>
