@model ProductAskQuestionModel
@using SmartStore.Web.Models.Catalog;

<div class="ask-a-question">
	<a href="@Url.Action("AskQuestion", new { id = Model.Id })" data-role="button" data-ajax="false" rel="nofollow">
		@T("Products.AskQuestion")
	</a>
</div>