<?xml version="1.0" encoding="utf-8" ?>
<Theme baseTheme="Alpha" title="Alpha Blue" supportRTL="false" mobileTheme="false" previewText="The 'Alpha Blue' shop theme." author="SmartStore AG" version="2.2.0">

  <Vars>
	<!-- Common Colors -->
	<Var name="SiteBackground" type="Color">#dfe7ee</Var> 
	<Var name="BodyBackground" type="Color">#F7F9FB</Var>
	<Var name="TextColor" type="Color">#555</Var>
	<Var name="LinkColor" type="Color">#003366</Var> 
	
	<!-- Buttons -->
	<Var name="BtnPrimaryBackground" type="Color">#0074cc</Var>
	<Var name="BtnWarningBackground" type="Color">#9ABB69</Var>
	
	<!-- Shopbar -->
	<Var name="ShopBarBackgroundColor" type="Color">#002c59</Var>
	<Var name="ShopBarBorderColor" type="Color">#002245</Var>
	<Var name="ShopBarTextColor" type="Color">#fff</Var> 
	<Var name="ShopBarIconColor" type="Color">#fff</Var> 
	<Var name="ShopBarLabel" type="Select#ShopBarLabels">label-warning</Var>
	
	<!-- Megamenu -->
	<Var name="InverseNavbar" type="Boolean">true</Var>
	
	<Var name="NavbarInverseBackground" type="Color">#002c59</Var>
	<Var name="NavbarInverseBackgroundHighlight" type="Color">#0e4a87</Var> 
	<Var name="NavbarInverseBorder" type="Color">#080673</Var>
	<Var name="NavbarInverseLinkColor" type="Color">#fff</Var>
	<Var name="NavbarInverseLinkColorHover" type="Color">#e0f9ff</Var>
	
	<!-- Footer -->
	<Var name="FooterBackground" type="Color">#264D74</Var>
	<Var name="FooterHeading" type="Color">#8FBFCF</Var>
	<Var name="FooterFontColor" type="Color">#8FBFCF</Var>
	<Var name="FooterLinkColor" type="Color">#8FBFCF</Var>
	<Var name="FooterRadius" type="String">0 0 9px 9px</Var>
	
	<!-- Container -->
	<Var name="ContainerRadius" type="String">9px</Var>
	<Var name="ContainerHeaderBackground" type="Color">#E9F0F7</Var>
	<Var name="ContainerHeaderHeight" type="String">27px</Var>
	<Var name="ContainerBodyBackground" type="Color">#D5E3F1</Var>
	
	<!-- Misc -->
	<Var name="WellBackground" type="Color">#E4EAF0</Var>
	<Var name="ItemBoxBoxShadowColor" type="Color">#5cbaff</Var>
	<Var name="SimpleBoxHeaderColor" type="Color">#ddd</Var>
	
	<!-- Paginator -->
	<Var name="PaginationBackground" type="Color">#D8E5BD</Var>
	<Var name="PaginationBorder" type="Color">#669900</Var>
	<Var name="PaginationActiveBackground" type="Color">#B3CC81</Var>
	
	<!-- Forms -->
	<Var name="InputBorderRadius" type="String">4px</Var>
	
	<!-- Dropdowns -->
	<Var name="DropdownBorder" type="Color">#d9e1ff</Var>
	<Var name="DropdownDividerTop" type="Color">#fff</Var>
	<Var name="DropdownDividerBottom" type="Color">#a35858</Var>
  </Vars>
    
</Theme>