<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SmartStore.Plugin.Widgets.TrustedShopsSeal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <SmartStore.Plugin.Widgets.TrustedShopsSeal.Properties.Settings>
            <setting name="SmartStore_Plugin_Widgets_TrustedShopsSeal_com_trustedshops_qa_TSProtectionService" serializeAs="String">
                <value>https://qa.trustedshops.com:443/ts/services/TsProtection</value>
            </setting>
            <setting name="SmartStore_Plugin_Widgets_TrustedShopsSeal_com_trustedshops_www_TSProtectionService" serializeAs="String">
                <value>https://www.trustedshops.com:443/ts/services/TsProtection</value>
            </setting>
        </SmartStore.Plugin.Widgets.TrustedShopsSeal.Properties.Settings>
    </applicationSettings>
</configuration>