@using SmartStore.DevTools.Models;
@model BackendExtensionModel
@{
	Layout = "_AdminLayout";

	ViewBag.Title = "My Smartstore backend extension page";
}

<div class="section-header">
	<div class="title">
		<i class="fa fa-chart-area"></i>
		My Smartstore backend extension page
	</div>
</div>

<div>
	@Model.Welcome
</div>
