<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.11" targetFramework="net461" />
  <package id="Autofac" version="4.9.0" targetFramework="net461" />
  <package id="Autofac.Mvc5" version="4.0.2" targetFramework="net452" />
  <package id="CronExpressionDescriptor" version="1.21.2" targetFramework="net452" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="EPPlus" version="4.5.3.1" targetFramework="net461" />
  <package id="ImageProcessor" version="2.7.0.100" targetFramework="net461" />
  <package id="LumenWorksCsvReader" version="4.0.0" targetFramework="net461" />
  <package id="MaxMind.Db" version="2.4.0" targetFramework="net461" />
  <package id="MaxMind.GeoIP2" version="3.0.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.4.1" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Microsoft.Web.Xdt" version="3.0.0" targetFramework="net461" />
  <package id="ncrontab" version="3.3.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
  <package id="NReco.PdfGenerator" version="1.1.15" targetFramework="net452" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net461" />
  <package id="PreMailer.Net" version="2.0.1" targetFramework="net461" />
  <package id="System.Linq.Dynamic" version="1.0.7" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="UAParser" version="2.1.0.0" targetFramework="net452" />
</packages>