<div class="change-device">
    @using (Html.BeginRouteForm("ChangeDevice", new { dontusemobileversion = true }, FormMethod.Post))
    {
        <button type="submit" data-role="none" class="ui-body-a">@T("Mobile.ViewFullSite")</button>
    }
</div>
