@model FooterModel
@using SmartStore.Web.Models.Common;
@*display some info link at the footer*@

<div class="legal-hints">
    @if (Model.ShowLegalInfo)
    {
        <div class="footer-legal">
            @Html.Raw(Model.LegalInfo)
        </div>
    }
</div>

@Html.Action("InfoBlock", "Common")
@Html.Action("ChangeDeviceBlock", "Common")
@Html.Widget("mobile_footer")
