@model PdfReceiptHeaderFooterModel
@using SmartStore.Web.Framework.Pdf;

@{
    Layout = ViewBag.IsPartial == true ? "" : "_Print";
}

<header>
	
    @{ Html.RenderWidget("invoice_header_before"); }

	<table style="height: 100px;">
		<tr>
			<td style="width: 50%; text-align: left; vertical-align: middle">
				@if (Model.LogoUrl.HasValue())
                {
					<img src="@Model.LogoUrl" alt="" style="max-height: 100px" />
                }
                else
                {
					<h2>@Model.StoreName</h2>
                }
			</td>
			<td style="width: 50%; text-align: right;">
				@Html.Widget("invoice_header_right")
			</td>
		</tr>
	</table>
	
    @{ Html.RenderWidget("invoice_header_after"); }

</header>

