@{
    Layout = "";
}
@using SmartStore.Web.Framework;

<div class="clearfix" style="margin-bottom: 10px;">
	<img src="@Url.Content("~/Plugins/Payments.PayPalStandard/Content/images/logo200x53.png")" alt="PayPal" style="float:left; width:200px; height:53px; margin-right:20px;" />
	<span>
		@T("Plugins.Payments.PayPalStandard.Fields.RedirectionTip")
	</span>
</div>
