@{
    Layout = "";
}
@using SmartStore.Web.Framework;
<table style="width:100%; margin-bottom:10px;">
<tr>
    <td>
		<img src="@Url.Content("~/Plugins/Payments.PayPalStandard/Content/images/logo200x53.png")" alt="PayPal" style="float:left; width:200px; height:53px; margin-right:20px;" />
    </td>
	<td style="vertical-align: top;">
		@T("Plugins.Payments.PayPalStandard.Fields.RedirectionTip")
	</td>
</tr>
</table>
