@model dynamic

@{
	Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";

	//title
	Html.AddTitleParts("Manage something");
}

<h1>Hallo Welt</h1>

<div class="alert alert-info">
	Something
</div>
