@model IList<PollModel>
@using SmartStore.Web.Models.Polls;
@if (Model.Count > 0)
{
    <div class="card-deck card-cols-sm-1 card-cols-md-2 card-cols-lg-3 todays-poll-box-block m-t-3">
        @foreach (var poll in Model)
        {
            Html.RenderPartial("_Poll", poll);
        }
    </div>
}
