@model BlogPostTagListModel
@using SmartStore.Web.Models.Blogs
@if (Model.Tags.Count > 0)
{
    <div class="block block-bordered block-popular-blogtags">
        <div class="block-title">
            @T("Blog.TagCloud")
        </div>
        <div class="block-body listbox">
            <div class="tags">
                <ul>
                    @foreach (var item in Model.Tags)
                    {
                        <li><a href="@Url.RouteUrl("BlogByTag", new { tag = item.Name })" style="font-size:@(Model.GetFontSize(item))%;">@item.Name</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
}