<?xml version="1.0" encoding="utf-8" ?>
<Theme baseTheme="Flex" title="Flex Black" previewText="'Flex Black' default theme" author="SmartStore AG" version="1.0">

  <Vars>
    <Var name="indigo" type="Color">#3f51b5</Var>
    <Var name="boxed" type="Boolean">true</Var>
    <Var name="link-color" type="Color">$body-color</Var>
    <Var name="inverse-footer" type="Boolean">true</Var>
    <Var name="footer-bg" type="Color">#464646</Var>
	  <Var name="btn-primary-bg" type="Color">#666666</Var>
	  <Var name="btn-primary-border" type="Color">#444444</Var>
    <Var name="google-font-1" type="String">Abel</Var>
    <Var name="font-family-sans-serif" type="String">Abel, "Helvetica Neue", Arial, sans-serif</Var>
    <Var name="font-size-base" type="String">1rem</Var>
    <Var name="font-size-sm" type="String">0.925rem</Var>
    <Var name="font-size-xs" type="String">0.875rem</Var>
    <Var name="header-bg" type="Color">#111111</Var>
    <Var name="inverse-menubar" type="Boolean">true</Var>
    <Var name="inverse-shopbar" type="Boolean">true</Var>
    <Var name="inverse-navbar" type="Boolean">true</Var>
    <Var name="menubar-bg" type="Color">#111111</Var>
    <Var name="shopbar-bg" type="Color">#444444</Var>
    <Var name="megamenu-bg" type="Color">#666666</Var>
    <Var name="state-info-text" type="Color">#757575</Var>
    <Var name="state-info-bg" type="Color">#e0e0e0</Var>
    <Var name="dropdown-bg" type="Color">#f5f5f5</Var>
    <Var name="dropdown-border-color" type="Color">#9e9e9e</Var>
    <Var name="dropdown-link-color" type="Color">rgba(0,0,0,0.86)</Var>
    <Var name="dropdown-link-hover-color" type="Color">rgba(0,0,0,0.87)</Var>
    <Var name="dropdown-link-hover-bg" type="Color">#eeeeee</Var>
    <Var name="offcanvas-cart-footer" type="Color">#424242</Var>
    <Var name="search-button-flat" type="Boolean">true</Var>
  </Vars>
</Theme>