/// <reference path="_variables.scss" />
/// <reference path="bs4/scss/bootstrap.scss" />

// General
// =================================

.label-cart-amount {
    font-weight: 400;
    font-size: 9px;
    width: 18px;
    height: 18px;
    line-height: 16px;
    padding: 0;

    position: absolute;
    right: -5px;
    top: -9px;
}


// OffCanvas Cart
// =================================

#offcanvas-cart {
    .offcanvas-content {
        display: flex;
        flex-direction: column;
    }

    .tab-content {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

    .tab-pane {
        padding: 0;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

        &.active {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        > * { width: 100%; z-index: 1; }
    }

    .price {
        white-space: nowrap;
        font-weight: $font-weight-medium;
    }

    .throbber {
        background-color: #fff;
    }
}

.offcanvas-cart-content {
    position: relative;
    flex-grow: 1;
}

.offcanvas-cart-body {
    position: relative;
    flex-grow: 1;
	min-height: 100px;

    .no-items {
	    margin: 2rem 1rem;
	    text-align: center;

        .no-item-title, .no-item-icon { margin-bottom: 1rem; }

        .no-item-title  { font-size: $font-size-h2; font-weight: 400; }
        .no-item-icon   { color: rgba(0,0,0, 0.15); }
        .no-item-info   { color: $text-muted; .fa { color: $body-color; } }
    }
}

.offcanvas-cart-item {
    border-bottom: 1px solid rgba(#000, 0.15);
    padding: $grid-gutter-width-base / 1.5;

    &:last-child { border-width: 0; }

    .col-alpha {
        width: 100px;
        min-width: 100px;
        max-width: 100px;
    }

    .col-data {
        line-height: 1.3;
    }

    .col-data > * {
        display: block;
        margin-bottom: 0.5rem;
    }

    .name { color: $body-color; }

    .unit-price { font-size: 1.25rem; line-height: 1.8; }

	.qty-input .form-control {
		border-color: transparent;
	}
    .mb-bundle-pictures {
        a, .fa {
            padding-right: 3px;
        }
        .fa {
            font-size: 0.625rem;
        }
        a:hover {
            text-decoration: none;
        }
    }

        @media (max-width: 360px) {
            .unit-price { font-size: 1rem; }
        }
}

.offcanvas-cart-footer-row {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    line-height: 1.1;

    background-color: $brand-success;
    color: #fff;
    padding: 1rem;

    .sub-total-caption {
        text-transform: uppercase; 
        font-size: 0.8rem; 
    }

    .sub-total {
        font-size: 1.5rem;
    }
}

.offcanvas-cart-external-checkout {
    background: #fff; 
    padding: 0.5rem 1rem;

    .external-checkout-button {
        margin: 2px 4px;
        height: 40px;
        display: flex;
        align-items: center;

        img {
            cursor: pointer;
            max-height: 40px;
            max-width: 150px;

            @include media-breakpoint-up(sm) {
                max-width: 170px;
            }
        }
    }
}

// Full Cart
// =================================

.cart {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1.5rem;
}

.cart-head {
    display: none;
}

.cart-body {

}

.cart-row {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid $gray-lighter;
}

.cart-col {
    padding: 1rem;
    vertical-align: top;
}

.cart-col-main {
    width: 100%;
}

.cart-col-main ~ .cart-col {
    // don't wrap price & qty stuff
    white-space: nowrap;
    width: 33%;
    padding-top: 0;

    &:before {
        display: block;
        content: attr(data-caption);
        font-size: $font-size-h5;
        font-weight: $font-weight-medium;
        padding-bottom: 0.4rem;
    }
}

.cart-col-price .price {
    line-height: $input-height;
}

.cart-col-qty {
    text-align: center;
}

.cart-col-subtotal {
    text-align: right;
}

.cart-item-link {
    //font-weight: $font-weight-medium;
    //color: inherit !important;

    ~ * { margin-top: 0.5rem; }
}

.cart-item-sku {
    //color: $text-muted;
    margin-top: 0;
}

.cart-head {
    .cart-row   { border-bottom-width: 2px; }
    .cart-col   { font-size: $font-size-h5; font-weight: $font-weight-medium; }   
}

.cart-body {
    .cart-col-subtotal .price  { font-weight: $font-weight-medium; }
}

@include media-breakpoint-up(md) {
    .cart           { display: table; }
    .cart-head      { display: table-header-group; }
    .cart-body      { display: table-row-group; }
    .cart-foot      { display: table-footer-group; }
    .cart-row       { display: table-row; }
    .cart-col       { display: table-cell; }

    .cart-col {
        border-bottom: 1px solid $gray-lighter;
    }

    .cart-col-main ~ .cart-col {
        width: auto;
        padding-top: 1rem;
        &:before { display: none; }
    }

    .cart-col-qty {
        text-align: left;
        min-width: 100px;
    }

    .cart-head {
        .cart-col   { border-bottom-width: 2px; }
    }

    .cart-row-child {
        background: $gray-lightest;

        .cart-col:not(:last-child) { 
            border-bottom: none; 
        }

        .cart-col-main { 
            padding-left: 3rem; 

        }
    }
}


.order-summary-content .selected-checkout-attributes,
.order-details .checkout-attributes {
	.attr-caption {
		font-weight: bold;
		padding-right: 10px;
		&:after {
			content: ': ' 
		}
	}
	.attr-value {
		text-align: left;
	}
}

.table-order-products .productpicture,
.table-order-products .remove,
.table-order-products .addtocart {
    text-align: center;
}

.sci-attr {
    span:first-child {
        font-weight: $font-weight-bold;
    }
    .delivery-time {
        padding-left: 15px;
    }
}

