/// <reference path="../../../Content/shared/_variables-shared.scss" />
/// <reference path="../../../Content/shared/_mixins.scss" />
/// <reference path="_variables.scss" />
/// <reference path="../../../Content/bs4/scss/bootstrap.scss" />


// Responsive Typo
// ==============================================================

@include media-breakpoint-down(md) {
    html {
        font-size: 15px;
    }
}

@include media-breakpoint-down(sm) {
    html {
        font-size: 14px;
    }
}

//
// Layout
// --------------------------------------------------

html {
    width: 100%;
    height: 100%;
}

body { 
    background: $site-bg; 
}

body.popup { 
    padding: 1.25rem; 
    background: $body-bg;
}

#header {
    background-color: $header-bg;
}

#page {
    overflow-x: hidden;  
}

#content-wrapper {
    min-height: 600px;
}

.page-main {
    position: relative;
    z-index: 1;
    background: $body-bg;
    box-shadow: 0 0 24px rgba(#000, 0.2);
}

.boxed {
    .page-main {
        margin-left: auto;
        margin-right: auto;
        @include make-container-max-widths();
    }

    .page-main .container {
        padding-left: $grid-gutter-width / 2;
        padding-right: $grid-gutter-width / 2;
    }

    @include media-breakpoint-up(sm) {
        .page-main {
            border: 1px solid rgba(#000, 0.2);
            border-top-width: 0;
            border-bottom-width: 0;

            .container {
                padding-left: $grid-gutter-width;
                padding-right: $grid-gutter-width;
            }
        }
    }
}

//
// 'Scroll to top' button
// --------------------------------------------------

#scroll-top {
    z-index: 9999;
    position: fixed;
    bottom: 80px;
    right: 0;
    width: 36px;
    height: 36px;
    border-radius: 3px 0 0 3px;
    border: 1px solid rgba(0,0,0, 0.15);
    border-right-width: 0;
    background: rgba(255,255,255, 0.9);
    color: $body-color !important;
    text-decoration: none;
    transform: translate3d(100%, 0, 0);
    transition: transform .2s ease-in-out;
    &.in {
        transform: translate3d(0, 0, 0) !important;
    }
}