/// <reference path="../../../Content/shared/_variables-shared.scss" />
/// <reference path="../../../Content/shared/_mixins.scss" />
/// <reference path="_variables.scss" />
/// <reference path="../../../Content/bs4/scss/bootstrap.scss" />

//
// Brands
// -------------------------------------------------

.manufacturer-list-title {
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.manufacturer-nav {
    border-bottom: 1px solid #ddd;
    margin-bottom: 2rem;

    .navbar {
        padding: 0;
        margin-bottom: .5rem;

        .nav-item {
            margin: 0 1rem;
        }

        .nav-link {
            font-size: 1.25rem;
            padding: 0;
        }
    }
}


//
// Cookie Consent
// -------------------------------------------------

.cookie-consent-panel-message {
    background: $gray-800;
	z-index: $zindex-fixed + 1;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 10px 20px;
	color: #fff;
	border-top: 1px solid #222;
	text-align: center;
	line-height: 1.5;

    .close {
        color: #fff !important;
    }

    a {
	    color: inherit;
	    text-decoration: underline;
    }

    .popup {
	    display: none !important;
    }
}

//
// File Upload
// -------------------------------------------------

// overwrite for bluimp file upload control
/*.fu-fileupload .fu-progress.collapse {
    display: none !important; 
    width: 100%;
}
.fu-fileupload .fu-progress.collapse.show {
    display: block !important; 
}*/

//
// Customer avatar
// -------------------------------------------------
.customer-avatar,
.customer-avatar-lg {
    display: inline-flex;

    .avatar-link {
        text-decoration: none;
        color: inherit;
    }

    .avatar-link, .avatar-img, .avatar-letter {
        border-radius: 50%;
        border: 0;
        width: 100%;
        height: 100%;
    }

    .avatar-letter {
        display: flex;
        justify-content: center;
        font-weight: bold;
    }
}

.customer-avatar {
    width: 50px;
    height: 50px;

    .avatar-letter {
        font-size: $h2-font-size;
        line-height: 50px;
    }
}

.customer-avatar-lg {
    width: 120px;
    height: 120px;

    .avatar-letter {
        font-size: $display3-size;
    }
}

//
// Other stuff
// -------------------------------------------------
#iframe-backinstocksubsription {
    max-width: 100%;
}

.pm-unread {
    font-weight: bold;
    background: $gray-100;
}
//
// Hacks
// -------------------------------------------------
.ie11 {
    .pd-offer-actions .col,
    .offcanvas-cart-footer-row .col {
        width: auto;
        -ms-flex-preferred-size: auto;
    }

    .megamenu-dropdown-container.simple {
        position: static;
    }

    .instasearch-button {
        height: 100%;
    }

    .img-center-container {
        padding-top: 100%;
    }
}

.edge .offcanvas-cart-footer-col.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
}

.force-redraw:before {
    content: ""
}

//
// Vars
// -------------------------------------------------
:root {
    $varnames: ();

    @each $color, $value in $colors {
        $varnames: $varnames + '--' + $color + ",";
    }

    @each $color, $value in $theme-colors {
        $varnames: $varnames + '--' + $color + ",";
    }

    @each $color, $value in $grays {
        $varnames: $varnames + '--gray-' + $color + ",";
        --gray-#{$color}: #{$value};
    }

    $varnames: $varnames + '--body,--muted,--black';

    --varnames: #{$varnames};
    --body: #{$body-color};
    --muted: #{$text-muted};
    --black: #000;

    @if alpha($body-bg) == 0 {
        --body-bg: #{$site-bg};
    }
    @else {
        --body-bg: #{$body-bg};
    }

    @if ($fa-use-pro == true) {
        --fa-font-family: 'Font Awesome 5 Pro';
    }
}
// admin edit
.btn-admin-edit {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(#fff, 0.5);
    z-index: 1;
}

.news-item-page:hover .btn-admin-edit,
.blogpost-page:hover .btn-admin-edit,
.pd-section-top:hover .btn-admin-edit {
    display: inline-block;
}
// masonry grid
.masonry-grid {
    display: grid;
    grid-gap: $list-group-item-padding-x;
    grid-template-columns: repeat(auto-fill, minmax(330px,1fr));
    grid-auto-rows: 20px;
}

.btn-remove {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 1.25rem;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 4px;

    &:hover {
        background-color: rgba($danger, .2);
    }

    > .fa {
        color: var(--danger);
        font-size: $h6-font-size;
        padding: 0;
    }
}