/// <reference path="bs4/scss/bootstrap.scss" />

//
// Misc Styles
// --------------------------------------------------
body.popup { padding: 20px; }

// homepage news
.link-rss:hover {
    text-decoration: none;
}
.news-date {
    float: right; 
    font-size: $font-size-sm;
    font-weight: bold;
}
.news-item {
    margin-bottom: 2rem;
}


.deliverytime-group .delivery-time { 
    vertical-align: top; 
    padding-left: 0.25rem;
} 
.delivery-time {
    display: inline-block;
    color: $brand-danger;
    vertical-align: middle;
    max-width: 100%;
    @include text-truncate();

    .delivery-time-status {
        padding-right: 0.2rem;
        font-size: 0.85em;
    }
}

//
// Breadcrumb Styles
// --------------------------------------------------

.breadcrumb {
    padding: 0;
    background: none;
    font-size: $font-size-sm;
    margin-bottom: 1.5rem;
}

.breadcrumb-item:after {
    content: '|';
    padding: 0 0.5rem;
}

.breadcrumb-item:last-of-type:after { 
    display: none; 
}

.breadcrumb > li + li::before {
    display: none !important;
}

.breadcrumb-item > a {
    color: $body-color !important;
}


#iframe-backinstocksubsription {
    max-width: 100%;
}

// generic:
// block titles
.contact-page .block .block-title {
    padding: 0 0 1.5rem 0;
    font-size: 2rem;
}

/* Manufacturers on Homepage
================================================ */
.manufacturer-grid .show-all-manufacturers {
    > a {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        color: $btn-warning-color;
        background: $btn-warning-bg;
        font-weight: $font-weight-medium;
        font-size: 1rem;
        opacity: 0.7;
        &:hover { 
            text-decoration: none;
            opacity: 1;
        }
        > span { margin: auto; }
    }
}

/* All manufacturers
================================================ */
.manufacturer-nav {
    border-bottom: 1px solid #ddd;
    margin-bottom: 2rem;

    .navbar {
        padding: 0;
        margin-bottom: .5rem;

        .nav-item {
            margin: 0 1rem;
        }
        .nav-link {
            font-size: 1.25rem;
            padding: 0;
        }
    }
}

.manufacturer-list-title {
    font-weight: bold;
    padding-bottom: 0.5rem;
}

// Tags
.block-popular-tags li, 
.block-popular-blogtags li {
    display: inline;
}

// menu
.dropdown {
    display: inline;
    /*a {
        font-size: $font-size-sm;
    }*/
    .badge {
        font-size: $font-size-xs;
    }
}

.text-smaller,
.text-smaller a {
    font-size: $font-size-sm;
}

// homepage misc
.page.home-page .card-header {
    font-weight: $font-weight-medium;
}


