/// <reference path="_variables.scss" />
/// <reference path="bs4/scss/bootstrap.scss" />

//
// News Styles
// --------------------------------------------------

.news-item-page .news-item-picture {
    padding-top: 40%;
    width: 100%;

    & img {
        width: 100%;
        object-fit: cover;
    }
}

.newsitem-title {
    overflow: hidden;

    & a {
        font-size: $h4-font-size;
        font-weight: $font-weight-medium;
        color: $body-color;
    }

    .news-preview-xs & {
        max-height: $h5-font-size * 2.6;
        line-height: 1;

        & a {
            font-size: $h5-font-size;
        }
    }
}

.newsitem-date {
    color: $text-muted;
    font-size: $font-size-sm;
}

.newsitem-description {
    font-weight: $font-weight-normal;
    font-size: $h5-font-size;
}

.newsitem-picture {
    overflow: hidden;

    .news-preview-lg & {
        max-width: 380px;
        max-height: 220px;
    }

    .news-preview-sm & {
        max-width: 220px;
        max-height: 190px;
    }

    .news-preview-xs & {
        max-width: 110px;
        max-height: 80px;
    }

    img {
        object-fit: cover;
        display: block;
        width: 100%;
        height: 100%;
    }
}

