/// <reference path="../../../Content/shared/_variables-shared.scss" />
/// <reference path="../../../Content/shared/_mixins.scss" />
/// <reference path="_variables.scss" />
/// <reference path="_checkout.scss" />
/// <reference path="../../../Content/bs4/scss/bootstrap.scss" />

// RTL support (right to left)
// --------------------------------------------------

[dir=rtl] {
	// Text expander
	// -------------

	.more-less .btn-text-expander .fa {
		padding-left: 0.4rem;
		padding-right: initial;
	}


	.nav-tabs-line {
		padding-right: 0;
	}

	.art-badges {
		left: initial;
		right: 0;

		.art-badge {
			border-radius: 0.85rem 0 0 0.85rem;
		}
	}
	// forms
	/*.form-control + .input-group-append:not(:first-child) {
		border-right: initial;
		border-left: 1px solid rgba(#000, 0.15);
	}*/
	// product lists
	.art-color-opt {
		float: right;
	}

	// product detail
	.pd-attrs td:first-child {
		padding-left: 1rem;
		padding-right: 0;
	}

	.pd-price-block {
		float: initial;
	}

	.pd-actions .pd-action-item {
		border-right: 0;
		border-left: 1px solid rgba(#000, 0.15);
	}

	.btn-edit-product {
		right: initial;
		left: 0;
	}

	#pd-gallery .gal {
		direction: ltr;
	}

	.drift-zoom-pane img {
		left: 0;
	}

	.review-title h4 {
		padding-left: 0;
		padding-right: 90px;
	}

	.menubar-group {
		margin-right: 1rem;
		margin-left: 0;
	}

	#x-menubar-my-account .dropdown-item {
		// TBD: (mh) Why?
		position: relative;

		.fa {
			position: absolute;
			right: 0.75rem;
			top: 0.75rem;
		}

		span {
			padding-right: 1rem;
		}
	}
	// rtl display breaks text in brackets in chrome
	.block-title .text-muted:after,
	.pd-oldprice-line:after,
	.dropdown-item:after,
	.pd-oldprice-line:after {
		content: '\200E';
	}

	// Gallery
	// -------
	
	.gal-nav-cell {
		padding-left: 1.2rem; 
		padding-right: initial;
	}

	.gal-item.slick-slide {
		// Don't swap direction in gallery. Doesn't synch with thumbs otherwise.
		float: left;
	}


	// Product
	// -------

	.pd-actions .pd-action-item {
		border-left: 1px solid rgba(#000, 0.15);
		border-right-width: 0;
		&:last-child { border-left-color: transparent; }
	}
	

	// Megamenu
	// -------

	.megamenu .navbar-nav {
		margin-right: 0;
		transition-property: margin-right;

		.nav-item {
			.badge {
				left: 3px;
				right: auto;
			}

			&.active:before {
				left: 0;
				right: auto;
			}

			&.active:after {
				left: -2px;
				right: auto;
			}
		}

		.nav-item + .nav-item { 
			margin-right: 0; 
		}
	}

	// Rating
	// -------

	.rating,
	.rating > * {
		background-position-x: 100%;
	}


	// Search
	// ------

	#instasearch-progress {
		left: 56px;
		right: auto;
	}

	.instasearch-term {
		padding-left: 60px;
		padding-right: 1rem;
	}

	.instasearch-button {
		left: 0;
		right: auto;
		border-right-width: 0;
		border-left-width: $btn-border-width;
		border-radius: $btn-border-radius 0 0 $btn-border-radius;
	}

	#instasearch-drop {
		right: 0;
		left: auto;
	}

	.instasearch-hits {
		padding-right: 0;
	}

	@include media-breakpoint-up(sm) {
		.instasearch-col {
			&:first-child { border-left: 1px solid rgba(0,0,0, 0.1); border-right: none;  }
		}
	}

	.instasearch-hit-tag {
		padding-right: 0.2rem;
		padding-left: initial;
	}

	.instasearch-hit-thumb {
		padding-left: 12px;
		padding-right: initial;
	}

	.facet-toggle:after {
		left: 0;
		right: auto;
	}

	.offcanvas .facet-toggle:after {
		left: 1rem;
	}

	.facet-control-ui {
		right: 2px;
		left: auto;
	}

	.facet-radio .facet-control-native + .facet-control-ui:after {
		margin-left: 0;
		margin-right: 3px;
	}

	.facet-label {
		padding-right: $facet-control-size + ($facet-control-size / 1.5);
		padding-left: 8px;
	}

	.facet-body-rating .rating {
		margin-left: 3px;
		margin-right: initial;
	}

	.active-filter-item {
		float: right;
	}

	.active-filter-link {
		padding-left: 1.5rem;
		padding-right: $btn-padding-x-sm;

		&:after {
			left: 0.375rem;
			right: auto;
		}
	}

	// Cart
	// ------

	.label-cart-amount {
		left: -5px;
		right: auto;
	}

	.offcanvas-cart-item {
		.mb-bundle-pictures {
			a, .fa {
				padding-right: 0;
				padding-left: 3px;
			}
		}
	}

	.cart-col-subtotal {
		text-align: left;
	}

	@include media-breakpoint-up(md) {

		.cart-col-qty {
			text-align: right;
		}

		.cart-editable {
			.cart-col-price     { text-align: right; }
		}
	}

	.cart-summary {
		.cart-summary-label {
			padding-right: 0;
			padding-left: 0.5rem;
		}

		.cart-summary-value {
			text-align: left;
		}
	}
	.order-summary-content .selected-checkout-attributes,
	.order-details .checkout-attributes {
		.attr-caption {
			padding-left: 10px;
			padding-right: 0;
		}
		.attr-value {
			text-align: right;
		}
	}


	.cart-action {
		.cart-action-title {
			&:after {
				right: initial;
				left: 0;
			}
		}
	}

	// Checkout
	// ------

	.costep {
		&:first-child:after,
		&:last-child:before {
			display: none;
		}

		&:first-child:before,
		&:last-child:after {
			display: block;
		}
	}

	.costep.active {
		&:before {
			background-color: $costep-border;
		}

		&:after {
			background-color: $costep-active-border;
		}
	}

	.checkout-data {
		.opt-name { 
			margin-right: 4px;
			margin-left: 0;
		}


		@include media-breakpoint-up(md) {
			.opt-name { 
				margin-right: 12px;
				margin-left: 0;
			}

			.opt-info,
			.opt-info-item { 
				margin-right: 32px;
				margin-left: 0;
			}
		}
	}

	// Forum
	// ------

	.forum-topic {
		.block .block-title {
			a {
				padding-left: 0.75rem;
				padding-right: initial;
			}
			i {
				padding-left: 0.25rem;
				padding-right: initial;
			}
		}
	}

	.forum-search-box {
		text-align: left;
	}
	.basic-search,
	#advanced-search-block label {
		padding-left: 10px;
		padding-right: 0;
		@include media-breakpoint-up(sm) { 
			text-align: left;
		}
	}

	// Menu 
	// ------
	
    .catmenu-path-item.expanded,
    .catmenu-item.parent {
        padding-left: $list-group-item-padding-x * 1.5;

        &:after {
            content: "\f104";   
            left: 1rem;
			right: auto;
        }
    }

	#offcanvas-menu {

		.menubar-link,
		.manufacturer-container .ocm-item,
		.category-container .ocm-item {

			.ocm-link {
				padding: 1rem 2rem 1rem 2.5rem;
			}
        
			&.has-children:after {
				right: auto;
				left: 1rem;
				content: "\f104";   
			}
		}
   
		.ocm-nav .navigate-back {
			padding-right: 0;
			padding-left: initial;

			.fa {
				padding-right: initial;    
				padding-left: .425rem;
			}
		}

		/*
		.button-bar {
			span {
				margin-left: 1rem;
				margin-right: initial;
			}
		}
		*/

		.manufacturer-container {
			.ocm-item {
				.ocm-link { padding-right: 0.75rem; padding-left: 0; }
				.col-img ~ .col-data > .ocm-link { padding-right: 0; }
			}
		}
	}


	#ocm-service {	
		.menubar-group {
			margin-right: 0 !important;
			margin-left: auto;
		}

		.menubar-caret {
			left: 1rem;
			right: auto;
		}

		.menubar-link span {
			padding-right: 0;
		}

		.dropdown-item {
			padding-right: 2.75rem;
			padding-left: 0;
			span:not(.badge) {
				padding-right: 0;
			}
		}
	}

}
