/// <reference path="../../../Content/shared/_variables-shared.scss" />
/// <reference path="../../../Content/shared/_mixins.scss" />
/// <reference path="_variables.scss" />
/// <reference path="_checkout.scss" />
/// <reference path="../../../Content/bs4/scss/bootstrap.scss" />

// RTL support (right to left)
// --------------------------------------------------

[dir=rtl] {
	.nav-tabs-line {
		padding-right: 0;
	}

	.art-badges {
		left: initial;
		right: 0;

		.art-badge {
			border-radius: 0.85rem 0 0 0.85rem;
		}
	}

	// forms

	/*.form-control + .input-group-append:not(:first-child) {
		border-right: initial;
		border-left: 1px solid rgba(#000, 0.15);
	}*/

	// product lists
	.art-color-opt {
		float: right;
	}

	.artlist-carousel .slick-prev {
		right: 0;
		left: auto;
		border-radius: .1875rem 0 0 .1875rem;
		border-right: none;

		.fa-chevron-left:before {
			content: "\f054";
		}
	}

	.artlist-carousel .slick-next {
		left: 0;
		right: auto;
		border-radius: 0 .1875rem .1875rem 0;
		border-left: none;

		.fa-chevron-right:before {
			content: "\f053";
		}
	}

	.cart-action .cart-action-title:after,
	.facet-toggle:after {
		right: initial;
		left: 0;
	}

	// product detail
	.pd-attrs td:first-child {
		padding-left: 1rem;
		padding-right: 0;
	}

	.pd-price-block {
		float: initial;
	}

	.pd-actions .pd-action-item {
		border-right: 0;
		border-left: 1px solid rgba(#000, 0.15);
	}

	.btn-edit-product {
		right: initial;
		left: 0;
	}

	.art-rating .rating,
	.pd-rating-box .rating {
		text-align: left;
	}

	#pd-gallery .gal {
		direction: ltr;
	}

	.review-title h4 {
		padding-left: 0;
		padding-right: 90px;
	}

	// checkout
	.costep {
		&:first-child:after,
		&:last-child:before {
			display: none;
		}

		&:first-child:before,
		&:last-child:after {
			display: block;
		}
	}

	.costep.active {
		&:before {
			background-color: $costep-border;
		}

		&:after {
			background-color: $costep-active-border;
		}
	}

	// forum
	.forum-topic .block .block-title a {
		padding-left: 0.75rem;
		padding-right: initial;
	}

	.forum-topic .block-title > div {
		.edit-post-link-button, 
		.delete-post-link-button,
		.post-link,
		.fa {
			float: right;
		}

		.fa {
			margin-top: 5px;
			margin-left: 5px;
		}
	}


	.menubar-group {
		margin-right: 1rem;
		margin-left: 0;
	}

	#x-menubar-my-account .dropdown-item {
		// TBD: (mh) Why?
		position: relative;

		.fa {
			position: absolute;
			right: 0.75rem;
			top: 0.75rem;
		}

		span {
			padding-right: 1rem;
		}
	}

	// rtl display breaks text in brackets in chrome
	.block-title .text-muted:after,
	.pd-oldprice-line:after,
	.dropdown-item:after,
	.pd-oldprice-line:after {
		content: '\200E';
	}
}
