/// <reference path="bs4/scss/bootstrap.scss" />

//
// InstantSearch Box & Drop Styles
// --------------------------------------------------

$searchbox-border-color:            rgba(0,0,0, 0.12);
$searchbox-border-active-color:     rgba(0,0,0, 0.2);
$searchbox-hit-tag-color:           darken($brand-warning, 10%);

.instasearch-form {
    position: relative;
}

.instasearch-term {
    padding: 0.5rem 1rem;
    border-radius: 2px;
    position: relative;
    border-color: $searchbox-border-color;
    box-shadow: none;
    transition: all 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);
    padding-right: 60px;

    &:hover, &:focus, &:active {
        box-shadow: 0 2px 6px 0 rgba(0,0,0, 0.12);
    }
     &:focus, &:active {
        background-color: #fff;
        border-color: $searchbox-border-active-color;
    }
}

.instasearch-button {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    border: 0;
    font-size: 1.2rem;
    height: 100%;
    padding: 0 0.25rem;
    border-radius: 0 2px 2px 0;
}

.instasearch-icon {
    position: relative;
    top: 0.12rem;
}

#instasearch-drop {
    position: absolute;
    display: none;
    left: 0;
    top: 100%;
    margin-top: -1px;
    min-width: 100%;
    min-height: 50px;
    border: 1px solid $searchbox-border-active-color;
    box-shadow: 0 6px 6px 0 rgba(0,0,0, 0.12);
    background-color: $dropdown-bg;
    z-index: $zindex-dropdown + 100;
    border-radius: 0 0 2px 2px;   

    &.open {
        display: block;
    } 
}

.instasearch-drop-body {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    //font-size: 0.85rem;
}

.instasearch-match {
    font-weight: bold;
}

.instasearch-group-header {
    text-transform: uppercase;
    margin: 0.35rem 20px 0 20px;
    padding-bottom: 0.3rem;
    font-size: 14px;
    color: #aaa;
    font-weight: 600; // rem gets too small on mobile
}

.instasearch-hits {
    @include list-unstyled;
    margin: 0;
    margin-bottom: 1rem;

    &:last-child { margin-bottom: 0; }
    .instasearch-col:first-child &:last-child {
        margin-bottom: 1rem;
    }
}

@include media-breakpoint-up(sm) {
    .instasearch-col {
        &:first-child { border-right: 1px solid rgba(0,0,0, 0.1)  }
    }
}
@include media-breakpoint-up(lg) {
    .instasearch-row {
        width: 740px;
    }
}
@include media-breakpoint-up(xl) {
    .instasearch-row {
        width: 740px;
    }
}

.instasearch-hit {
    display: block;
    position: relative;
    width: 100%;
    padding: 0.35rem 20px;
    clear: both;
    white-space: normal;
    text-decoration: none;
    color: $dropdown-link-color;
    font-size: 14px; // rem gets too small on mobile

    &:focus, &:hover, &.active, &.key-hover {
        color: $dropdown-link-hover-color;
        text-decoration: none;
        background-color: $dropdown-link-hover-bg;
    }
}

.instasearch-hit-tag {
    color: $searchbox-hit-tag-color;
    font-size: 13px;
    padding-left: 0.2rem;
}

#instasearch-progress {
    position: absolute;
    z-index: 2;
    width: 20px;
    height: 20px;
    top: 50%;
    margin-top: -10px;
    right: 56px;
}


//
// Search Page Styles
// --------------------------------------------------

.search-term {
    color: $brand-danger;
}

.search-hitcount {
    color: $text-muted;
}