@model ProductSummaryModel

@using SmartStore.Web.Models.Catalog;

@{ 
	if (!Model.Items.Any())
	{
		return;
	}
}

<div class="block product-grid cross-sells">
    <div class="block-title cross-sells-title">
		<h3>@T("ShoppingCart.CrossSells")</h3> 
    </div>
    <div class="block-body">
		@{ Html.RenderPartial("Product.List", Model); }
    </div>
</div>