@model ProductDetailsModel

@using SmartStore.Web.Models.Catalog;

@{

}

<div class="pd-info m-b-1">
	<div class="page-title x-hidden-md-down" itemprop="name">
		<h1 class="pd-name pd-name-sm">
			@Model.Name
		</h1>
	</div>
	@if (Model.ShortDescription.HasValue())
	{
		<div class="pd-description">
			@Html.Raw(Model.ShortDescription)
		</div>
	}
</div>


