@model ProductSummaryModel

@using SmartStore.Web.Models.Catalog;

@{
	if (!Model.Items.Any())
	{
		return;
	}
}
   
<div class="block also-purchased">
    <div class="block-title">
        <h3>@T("Products.AlsoPurchased")</h3>
    </div>
    <div class="block-body">
        <div class="product-list scroll">
			@* TODO: (mc) Must be carousel/slider *@
			@{ Html.RenderPartial("Product.List", Model); }
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $(".also-purchased .product-list.scroll").productListScroller();
    });
</script>


@*<div class="product-list scroll">
		<div class="pl-row row">
			@foreach (var item in Model.Items)
			{
				<article class="item-box card card-block card-shadow equalized-column" data-equalized-deep="true">
					@{ Html.RenderPartial("_ProductBoxCompact", item); }
				</article>
						}
		</div>

		<a class="sb invisible pl-scroll-prev sb-dir-left disabled" href="#" rel="nofollow"><</a>
		<a class="sb invisible pl-scroll-next sb-dir-right" href="#" rel="nofollow">></a>
	</div>*@