@model IList<ProductTagModel>
@using SmartStore.Web.Models.Catalog;
@if (Model != null && Model.Count > 0)
{
    <div class="product-tags">
        <div class="block product-tag-list">
            <div class="block-title">
                <h3>@T("Products.Tags")</h3>
            </div>
            <div class="block-body">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <a href="@Url.RouteUrl("ProductsByTag", new { productTagId = Model[i].Id, SeName = Model[i].SeName })" class="producttag">
                        @(Model[i].Name)
                    </a>

                    <text>(</text>@(Model[i].ProductCount)<text>)</text>

                    if (i != Model.Count - 1)
                    {
                        <span>,</span>
                    }
                }
            </div>
        </div>
    </div>
}
