@model ProductDetailsModel

@using System.Globalization;
@using SmartStore.Web.Models.Catalog;

<div class="pd-offer">
	@{ Html.RenderPartial("Product.Offer.Price", Model); }

	<button type="button" class="btn btn-primary btn-lg btn-block">
		<i class="fa fa-cart-arrow-down"></i>
		<span>In den Warenkorb</span>
	</button>
</div>