@model ProductDetailsModel

@using SmartStore.Web.Models.Catalog;

@{ 

}

<div class="pd-offer">
	@if (!Model.AddToCart.DisableBuyButton || !Model.AddToCart.DisableWishlistButton)
	{
		Html.RenderPartial("Product.Offer.Price", Model);
	}

	@{ Html.RenderPartial("Product.StockInfo", Model); }
	@{ Html.RenderPartial("Product.Offer.Actions", Model); }
</div>