@model ProductSummaryModel

@using SmartStore.Web.Models.Catalog;

@{
	if (!Model.Items.Any())
	{
		return;
	}
}
   
<div class="also-purchased block block-boxed">
    <div class="block-title">
        @T("Products.AlsoPurchased")
    </div>
    <div class="block-body">
		<div class="artlist-carousel">
			@{
				Html.RenderPartial("Product.List", Model);
			}
		</div>
    </div>
</div>