@model MediaGalleryModel

@using SmartStore.Web.Models.Catalog;
@using SmartStore.Web.Models.Media;

@{
    // FB OpenGraph og:image & Twitter meta
    var oImg = Model.Files?.ElementAtOrDefault(Model.GalleryStartIndex);
    var url = oImg?.GetUrl();
    if (oImg != null && url.HasValue())
    {
        url = WebHelper.GetAbsoluteUrl(url, this.Request, true);
        Html.AddCustomHeadParts("<meta property='twitter:image' content='{0}' />".FormatInvariant(url));
        Html.AddCustomHeadParts("<meta property='og:image' content='{0}' />".FormatInvariant(url));
        if (oImg.Dimensions.Width > 0 && oImg.Dimensions.Height > 0)
        {
            Html.AddCustomHeadParts("<meta property='og:image:width' content='{0}' />".FormatInvariant(oImg.Dimensions.Width));
            Html.AddCustomHeadParts("<meta property='og:image:height' content='{0}' />".FormatInvariant(oImg.Dimensions.Height));
        }
    }
}

<div id="pd-gallery-container-inner">
    <div id="pd-gallery" class="mb-3">
        @Html.Partial("MediaGallery", Model)
    </div>
</div>