@model ProductDetailsModel

@using SmartStore.Web.Models.Catalog;

@{

}

<div class="pd-sidebar p-t-4">
	<button type="button" class="btn btn-primary btn-lg btn-block">
		<i class="fa fa-shopping-cart"></i>
		<span>In den Warenkorb</span>
	</button>
</div>