@model ProductDetailsModel

@using SmartStore.Web.Models.Catalog;

@{ 

}

<div class="pd-offer">
	@if (!Model.AddToCart.DisableBuyButton || !Model.AddToCart.DisableWishlistButton)
	{
		Html.RenderPartial("Product.Offer.Price", Model);
	}

	@{ Html.RenderPartial("Product.StockInfo", Model); }

	<button type="button" class="btn btn-primary btn-lg btn-block">
		<i class="fa fa-cart-arrow-down"></i>
		<span>In den Warenkorb</span>
	</button>
</div>