@model ProductDetailsModel

@using SmartStore.Web.Models.Catalog;
@using SmartStore.Core.Domain.Catalog;
@using SmartStore.Web;

<div class="pd-offer" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
	@if (!Model.AddToCart.DisableBuyButton || !Model.AddToCart.DisableWishlistButton)
	{
		<div class="pd-offer-price-container" data-partial="Price">
			@{ Html.RenderPartial("Product.Offer.Price", Model); }
		</div>
	}

	<div class="pd-stock-info-container" data-partial="Stock">
		@{ Html.RenderPartial("Product.StockInfo", Model); }
	</div>

	@if (Model.GiftCard.IsGiftCard)
	{
		var dataDictGiftCard = new ViewDataDictionary();
		dataDictGiftCard.TemplateInfo.HtmlFieldPrefix = string.Format("giftcard_{0}_0", Model.Id);
		Html.RenderPartial("Product.GiftCard", Model.GiftCard, dataDictGiftCard);
	}

	@if (Model.ProductType != ProductType.BundledProduct && Model.ProductVariantAttributes.ShouldBeRendered())
	{
		var dataDictVariants = new ViewDataDictionary();
		dataDictVariants.TemplateInfo.HtmlFieldPrefix = string.Format("attributes_{0}", Model.Id);
		Html.RenderPartial("Product.Variants", Model.ProductVariantAttributes, dataDictVariants);
	}

	@{ 
		var dataDictAddToCart = new ViewDataDictionary();
		dataDictAddToCart.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", Model.Id);
		Html.RenderPartial("Product.Offer.Actions", Model, dataDictAddToCart);
	}
</div>