@model MediaGalleryModel

@using SmartStore.Web.Models.Media;

<div id="pd-gallery-container-inner">
    <div id="pd-gallery" class="mb-3">
        @Html.Partial("MediaGallery", Model)
    </div>
</div>