@model ProductSummaryModel

@using SmartStore.Web.Models.Catalog;

@{ 
	if (!Model.Items.Any())
	{
		return;
	}
}
 
<div class="related-products block block-boxed">
    <div class="block-title">
        @T("Products.RelatedProducts")
    </div>
    <div class="block-body">
		<div class="artlist-carousel">
			@{
				Html.RenderPartial("Product.List", Model);
			}
		</div>
    </div>
</div>