@model CreateMessageResult
@using SmartStore.Services.Messages;
@{
	Layout = "";
}

<div id="message-template-preview" class="modal modal-flex fade" tabindex="-1">
	<div class="modal-dialog modal-flex modal-flex-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-title">@Html.Partial("PreviewHeader", Model)</div>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body p-0">
				<iframe class="modal-flex-fill-area" frameborder="0" srcdoc="@Model.Email.Body"></iframe>
			</div>
			@*<div class="modal-footer">
				<button type="button" class="btn btn-secondary btn-flat" data-dismiss="modal">@T("Common.Close")</button>
			</div>*@
		</div>
	</div>
</div>