@model BlogPostTagListModel
@using SmartStore.Web.Models.Blogs

@if (Model.Tags.Count > 0)
{
    <div class="block-popular-blogtags">
        @foreach (var item in Model.Tags)
        {
            <a class="badge badge-pill badge-info py-2 px-3 mb-1" href="@Url.RouteUrl("BlogByTag", new { tag = item.SeName })">@item.Name</a>
        }
    </div>
}