@using SmartStore.Web.Framework.UI

@{
	Layout = "";
}

<a class="btn btn-primary btn-icon btn-lg btn-extauth btn-brand-facebook" data-toggle="tooltip" title="@T("Plugins.ExternalAuth.Facebook.Login")"
   href="@Url.RouteUrl("SmartStore.FacebookAuth", new { ReturnUrl = HttpContext.Current.Request.QueryString["ReturnUrl"], action = "Login" })">
	<i class="fa fa-fw fa-lg fa-facebook"></i>
</a>
 