@model ExportDeploymentModel
@using SmartStore.Admin.Models.DataExchange;
@{
	var title = string.Concat(T("Common.Publishing"), " - ", T("Common.AddNew"));
	ViewBag.Title = title;
}

@using (Html.BeginForm())
{
	<div class="section-header">
		<div class="title">
			<img src="@Url.Content(Model.ThumbnailUrl)" />
			@title @Html.ActionLink("(" + T("Common.Back") + ")", "Edit", new { id = Model.ProfileId })
		</div>
		<div class="options">
			<button type="submit" name="save" value="save" class="btn btn-primary">
				<i class="fa fa-check"></i>
				<span>@T("Admin.Common.Save")</span>
			</button>
			<button type="submit" name="save" value="save-continue" class="btn btn-secondary">
				<span>@T("Admin.Common.SaveContinue")</span>
			</button>
		</div>
	</div>

    Html.RenderPartial("_CreateOrUpdate.Deployment", Model);
}