@model ExportDeploymentModel
@using SmartStore.Core.Domain.DataExchange;
@using SmartStore.Admin.Models.DataExchange;
@{
	var title = string.Concat(T("Common.Publishing"), " - ", T("Common.AddNew"));
	ViewBag.Title = title;
}

@using (Html.BeginForm())
{
	<div class="section-header">
		<div class="title">
			<img src="@Url.Content(Model.ThumbnailUrl)" />
			@title @Html.ActionLink("(" + T("Common.Back") + ")", "Edit", new { id = Model.ProfileId })
		</div>
		<div class="options">
			<button type="submit" name="save" value="save" class="btn btn-primary"><i class="fa fa-check"></i>&nbsp;@T("Admin.Common.Save")</button>
			<button type="submit" name="save" value="save-continue" class="btn">@T("Admin.Common.SaveContinue")</button>
		</div>
	</div>
	@Html.Partial("_CreateOrUpdate.Deployment", Model)
}