@using SmartStore.Admin.Models.DataExchange
@model ExportProfileDetailsModel
@{
	Layout = null;
}
@if (Model.ExportFileCount == 0)
{
	<span class="muted">0</span>
}
else
{
	<a href="javascript:void(0)" class="export-file-count">@Model.ExportFileCount</a>
}
