<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers accessPolicy="Script,Read">
      
      <!-- static files -->
      <add name="favicon1" path="*/favicon.ico" verb="*" modules="StaticFileModule" preCondition="integratedMode" resourceType="File" requireAccess="Read" />
      <add name="favicon2" path="*/favicon-*.ico" verb="*" modules="StaticFileModule" preCondition="integratedMode" resourceType="File" requireAccess="Read" />
      <add name="ThemePreviewImage" path="*/preview.png" verb="*" modules="StaticFileModule" preCondition="integratedMode" resourceType="File" requireAccess="Read"/>

      <!-- inheritable *.less -->
      <add name="LessAssetHandler" path="*.less" verb="GET" type="SmartStore.Web.Framework.Themes.LessCssHttpHandler, SmartStore.Web.Framework" resourceType="File" preCondition="" />
	  
	    <!-- inheritable theme files -->
      <add name="StaticFileHandler-png" path="*.png" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
      <add name="StaticFileHandler-gif" path="*.gif" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
      <add name="StaticFileHandler-jpg" path="*.jpg" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
      <add name="StaticFileHandler-jpeg" path="*.jpeg" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
      <add name="StaticFileHandler-css" path="*.css" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
      <add name="StaticFileHandler-js" path="*.js" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>

      <!-- Misc static files -->
      <add name="File-pdf" path="Content/*/*.pdf" verb="*" modules="StaticFileModule" preCondition="integratedMode" resourceType="File" requireAccess="Read" />
      <add name="Font-eot" path="Content/*/*.eot" verb="*" modules="StaticFileModule" preCondition="integratedMode" resourceType="File" requireAccess="Read" />
      <add name="Font-ttf" path="Content/*/*.ttf" verb="*" modules="StaticFileModule" preCondition="integratedMode" resourceType="File" requireAccess="Read" />
      <add name="Font-woff" path="Content/*/*.woff" verb="*" modules="StaticFileModule" preCondition="integratedMode" resourceType="File" requireAccess="Read" />
      <add name="Font-otf" path="Content/*/*.otf" verb="*" modules="StaticFileModule" preCondition="integratedMode" resourceType="File" requireAccess="Read" />
      <add name="File-svg" path="Content/*/*.svg" verb="*" modules="StaticFileModule" preCondition="integratedMode" resourceType="File" requireAccess="Read" />
    </handlers>
  </system.webServer>
</configuration>
