<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers accessPolicy="Script,Read">
      <!-- static files -->
      <add name="ThemePreviewImage" path="*/preview.png" verb="*" modules="StaticFileModule" preCondition="integratedMode" resourceType="File" requireAccess="Read"/>

      <!-- theme file inheritance -->
      <add name="StaticFileHandler-png" path="*.png" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
      <add name="StaticFileHandler-gif" path="*.gif" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
      <add name="StaticFileHandler-jpg" path="*.jpg" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
      <add name="StaticFileHandler-jpeg" path="*.jpeg" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
      <add name="StaticFileHandler-svg" path="*.svg" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
      <add name="StaticFileHandler-css" path="*.css" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
      <add name="StaticFileHandler-js" path="*.js" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
      <add name="StaticFileHandler-liquid" path="*.liquid" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
    </handlers>
  </system.webServer>
</configuration>