<?xml version="1.0" encoding="utf-8" ?>
<Theme baseTheme="Alpha" title="Alpha Black" supportRTL="false" mobileTheme="false" previewText="The 'Alpha Black' shop theme." author="SmartStore AG" version="2.2.0">

  <Vars>
  	<!-- Common Colors -->
	<Var name="SiteBackground" type="Color">#666</Var>
	<Var name="TextColor" type="Color">#555</Var>
	<Var name="LinkColor" type="Color">#000</Var>
	
	<!-- Common Headings -->
	<Var name="PageTitleColor" type="Color">#464646</Var>
	
	<!-- Tables-->
	<Var name="TableBackgroundAccent" type="Color">#f0f0f0</Var>
	<Var name="TableBackgroundHover" type="Color">#f5f5f5</Var> 
	
	<!-- Buttons -->
	<Var name="BtnBackground" type="Color">#646464</Var>
	<Var name="BtnPrimaryBackground" type="Color">#0074cc</Var>
	<Var name="BtnWarningBackground" type="Color">#9ABB69</Var>
	
	<!-- Shopbar -->
	<Var name="ShopBarBackgroundColor" type="Color">#000</Var>
	<Var name="ShopBarBorderColor" type="Color">#ccc</Var>
	<Var name="ShopBarTextColor" type="Color">#fff</Var>
	<Var name="ShopBarIconColor" type="Color">#fff</Var>
	
	<!-- Megamenu -->
	<Var name="InverseNavbar" type="Boolean">true</Var>
	<Var name="NavbarHeight" type="String">42px</Var>
	<Var name="NavbarBackgroundHighlight" type="Color">#fff</Var>
	<Var name="NavbarText" type="Color">#717171</Var>
	<Var name="NavbarLinkColor" type="Color">#717171</Var>
	<Var name="NavbarLinkColorHover" type="Color">#1a1a1a</Var>
	<Var name="NavbarLinkColorActive" type="Color">#555</Var>
	<Var name="NavbarInverseBackground" type="Color">#111</Var>
	<Var name="NavbarInverseBorder" type="Color">#333</Var>
	<Var name="NavbarInverseText" type="Color">#dadada</Var>
	<Var name="NavbarInverseLinkColor" type="Color">#fff</Var>
	<Var name="NavbarInverseLinkColorHover" type="Color">#e0f9ff</Var>
	<Var name="NavbarInverseLinkColorActive" type="Color">#fff</Var>
	
	<!-- Header -->
	<Var name="HeaderLinkColor" type="Color">#eee</Var>
	<Var name="HeaderHoverColor" type="Color">#fff</Var>
	<Var name="HeaderIconColor" type="Color">#bbb</Var>
	<Var name="ChooserBorderColor" type="Color">#464646</Var>
	<Var name="ChooserBackgroundColor" type="Color">#efefef</Var>
	<Var name="ChooserActiveStateColor" type="Color">#bbb</Var>
	<Var name="ChooserFontColor" type="Color">#464646</Var>
	
	<!-- Footer -->
	<Var name="FooterBackground" type="Color">#ddd</Var>
	<Var name="FooterHeading" type="Color">#444</Var>
	<Var name="FooterFontColor" type="Color">#444</Var>
	<Var name="FooterLinkColor" type="Color">#444</Var>
	<Var name="FooterRadius" type="String">0 0 9px 9px</Var>
	
	<!-- Container -->
	<Var name="ContainerBorder" type="Color">#464646</Var>
	<Var name="ContainerRadius" type="String">9px</Var>
	<Var name="ContainerHeaderBackground" type="Color">#333</Var>
	<Var name="ContainerHeaderFontColor" type="Color">#fff</Var>
	<Var name="ContainerHeaderHeight" type="String">27px</Var>
	<Var name="ContainerBodyBackground" type="Color">#efefef</Var>
	<Var name="ContainerBodyFontColor" type="Color">#555</Var>
	
	<!-- Misc -->
	<Var name="WellBackground" type="Color">#efefef</Var>
	<Var name="ItemBoxBoxShadowColor" type="Color">#999</Var>
	<Var name="SimpleBoxHeaderColor" type="Color">#ddd</Var>
	
	<!-- Slider -->
	
	<!-- Paginator -->
	<Var name="PaginationBackground" type="Color">#efefef</Var>
	<Var name="PaginationBorder" type="Color">#464646</Var>
	<Var name="PaginationActiveBackground" type="Color">#ccc</Var>
	
	<!-- Layout -->
	<Var name="GridColumnWidth1200" type="String">30px</Var>
	<Var name="GridGutterWidth1200" type="String">20px</Var>
	
	<!-- Forms -->
	<Var name="InputBorderRadius" type="String">4px</Var>
	
	<!-- Dropdowns -->
	<Var name="DropdownBackground" type="Color">#efefef</Var>
	<Var name="DropdownBorder" type="Color">#d9e1ff</Var>
	<Var name="DropdownDividerTop" type="Color">#fff</Var>
	<Var name="DropdownDividerBottom" type="Color">#a35858</Var>
  </Vars>
    
</Theme>