@model HomePageProductsModel
@using SmartStore.Web.Models.Catalog;
@if (Model.Products.Count > 0)
{
    <div class="product-grid home-page-product-grid block">
        <div class="block-title">
            @T("HomePage.Products")
        </div>
        <div class="block-body">
            @if (Model.UseSmallProductBox)
            {
                <div class="card-deck card-cols-sm-1 card-cols-md-2 card-cols-lg-3 card-cols-xl-4 product-grid">
                    @foreach (var product in Model.Products)
                    {
                        <article class="card card-block card-shadow text-xs-center">
                            @Html.Partial("_ProductBoxCompact", product)
                        </article>
                    }
                </div>
            }
            else
            {
                <div class="card-deck card-cols-sm-1 card-cols-md-2 card-cols-lg-3 product-grid">
                    @foreach (var product in Model.Products)
                    {
                        <article class="card card-block card-shadow text-xs-center">
                            @Html.Partial("_ProductBox", product)
                        </article>
                    }
                </div>
            }
        </div>
    </div>
}