@model ShoppingCartModel
@using SmartStore.Web.Models.ShoppingCart;

<div class="block block-bordered comment-box card">

    <div class="block-title card-header">
        @T("ShoppingCart.CommentBox")
    </div>

    <div class="block-body card-block">
        @Html.TextAreaFor(model => model.CustomerComment, new { placeholder = "Optional" })
    </div>
</div>
