@model ShoppingCartModel
@using SmartStore.Web.Models.Checkout
@using SmartStore.Web.Models.ShoppingCart;
@{
    Layout = "_Checkout";
    Html.AddBodyCssClass("order-summary-page no-offcanvas-cart");
    Html.AddTitleParts(T("PageTitle.ShoppingCart").Text);
}

@section orderProgress{
	@{ Html.RenderAction("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Cart }); }
}

<div class="page shopping-cart-page">
    <div class="page-title">
        <h1 class="h3">@T("ShoppingCart")</h1>
    </div>
    <div class="page-body">
        @{ Html.RenderPartial("OrderSummary", Model); }
    </div>
</div>
