@model ProductAskQuestionModel
@using SmartStore.Web.Models.Catalog;

<div class="ask-a-question">
    <a href="@Url.Action("AskQuestion", new { id = Model.Id })" rel="nofollow">
        <i class="fa fa-fw fa-question-circle"></i>
        @T("Products.AskQuestion")
    </a>
</div>
