@model MeasureWeightModel
@{        
	ViewBag.Title = T("Admin.Configuration.Measures.Weights.EditWeight").Text;
	Layout = "_AdminPopupLayout";
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            @T("Admin.Configuration.Measures.Weights.EditWeight")
        </div>
        <div class="options">
            <button type="submit" name="save" id="save" value="save" class="btn btn-warning">
				<i class="fa fa-check"></i>
				<span>@T("Admin.Common.Save")</span>
			</button>
        </div>
    </div>

    Html.RenderPartial("_CreateOrUpdateWeight", Model);
}