@{
    Layout = "";
}
@model SmartStore.Plugin.Payments.Invoice.Models.PaymentInfoModel
@using SmartStore.Web.Framework;
<table style="width:100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            @Html.Raw(Model.DescriptionText)
        </td>
    </tr>
</table>
