@model SmartStore.AmazonPay.Models.AmazonPayViewModel
@if (Model.SellerId.HasValue())
{
	<div class="external-checkout-button amazon-pay-button">
		<span id="amazon-pay-login-button"></span>
	</div>

	Html.RenderPartial("ScriptingLoginButton", Model);
}
