@model SmartStore.AmazonPay.Models.AmazonPayViewModel

<div class="external-checkout-button">
	<span id="@Model.GetWidgetId">
		<img src="@Model.ButtonUrl" />
	</span>

	@{ Html.RenderPartial("ScriptingLoginButton", Model); }
</div>
