@model SmartStore.AmazonPay.Models.AmazonPayViewModel

<div class="clearfix" style="padding: 0 20px 8px 20px; float: right;">
	<div style="text-align: right; padding-bottom: 3px;">
		@T("Plugins.Payments.AmazonPay.SelectionText")
	</div>
	<div id="@Model.GetWidgetId">
		<img src="@Model.ButtonUrl" style="cursor: pointer;" />
	</div>
</div>

@Html.Partial("ScriptingLoginButton", Model)