@model SmartStore.AmazonPay.Models.AmazonPayViewModel

<span id="@Model.GetWidgetId" class="text-xs-right">
	<img src="@Model.ButtonUrl" style="cursor: pointer" />
</span>

@{ Html.RenderPartial("ScriptingLoginButton", Model); }