@using SmartStore.Web.Framework;
@model SmartStore.AmazonPay.Models.AmazonPayViewModel

@{
	Layout = "";
	Html.AddCssFileParts(true, Url.Content("~/Plugins/SmartStore.AmazonPay/Content/smartstore.amazonpay.css"));
}
@if (!String.IsNullOrEmpty(Model.SellerId)) { 
    <div class="amazon-pay-button">
	    <div class="selection-text">
		    @T("Plugins.Payments.AmazonPay.SelectionText")
	    </div>

	    <div class="button-container">
		    <div id="@Model.GetWidgetId">
			    <img src="@Model.ButtonUrl" style="cursor: pointer;" />
		    </div>
	    </div>
    </div>

    @Html.Partial("ScriptingLoginButton", Model)
}