<p class="sub text-center">&copy; 2017 [Product Name]. All rights reserved.</p>
<p class="sub text-center">
	SmartStore AG
	<br/>Kaiserstr. 63-65
	<br/>44135 Dortmund
	<br/>fon: +49 (0) 231.5335-0
	<br/>fax: +49 (0) 231.5335-101
</p>