<p class="sub text-center">&copy; 2018 SmartStore AG. Alle Rechte vorbehalten.</p>

<table>
	<tbody>
		<tr>
			<td width="33%">
				<p class="sub text-muted">
					SmartStore AG
					<br/>Kaiserstr. 63-65
					<br/>44135 Dortmund
					<br/>Deutschland, NRW
				</p>
			</td>
			<td width="33%">
				<p class="sub text-muted">
					Url: <a href="http://www.smartstore.com">http://www.smartstore.com</a>
					<br/>Mail: info@smartstore.com
					<br />Fon: +49 (0) 231.5335-0
					<br/>Fax: +49 (0) 231.5335-101
				</p>
			</td>
			<td width="33%">
				<p class="sub text-muted">
					Sparkasse Nirgendwo
					<br/>BLZ 123456
					<br/>Kto 456789087
					<br/>SmartStore AG
					<br/>DE VAT 1234566777
					<br/>BIC 847538945789374
				</p>
			</td>
		</tr>
	</tbody>
</table>