										</td>
									</tr>
								</table>
							</td>
            			</tr>
            			<tr>
              				<td>
                				<table class="footer">
                  					<tr>
										<td class="content-cell" align="center">
											{% include 'footer' %}
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
    	</table>
	</body>
</html>