<?xml version="1.0" encoding="utf-8" ?>
<Theme title="Alpha" supportRTL="false" mobileTheme="false" previewText="The primary 'Alpha' shop theme." author="SmartStore AG" version="2.2.0">

  <Vars>
    <!-- Common Colors -->
    <Var name="SiteBackground" type="Color">#eaf0f4</Var>
    <Var name="BodyBackground" type="Color">#fff</Var>
    <Var name="TextColor" type="Color">#444</Var>
    <Var name="LinkColor" type="Color">#08c</Var>
    <Var name="BoxBackground" type="Color">#fff</Var>
    
    <!-- Common Font -->
    <Var name="SansFontFamily" type="String">'Segoe UI', Tahoma, 'Helvetica Neue', Helvetica, Arial, 'sans-serif'</Var>
    <Var name="SerifFontFamily" type="String">Georgia, 'Times New Roman', Times, serif</Var>
    <Var name="MonoFontFamily" type="String">Menlo, Monaco, Consolas, 'Courier New', monospace</Var>
    <Var name="BaseFontSize" type="String">14px</Var>
    <Var name="BaseLineHeight" type="String">20px</Var>
    
    <!-- Common Headings -->
    <Var name="HeadingsFontFamily" type="String">'Segoe UI Semibold', 'Segoe UI', Tahoma, 'Helvetica Neue', Helvetica, Arial, 'sans-serif'</Var>
    <Var name="HeadingsFontWeight" type="String">600</Var>
    <Var name="HeadingsColor" type="Color">inherit</Var>

    <Var name="PageTitleFontFamily" type="String">'Segoe UI Light', 'Segoe UI', Arial, Helvetica, 'sans-serif'</Var>
    <Var name="PageTitleFontWeight" type="String">100</Var>
    <Var name="PageTitleColor" type="Color">#3a87ad</Var>
    
    <!-- Tables-->
    <Var name="TableBackground" type="Color">transparent</Var>
    <Var name="TableBackgroundAccent" type="Color">#f9f9f9</Var>
    <Var name="TableBackgroundHover" type="Color">#f5f5f5</Var>
    <Var name="TableBorder" type="Color">#ddd</Var>
  
    <!-- Buttons -->
    <Var name="BtnBackground" type="Color">#fff</Var>
    <Var name="BtnPrimaryBackground" type="Color">#0088cc</Var>
    <Var name="BtnInfoBackground" type="Color">#5bc0de</Var>
    <Var name="BtnSuccessBackground" type="Color">#62c462</Var>
    <Var name="BtnWarningBackground" type="Color">#fbb450</Var>
    <Var name="BtnDangerBackground" type="Color">#ee5f5b</Var>
    <Var name="BtnInverseBackground" type="Color">#444</Var>
    
    <!-- Shopbar -->
    <Var name="ShopBarBackgroundColor" type="Color">#fff</Var>
    <Var name="ShopBarBorderColor" type="Color">#abc2d1</Var>
    <Var name="ShopBarTextColor" type="Color">#696969</Var>
    <Var name="ShopBarIconColor" type="Color">#d2d2d2</Var>
    <Var name="ShopBarLabel" type="Select#ShopBarLabels">label-info</Var>
    
    <!-- Megamenu -->
    <Var name="DisplayNavbar" type="Boolean">true</Var>
    <Var name="InverseNavbar" type="Boolean">false</Var>
    <Var name="NavbarHeight" type="String">38px</Var>
    <Var name="NavbarBackgroundHighlight" type="Color">#fff</Var>
    
    <Var name="NavbarText" type="Color">#717171</Var>
    <Var name="NavbarLinkColor" type="Color">#717171</Var>
    <Var name="NavbarLinkColorHover" type="Color">#1a1a1a</Var>
    <Var name="NavbarLinkColorActive" type="Color">#555</Var>
    

    <Var name="NavbarInverseBackground" type="Color">#222</Var>
    <Var name="NavbarInverseBackgroundHighlight" type="Color">#666</Var>
    <Var name="NavbarInverseBorder" type="Color">#555</Var>

    <Var name="NavbarInverseText" type="Color">#dadada</Var>
    <Var name="NavbarInverseLinkColor" type="Color">#dadada</Var>
    <Var name="NavbarInverseLinkColorHover" type="Color">#fff</Var>
    <Var name="NavbarInverseLinkColorActive" type="Color">#fff</Var>

    <!-- Header -->
    <Var name="HeaderLinkColor" type="Color">#0088cc</Var>
    <Var name="HeaderHoverColor" type="Color">#005580</Var>
    <Var name="HeaderIconColor" type="Color">#bbcfdb</Var>

    <Var name="ChooserBorderColor" type="Color">#cfdde6</Var>
    <Var name="ChooserBackgroundColor" type="Color">transparent</Var>
    <Var name="ChooserActiveStateColor" type="Color">#cfdde6</Var>
    <Var name="ChooserFontColor" type="Color">#888</Var>
    
    <!-- Footer -->
    <Var name="FooterBackground" type="Color">#555</Var>
    <Var name="FooterHeading" type="Color">#888</Var>
    <Var name="FooterFontColor" type="Color">#888</Var>
    <Var name="FooterLinkColor" type="Color">#aaa</Var>
    <Var name="FooterRadius" type="String">0 0 0 0</Var>

    <!-- Container -->
    <Var name="ContainerRadius" type="String">3px</Var>
    <Var name="ContainerHeaderBackground" type="Color">#e1e9f0</Var>
    <Var name="ContainerHeaderFontColor" type="Color">#555</Var>
    <Var name="ContainerHeaderHeight" type="String">17px</Var>
    <Var name="ContainerBodyBackground" type="Color">#fff</Var>
    <Var name="ContainerBodyFontColor" type="Color">#555</Var>
    <Var name="ContainerBodyLinkColor" type="Color">#888</Var>
    <Var name="ContainerBorder" type="Color">#d6e0e6</Var>

    <!-- Misc -->
    <Var name="WellBackground" type="Color">#fafafa</Var>
    <Var name="ItemBoxBoxShadowColor" type="Color">#f89406</Var>
    <Var name="SimpleBoxHeaderColor" type="Color">#ddd</Var>
    <Var name="ProductFilterBackgroundColor" type="Color">#f4f8f9</Var>
    <Var name="CheckoutProgressBackgroundColor" type="Color">#f5f5f5</Var>
    <Var name="AlternateListItemBackgroundColor" type="Color">#f5f5f5</Var>
    <Var name="ProductListsPriceColor" type="Color">#468847</Var>
    <Var name="ProductDetailPriceColor" type="Color">#f89406</Var>
    
    <!-- Slider -->
    <Var name="SliderUseRadialBg" type="Boolean">true</Var>
    <Var name="SliderBgSlide" type="Select#BgSlideBehaviours">on</Var>
    <Var name="SliderBackgroundColor" type="Color">#2786ce</Var>
    <Var name="SliderTitleColor" type="Color">#fff</Var>
    <Var name="SliderTitleFontFamily" type="String">'Segoe UI Light', 'Segoe UI', Arial, sans-serif</Var>
    <Var name="SliderTitleFontWeight" type="String">100</Var>
    <Var name="SliderInfoColor" type="Color">#fff</Var>
    <Var name="SliderInfoFontFamily" type="String">inherit</Var>
    <Var name="SliderInfoFontWeight" type="String">inherit</Var>

    <!-- Paginator -->
    <Var name="PaginationBackground" type="Color">#fff</Var>
    <Var name="PaginationBorder" type="Color">#ddd</Var> 
    <Var name="PaginationActiveBackground" type="Color">#f5f5f5</Var>

    <!-- Layout -->
    <Var name="GridSettings" type="Select#GridSettings">5/14/5</Var>
    <Var name="GridColumnWidth" type="String">20px</Var> 
    <Var name="GridGutterWidth" type="String">20px</Var>
    <Var name="GridColumnWidth1200" type="String">20px</Var>
    <Var name="GridGutterWidth1200" type="String">30px</Var>   

    <!-- Forms --> 
    <Var name="InputBackground" type="Color">#fff</Var>
    <Var name="InputBorder" type="Color">#ccc</Var>
    <Var name="InputBorderRadius" type="String">2px</Var>
    <Var name="InputDisabledBackground" type="Color">#eee</Var>
    <Var name="FormActionsBackground" type="Color">#f5f5f5</Var>

    <!-- Dropdowns -->
    <Var name="DropdownBackground" type="Color">#fff</Var>
    <Var name="DropdownBorder" type="Color">#bbb</Var>
    <Var name="DropdownDividerTop" type="Color">#e5e5e5</Var>
    <Var name="DropdownDividerBottom" type="Color">#fff</Var>
    
    <Var name="DropdownLinkColor" type="Color">#333</Var>
    <Var name="DropdownLinkColorHover" type="Color">#fff</Var>
    <Var name="DropdownLinkColorActive" type="Color">#fff</Var>
    <Var name="DropdownLinkBackgroundActive" type="Color">#f9980f</Var>
    <Var name="DropdownLinkBackgroundHover" type="Color">#f9980f</Var>     
    
  </Vars>

  <Selects>
    <Select id="ShopBarLabels">
      <Option>label</Option>
      <Option>label-primary</Option>  
      <Option>label-info</Option>
      <Option>label-success</Option>
      <Option>label-warning</Option>
      <Option>label-important</Option>
      <Option>label-inverse</Option>
    </Select>

    <Select id="GridSettings">
      <Option>5/14/5</Option>
      <Option>6/12/6</Option>
      <Option>7/12/5</Option>
      <Option>7/11/6</Option>
    </Select>

    <Select id="BgSlideBehaviours">
      <Option>off</Option>
      <Option>on</Option>
      <Option>opposite</Option>
    </Select>
  </Selects>
    
</Theme>