/// <reference path="_variables.scss" />
/// <reference path="../../Content/shared/_variables-shared.scss" />
/// <reference path="../../Content/shared/_mixins.scss" />
/// <reference path="../../Content/bs4/scss/bootstrap.scss" />

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2rem;
    grid-template-rows: repeat(5, auto);
    grid-row-gap: 2rem;
}

.table-chart {
    tr > th, tr > td {
        width: 25%;
        min-width: 25%;
        max-width: 25%;

        &:first-child {
            width: 50%;
            min-width: 50%;
            max-width: 50%;
        }
    }
}


.clickable:hover {
    cursor: pointer;
}

.linked-text:link {
    color: inherit;
}

.report {
    .title-report {
        display: inline-block;
        margin: 0;
        vertical-align: middle;
        font-size: 1.1rem;
    }

    .nav-item.nav-link {
        font-size: .75rem;
        padding: 0.33rem .66rem;
        border-radius: 0;

        &.nav-item-left {
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }

        &.nav-item-right {
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
        }
    }

    .nav-link:hover {
        border-color: transparent;
    }

    .table {
        white-space: nowrap;

        .display-row {
            padding: 8px 16px;
        }
    }

    .chart-toggle {
        /*font-size: .75rem;
        padding: 0.33rem .66rem;
        z-index: 1;*/
    }

    .canvas-container {
        position: relative;
    }

    .report-order-fulfillment {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .report-incomplete-orders {
        grid-column-start: 7;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .marketplace-feed {
        grid-column-start: 11;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 5;
    }

    .report-sales {
        grid-column-start: 1;
        grid-column-end: 8;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .report-bestsellers {
        grid-column-start: 8;
        grid-column-end: 11;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .report-top-customers {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .report-customer-registrations {
        grid-column-start: 4;
        grid-column-end: 11;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .report-latest-orders {
        grid-column-start: 1;
        grid-column-end: 8;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .report-store-statistics {
        grid-column-start: 8;
        grid-column-end: 11;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    #orders-chart-legend {
        & > ul {
            cursor: pointer;
            list-style: none;
            padding: 0;
            margin: 0;
        }

        & li {
            display: inline-block;
            user-select: none;

            &.hidden {
                text-decoration: line-through;
                user-select: none;
            }

            &:not(:last-child) {
                padding-right: 1rem;
            }
        }

        & .total-amount {
            text-decoration: none !important;
            display: inline-block;
            user-select: text;
        }

        & .legend {
            border-radius: 7px;
            display: inline-block;
            height: 11px;
            margin-right: .3rem;
            width: 11px;
        }
    }

    .chevron {
        color: var(--success);

        &:after {
            @include fontawesome-font("\f077", regular); // chevron-down
            position: absolute;
        }

        &.negative:after {
            color: var(--danger);
            transform: rotate(180deg);
        }
    }
    /*.btn-group > .btn-secondary:hover:not(.active) {
        background-color: darken($secondary, 5%);
    }*/
    /*.customer-registrations, .top-customers {
        .btn-group {
            > .btn-secondary {
                &.active {
                    background-color: darken($success, 10%);
                    color: white;
                    z-index: 2;
                }

                &:hover:not(.active) {
                    background-color: darken($secondary, 10%);
                }
            }
        }
    }

    .sales-chart, .bestsellers {
        .btn-group {
            > .btn-secondary {
                &.active {
                    background-color: darken($primary, 10%);
                    color: white;
                    z-index: 2;
                }

                &:hover:not(.active) {
                    background-color: darken($secondary, 10%);
                }
            }
        }
    }*/
}
