/// <reference path="_variables.scss" />
/// <reference path="../../Content/shared/_variables-shared.scss" />
/// <reference path="../../Content/shared/_mixins.scss" />
/// <reference path="../../Content/bs4/scss/bootstrap.scss" />

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-auto-rows: auto;
}

.table-dashboard {
    > table {
        table-layout: fixed;

        tr > th, 
        tr > td {
            overflow-x: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            border-color: rgba(0, 0, 0, .1);
        }

        tr > th {
            border-top: 0;
        }
    }

    > .table-3 {
        tr > th, 
        tr > td {
            padding-left: 5px !important;
            padding-right: 5px !important;

            &:first-child {
                padding-left: 24px !important;
                width: 50%;
            }

            &:last-child {
                width: 30%;
                padding-right: 24px !important;
            }
        }
    }
}

.reports {
    .title-report {
        display: inline-block;
        margin: 0;
        font-weight: $font-weight-medium !important;
    }

    .table {
        white-space: nowrap;

        .display-row {
            padding: 0.875rem 1.5rem;
        }
    }

    .btn-dashboard {
        font-size: .75rem;
        padding: .33rem .66rem;
    }

    .canvas-container {
        position: relative;
    }

    .report-order-fulfillment {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .report-incomplete-orders {
        grid-column-start: 7;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .marketplace-feed {
        grid-column-start: 11;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 5;
    }

    .report-sales {
        grid-column-start: 1;
        grid-column-end: 8;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .report-bestsellers {
        grid-column-start: 8;
        grid-column-end: 11;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .report-top-customers {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .report-customer-registrations {
        grid-column: 4 / 11;
        grid-row: 3 / 4;
    }

    .report-latest-orders {
        grid-column-start: 1;
        grid-column-end: 8;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .report-store-statistics {
        grid-column-start: 8;
        grid-column-end: 11;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    #orders-chart-legend {
        & > ul {
            cursor: pointer;
            list-style: none;
            padding: 0;
            margin: 0;
        }

        & li {
            display: inline-block;
            user-select: none;

            &.hidden {
                text-decoration: line-through;
                user-select: none;
            }

            &:not(:last-child) {
                padding-right: 1rem;
            }
        }

        & .total-amount {
            text-decoration: none !important;
            display: inline-block;
            user-select: text;
        }

        & .legend {
            border-radius: 7px;
            display: inline-block;
            height: 11px;
            margin-right: .3rem;
            width: 11px;
        }
    }

    .chevron {
        color: var(--success);

        &:after {
            @include fontawesome-font("\f077", regular); // chevron-down
            position: absolute;
            top: 46px;
        }

        &.negative:after {
            color: var(--danger);
            transform: rotate(180deg);
        }
    }
}
