/// <reference path="theme.scss" />


/* Variabe shims
-------------------------------------------------------------- */

$btnWarningBackground:                  #7986cb;             


/* General
-------------------------------------------------------------- */

a:active,
a:hover {
	outline: 0;
}


/* Page
-------------------------------------------------------------- */

#page { 
	position: relative;
	margin: 0;
	padding: 0;
}


/* Warning panel message
-------------------------------------------------------------- */
.warning-panel-message {
	$bgColor: darken($btnWarningBackground, 15%);
	z-index: 1031;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 10px 20px;
    @include gradient-y($bgColor, darken($bgColor, 12%));
	color: #fff;
	text-shadow: 0px 1px 0px mix(#000, $bgColor, 30%);
	border-top: 1px solid darken($bgColor, 10%);
	text-align: center;
	a {
		color: inherit;
		text-decoration: underline;
	}

	.popup & {
		display: none !important;
	}
}


/* Header
-------------------------------------------------------------- */

header {
	@include gradient-bg($indigo);
	padding-bottom: 50px;
}

.popup header {
	display: none;
}


/* Main Menu
-------------------------------------------------------------- */

#navbar {
	padding: 0 30px;

	.dropdown-toggle:after {
		display: none;
	}

	.dropdown-menu {
		margin-top: -2px;
		opacity: 0;
		transform: translateY(-10px);
		display: block;
		visibility: hidden;
		transition: opacity 0.28s ease, transform 0.28s ease-out;

		&.show {
			visibility: visible;
			transform: translateY(0);
			opacity: 1;
		}
	}

	#navbar-menu .nav-item > .dropdown-menu {
		@include bubble("top", "near", 8, #fff, $dropdown-border-color, 10px);
	}

	.dropdown-item > i,
	.dropdown-item > img {
		display: inline-block;
		margin-left: -8px;
		margin-right: 0.6rem;
		font-size: inherit;
		//vertical-align: bottom;
	}

	.dropdown-header {
		font-size: $font-size-xs;
		text-transform: uppercase;
	}

	.nav-item {
		.nav-link {
			max-width: 100px;
			padding: 14px 8px !important;
			text-align: center;
			color: #fff;
			background: rgba(#fff, 0);
			opacity: 0.8;
			transition: opacity 0.1s linear, background-color 0.1s linear;
		}

		.nav-link:hover,
		&.show .nav-link {
			background: rgba(#fff, .15);
			opacity: 1;
		}

		.navbar-icon {
			position: relative;
			text-align: center;
			vertical-align: middle;
			font-size: 20px;
			height: 22px;
			line-height: 22px;
			color: #fff;
		}

		.navbar-label {
			@include text-truncate();
			text-align: center;
			font-size: 11px;
			padding: 0;
			padding-top: 0.25rem;
		}

		.navbar-tool {
			padding-left: 0.625rem !important;
			padding-right: 0.625rem !important;
			height: 72px;
			display: flex;

			> * {
				align-self: center;
			}
		}
	}

	.reddot {
		position: absolute;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: $red;
		color: #fff;
	}
}


/* SM additions
-------------------------------------------------------------- */

#ajax-busy {
	position: fixed;
	opacity: 0;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	height: 3px;
	z-index: 20;
	background-color: #ffab40;
	transition: opacity .05s ease-in;
}
#ajax-busy.busy {
	opacity: 1;
}
#ajax-busy.busy > .bar {
	content: "";
	display: inline;
	position: absolute;
	width: 0;
	height: 100%;
	left: 50%;
	text-align: center;
    animation: loading 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}
#ajax-busy > .bar:nth-child(1) {
	background-color: #fff;
}
#ajax-busy > .bar:nth-child(2) {
	background-color: #3F51B5;
	animation-delay: 0.5s;
}
#ajax-busy > .bar:nth-child(3) {
	background-color: #ffab40;
	animation-delay: 1s;
}
@keyframes loading {
    from {left: 50%; width: 0; z-index:100;}
    50% {left: 0; width: 100%; z-index: 10;}
    to {left: 0; width: 100%;}
}
@-webkit-keyframes loading {
    from {left: 50%; width: 0; z-index:100;}
    50% {left: 0; width: 100%; z-index: 10;}
    to {left: 0; width: 100%;}
}

.loading-bar {
	height: 4px;
	width: 100%;
	position: relative;
	overflow: hidden;
	background-color: #ddd;
}
.loading-bar:before {
	display: block;
	position: absolute;
	content: "";
	left: -200px;
	width: 200px;
	height: 4px;
	background-color: #2980b9;
	animation: loadingbar 2s linear infinite;
}
@keyframes loadingbar {
	from {left: -200px; width: 30%;}
	50% {width: 30%;}
	70% {width: 70%;}
	80% { left: 50%;}
	95% {left: 120%;}
	to {left: 100%;}
}
@-webkit-keyframes loadingbar {
	from {left: -200px; width: 30%;}
	50% {width: 30%;}
	70% {width: 70%;}
	80% { left: 50%;}
	95% {left: 120%;}
	to {left: 100%;}
}

.adminData {
    select, 
    input, 
    textarea,
    .uneditable-input,
    .input-append,
    .input-prepend {
        margin-bottom: 0 !important;
    }
}

.admin-config-group {
	display: block;
	width: 100%;

	.title,
	.small-title,
	.head {
		font-family: $headings-font-family;
		font-weight: $headings-font-weight;
		color: inherit; 
		border-bottom: 1px solid #ddd;
	}
	.sub-title {
		font-family: $font-family-base;
		font-size: $font-size-base;
		font-weight: 100;
	}
	.title,
	.head {
		font-size: $h5-font-size;
		padding: 12px 0;
	}
	.head {
		margin-bottom: 12px;
	}
	.title {
		margin: 12px 0;
	}
	.small-title {
		margin: 2px 0;
		padding: 2px 0;
	}
}


/* "select2" ui tweaks for admin
-------------------------------------------------------------- */

.select2-image-item {
	img {
		margin-bottom: 3px;
	}
	span:not(.select2-icon) {
		padding-left: 5px;
	}
	.icon-container {
		float: left;
		display: inline-block;
		width: 16px;
		min-width: 16px;
		max-width: 16px;
	}
}


/* HTML editor (CKEditor)
-------------------------------------------------------------- */

.cke_chrome.cke_focus {
    border-color: $input-focus-border-color;
    box-shadow: none;
}


body {
	background-color: #f5f5f5;
	&.popup {
		background-color: #fff;
	}
}
hr {
    border-bottom: 1px solid #ccc;
    color: #fff;
}
label.forcheckbox {
    margin: 0 0 0 .4em;
    display: inline;
}

/* ABOUT PAGE */
.about-page {
	max-width: 1000px;

	.work-list {
		list-style-type: none;
		padding: 0;
		margin: 20px 0 0 0;

		li {
			line-height: normal;
			margin: 10px 0 15px 0;

			.name, .name a:hover {
				font-weight: bold;
			}
		}
	}
}

/* MULTI-STORE */
*.multi-store-scope {
    label.checkbox {
        margin: 4px 0 1px 3px;
    }
}

/* TABLES */
td {
    vertical-align: middle;
}
td.fieldname {
    font-size: 12px;
}
.table-container {
}
.table-container .row {
}
.table-container .row .item-name {
    padding: 3px 10px 0 0;
    display: block;
    white-space: nowrap;
    padding-right: 10px;
    vertical-align: middle;
}
.table-container .row .item-value {
    padding: 3px 0 0;
    vertical-align: middle;
}
table.adminContent {
    border-collapse: collapse;
    margin: 0;
    width: 100%;
    vertical-align: middle;
    text-align: left;
}


tr.adminGroup {
	> td {
		padding-top: 18px;
	}

	label {
		padding-bottom: 3px;
		text-decoration: underline;
	}
}

.adminSeparator {
	width: 100%;

	hr {
		border: medium none;
		background-color: #ddd;
		color: #ddd;
		height: 1px;
		margin-top: 1rem;
		margin-bottom: 1rem;
		padding: 0;
	}
}


.section-header .options .plugin-actions {
	display: inline-block;
}

.plugin-config-container .plugin-actions {
	display: none;
}

.plugin-configuration {
	display: table;
	width: 100%;
	clear: both;

	> div {
		display: table-cell;
		vertical-align: top;
	}
	> div:first-child {
		width: 80%;
	}
	> div:last-child {
		float: right;
		padding-left: 50px;
	}
}

/* SERVER CONTROLS */

/* MISC. CLASSES */
.clear {
    border: medium none;
    clear: both;
    float: none;
    font-size: 0;
    height: 0;
    line-height: 0;
}

.mr8 { margin-right: 8px; }
.ml4 { margin-left: 4px; }

/* MASTER HEADER */
.header-menu,
.status-bar {
    display: none;
}

.header {
    height: 70px;
    width: 100%;
    $headerColor: #2486C3;
    @include gradient-y($headerColor, lighten($headerColor, 16%));
    position: relative;
    border-top: 3px solid darken($headerColor, 4%);
    border-bottom: 3px solid lighten($headerColor, 13%);
    box-shadow: 0 1px 0 #fff;
    
    & a {
        text-decoration: none;
    }
}

/* MASTER CONTENT */
.cph {
   padding-top: 55px;
}


/* ORDER EDITING */
.order-edit-cnt .edit-label {
	font-size: $font-size-sm;
}
.order-edit-cnt .edit-value {
	max-width: 100%;
}

/* BUNDLES */
.bundle-items-container {
	padding: 10px 0 0 60px;

	.bundle-item {
		margin-top: 5px;
	}

	.bundle-item-attribute-info {
		font-size: 0.85em;
		line-height: 1.45em;
		margin-top: 2px;
	}
}

/* WARNINGS */
.system-warnings {
	font-size: 1.2em;
}

.system-warnings li {
	margin-bottom: 0.8em;
}


/* Special icons */
.icon-active-true {
	color: $green;
	text-shadow: 0 -1px 0 #fff;
	&::before { content: '\f00c'; }
}

.icon-active-false {
	color: #c5c5c5;
	text-shadow: 0 -1px 0 #fff;
	&::before { content: '\f068'; }
}


#order-form .checkout-attributes {
	table {
		//margin-left: auto
	}
	.attr-caption {
		font-weight: bold;
		text-align: right;
		padding-right: 10px;
		&:after {
			content: ': ' 
		}
	}
	.attr-value {
		text-align: left;
	}
}

/* Table formatted variant attributes */
.product-attribute-table {
	.column-name {
		min-width: 80px;
		padding: 2px 10px 2px 0;
		vertical-align: top;
		font-weight: $font-weight-medium;
	}

	.column-value {
		padding: 2px 0 2px 0;
		vertical-align: top;
	}
}

.slides-title {
	position: relative;
	.headline {
		font-size: 18px;
		font-weight: 100;
	}
}

.color-container {
	display: inline-block;
	background-color: transparent;
	padding-right: 0.5rem;
	line-height: 1;

	.color {
		width: $font-size-base;
		height: $font-size-base;
		vertical-align: bottom;
		display: inline-block;
		border: 1px solid #646464;
	}
}



#pnlAllFlags a.flag {
    min-width: 100px;
    display: inline-block;
}
#pnlAllFlags a.flag:hover {
    text-decoration: none;
}


/* Download editor
-------------------------------------------------------------- */

.download-editor {
	.panel-switcher-icon { 
		//width: 13px; 
	}

	.filename {
		/*line-height: 32px; 
		vertical-align: middle; 
		padding-right: 10px; 
		font-weight: bold;
		max-width: 300px;
		display: inline-block;
		@include text-truncate();*/
	}
}




/* Data exchange
-------------------------------------------------------------- */
.profile-list {
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
}

.info-profile td {
    padding-top: 20px;
}

/* Import column mapping
-------------------------------------------------------------- */
@media (max-width: 1280px) {
	#ImportColumnMappings .right-label,
	.column-mapping .mapping-button-label,
	.mapping-list-item .right-label {
		display: none;
	}
}

.column-mapping .right-label,
.mapping-list-item .right-label {
	float: right;
	font-size: 0.9em;
}
.mapping-list-item {
	@include text-truncate();
}

.column-mapping {
	.column-one, .column-two {
		width: 42%;
	}

	.select-column, .select-property, .input-default {
		width: 98%;
	}

	th, td, .mapping-delete, .mapping-add, .mapping-apply, .mapping-cancel {
		white-space: nowrap;
		padding-left: 8px;
		padding-right: 8px;
	}

	.select2-container .select2-choice span {
		margin-right: 12px;
		white-space: nowrap;
	}

	.mapping-edit {
		white-space: nowrap;

		.select-column, .select-property {
			width: 84%;
		}
		.select2-container {
			float: left;
			display: inline-block;
			min-width: 220px;
			margin-right: 4px;
		}
	}

	.mapping-item {
		.item-inner {
			white-space: nowrap;
			cursor: pointer;
			padding: 7px 0;

			.property-icon {
				display: inline-block;
				margin-right: 0;
			}
			.left-label {
				display: inline-block;
			}
			.right-label {
				margin-right: 20px;
			}
		}
	}
}