/// <reference path="_variables.scss" />
/// <reference path="../../Content/shared/_variables-shared.scss" />
/// <reference path="../../Content/shared/_mixins.scss" />
/// <reference path="../../Content/bs4/scss/_functions.scss" />
/// <reference path="../../Content/bs4/scss/_variables.scss" />
/// <reference path="../../Content/bs4/scss/_mixins.scss" />

// RTL support (right to left)
// --------------------------------------------------

[dir=rtl] {
	.adminContent {
		&:not(.adminContent-vertical) > tbody > tr:not(.wide),
		&:not(.adminContent-vertical) > tr:not(.wide),
		&:not(.adminContent-vertical) .adminRow:not(.wide) {
			@include media-breakpoint-up(md) {
				> .adminTitle {
					text-align: left;
					//padding-right: $grid-gutter-width/2 !important;
					padding-left: 0 !important;
				}

				> .adminData {
					//padding-left: $grid-gutter-width/2 !important;
					padding-right: 0 !important;

					&:not(.wide) {
						//padding-right: $grid-gutter-width/2 !important;
						padding-left: 0 !important;
					}
				}
			}
			/*@include media-breakpoint-up(lg) {
				> .adminTitle {
					flex-basis: 400px;
					max-width: 40%;
				}

				> .adminData {
					flex-basis: 600px;
					max-width: 60%;

					&.wide {
						flex-grow: 1;
						flex-basis: 0;
						max-width: 100%;
					}
				}
			}*/
		}
	}

	.ctl-label {
		padding-left: 2.5rem;
		padding-right: initial;

		> label {
			padding-left: 0;
			padding-right: initial;
		}

		> .hint {
			left: 0;
			right: auto;
		}
	}
}
