/// <reference path="../../Content/bs4/scss/bootstrap.scss" />

/* Theme: SmartStore.NET ADMIN 
======================================== */


//
// Custom variables (TODO: unify later)
// --------------------------------------------------

$font-weight-light:         300 !default;
$font-weight-medium:        600 !default;
$headings-lg-font-weight:   400 !default;

$mtab-text-transform:		none !default;
$mtab-font-weight:			600 !default;
$mtab-color:				inherit !default;

//
// BS4 Variables
// --------------------------------------------------

$enable-shadows:	true;
$enable-gradients:	false;

// SmartStore CI colors
$sm-orange1: #ee9B00;
$sm-orange2: #e77c00;
$sm-green1: #53b498;
$sm-bluegreen: #2c8d8a;
$sm-red1: #e15900;
$sm-red2: #dc3000;
$sm-red3: #db004f;
$sm-blue: #37a0e6;
$sm-blue2: #1b50a1;
$sm-violet: #55237d;
$sm-gray1: #dadada;
$sm-gray2: #bcbcbc;
$sm-gray3: #878787;
$sm-gray4: #4a4a49;

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #b0bac3;
$gray-600: #8d9ba9;
$gray-700: #596167;
$gray-800: #393f46;
$gray-900: #22262a;

//
// Variables shims (TODO: remove later)
// --------------------------------------------------
$gray-lightest: $gray-100;
$gray-lighter:	$gray-300;
$gray-light:	$gray-500;
$gray:			$gray-700;
$gray-dark:		$gray-900;

$text-muted: $gray-600;

$blue:		$sm-blue;
$indigo:	$sm-blue2;
$purple:	$sm-violet;
$pink:		#e91e63; // Pink 500
$red:		$sm-red2;
$orange:	$sm-orange1;
$yellow:	#fdd835; // Yellow 600
$green:		#388e3c; // Green 700
$teal:		#009688; // Teal 500
$cyan:		#00BCD4; // Cyan 500
$bluegrey:	#78909c; // Bluegrey 500

$primary:	$blue;
$secondary: lighten($gray-200, 2%);
$success:	$green;
$info:		$sm-bluegreen;
$warning:	$orange;
$danger:	$red;
$light:		$gray-100;
$dark:		$sm-red3;

$theme-colors: ( 
	"gray": $gray-700 
);

$body-color:	$gray-800;
$body-bg:		#fff;
$link-color:	desaturate(darken($primary, 12%), 0%); //#0277bb;

// Set a specific jump point for requesting color jumps
$theme-color-interval:		8%;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold:	164;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark:				$gray-700;
$yiq-text-light:			#fff;

$spacer: 1rem;
$spacers: (
    5: ($spacer * 2.25),
    6: ($spacer * 3)
);

$font-size-base: 0.875rem;
$font-size-lg:   1rem;
$font-size-sm:   0.8125rem;
$font-size-xs:   0.75rem;

$h1-font-size: 2.5rem;
$h2-font-size: 2rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1rem;

$headings-font-weight:			400;

$table-cell-padding:			.75rem;
$table-cell-padding-sm:			.3rem;
$table-border-color:			$gray-300;
$table-head-bg:					#f6f8fa;
$table-head-color:				$gray-700;

$input-btn-focus-width:			.25rem;
$input-btn-focus-color:			rgba($sm-blue2, .25);
$input-btn-focus-box-shadow:	0 0 0 $input-btn-focus-width $input-btn-focus-color;
$input-btn-padding-x:           1rem;
$input-btn-padding-y:           0.5625rem;
$input-btn-padding-x-sm:        0.75rem;
$input-btn-padding-y-sm:        0.375rem;
$input-btn-padding-x-lg:        1.5rem;
$input-btn-padding-y-lg:        0.75rem;
$input-btn-line-height:         1.5;
$input-box-shadow:              none;
$input-focus-border-color:		lighten($sm-blue2, 25%);
$input-focus-box-shadow:        none;
$input-border-radius:           0;
$input-border-radius-lg:        0;
$input-border-radius-sm:        0;
$input-transition:              none;
$input-group-addon-bg:			$gray-100;


$btn-font-weight:				$font-weight-medium;
$btn-focus-width:				0; //$input-btn-focus-width;
$btn-box-shadow:				inset 0 0 0 rgba(#fff, 0.15), 0 0 0 rgba(#000, 0.075);
$btn-focus-box-shadow:			$input-btn-focus-box-shadow;
//$btn-active-box-shadow:         inset 0 2px 3px rgba(#000, .125);
$btn-transition:				background-color .05s ease-in-out, border-color .05s ease-in-out, box-shadow .15s ease-in-out;
$btn-border-radius:				0; //.125rem;
$btn-border-radius-lg:          0; //.1875rem;
$btn-border-radius-sm:          0; //.125rem;
$btn-disabled-opacity:			0.5;

$dropdown-box-shadow:			0 3px 12px rgba(27,31,35, 0.15); //0 2px 6px rgba(#000, .15);
$dropdown-border-color:			rgba(0, 0, 0, 0.08); 
$dropdown-link-color:			$body-color; //$gray-800;
$dropdown-link-hover-color:		#fff; //darken($gray-800, 5%);
$dropdown-link-hover-bg:        $indigo;
$dropdown-link-active-color:    $dropdown-link-hover-color;
$dropdown-link-active-bg:       lighten($dropdown-link-hover-bg, 5%);
$dropdown-item-padding-y:       0.625rem; // 0.5rem;
$dropdown-item-padding-x:       1.5rem;
$dropdown-header-color:			$text-muted;
$dropdown-link-disabled-color:	$gray-500;

// TEST
/*$dropdown-link-hover-color:		darken($dropdown-link-color, 5%);
$dropdown-link-hover-bg:		$gray-100;
$dropdown-link-active-color:	$dropdown-link-hover-color;
$dropdown-link-active-bg:		darken($dropdown-link-hover-bg, 5%);*/
// TEST

$popover-box-shadow:			$dropdown-box-shadow;
$popover-border-color:			$dropdown-border-color;

$alert-padding-y:				1rem;
$alert-border-radius: 0;

$nav-tabs-border-color:			#e1e4e8;

$table-accent-bg:				rgba(#000, .015);

//$thumbnail-border-radius:		0;


//
// Backend specific variables
// --------------------------------------------------

$content-padding-x:			30px;
$content-padding-y:			15px;


//
// Mixins (TODO: unify later)
// --------------------------------------------------

@mixin fontawesome($content, $size: inherit) {
    display: inline-block;
    font: normal normal normal 16px/1 'FontAwesome';
    font-size: $size;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: $content;
}


//
// Bootstrap 4
// --------------------------------------------------

@import "../../Content/bs4/scss/bootstrap.scss"; 


//
// Vendors
// --------------------------------------------------

@import "vendors/select2/scss/core.scss";
@import "vendors/colorpicker/scss/_colorpicker.scss";
@import "vendors/datetimepicker/scss/_tempusdominus.scss";


// Button tweaks
// -----------------------------------------------------

@each $color, $value in $theme-colors {
	*:not(.show) > .btn-#{$color},
	*:not(.show) > .btn-outline-#{$color} {
		&:not(:active):not(.active):focus,
		&:not(:active):not(.active).focus {
			@if $color == "secondary" or $color == "light" {
				box-shadow: 0 0 0 0.2em rgba($primary, .15);
			}
			@else {
				box-shadow: 0 0 0 0.2em rgba($value, .4);
			}
		}
	}
}

.btn-secondary {
	@include button-variant($secondary, $secondary, $secondary, rgba(#000, 0.15), darken($secondary, 10%), rgba(#000, 0.2));
}

.btn-light {
	@include button-variant($light, $light, $light, rgba(#000, 0.15), darken($light, 10%), rgba(#000, 0.2));
}

.btn-secondary,
.btn-light {
	&:focus, &.focus {
		border-color: rgba(#000, 0.2);
	}
}

//
// Global / Shared (unify later with Flex' resources)
// --------------------------------------------------

@import 'shared/_mixins.scss';
@import 'shared/_typo.scss';
@import 'shared/_alert.scss';
@import 'shared/_buttons.scss';
@import 'shared/_card.scss';
@import 'shared/_forms.scss';
@import 'shared/_pagination.scss';
@import 'shared/_nav.scss';
@import "shared/_modal.scss"; 
@import 'shared/_dropdown.scss';
@import "shared/_throbber.scss";
@import "shared/_spinner.scss";
@import 'shared/_animate.scss';
@import "shared/_sortable-grip.scss";
@import "shared/_entity-picker.scss";
@import 'shared/_choice.scss';
@import 'shared/_switch.scss';
@import "shared/_utils.scss";

//
// Skinning
// --------------------------------------------------

@import "skinning/_select2.scss";
@import "skinning/_pnotify.scss";
@import "skinning/_fileupload.scss";


//
// Legacy (remove later)
// --------------------------------------------------

@import "_legacy.scss"; 


//
// Common
// --------------------------------------------------

a img {
	border: 0;
}

legend {
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	font-size: 1.25rem;
}

h6, .h6 {
	// Small headings don't look good with 400.
	font-weight: $font-weight-medium;
}


//
// Legacy BS elements
// --------------------------------------------------

.well {
    background-color: $gray-100;
    padding: 1rem;
	margin-bottom: $alert-margin-bottom;
}

pre {
	background: $gray-100;
	padding: 1rem;
	border: 1px solid rgba(#000, 0.1);

	&.prettyprint {
		padding: 1rem !important;
		border: 1px solid rgba(#000, 0.1) !important;
	}
}

.badge-secondary {
	background-color: $gray-600;
	color: $yiq-text-light;
}


// Typo
// -----------------------------------------------------

.text-light {
	color: $gray-400 !important;
}

.text-primary-dark {
	color: $sm-blue2 !important;
}

.text-primary-darkest {
	color: $sm-violet !important;
}

.text-warning-dark {
	color: $sm-orange2 !important;
}

.text-danger-dark {
	color: $sm-red2 !important;
}


// Layout
// -----------------------------------------------------

html {
	height: 100%;
}

#content {
	position: relative;
	height: auto;
	margin: 0 15px;
	margin-top: -50px;
	background-color: #fff;
	padding: $content-padding-y ($content-padding-x / 2);
	padding-bottom: $content-padding-x * 2;
	box-shadow: 0 0 6px rgba(0,0,0, 0.2);
	border-top-left-radius: $border-radius;
	border-top-right-radius: $border-radius;

	@include media-breakpoint-up(lg) {
		margin-left: 30px;
		margin-right: 30px;
		padding-left: $content-padding-x;
		padding-right: $content-padding-x;
	}
}

.popup #content {
	margin: 0;
	border: 0;
	box-shadow: none;
	border-radius: 0;
}

.popup.bare {
	height: 100%;
	overflow-y: hidden;

	#page,
	#content,
	.cph {
		height: 100%;
		padding: 0;
	}
}

.section-title {
	border-bottom: solid 3px $gray-300;
	padding-bottom: 1px;
	margin-bottom: 10px;
	color: #009FFF;
	font-size: 14px;
	font-weight: 700;
	vertical-align: bottom;
}

.section-title img {
	vertical-align: middle;
	padding-bottom: 2px;
}

.section-header {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	padding: 0.75rem ($content-padding-x / 2);
	transition: background-color 0.1s ease-in-out, padding 0.1s ease-in-out;

	@include make-row();
	flex-wrap: nowrap;
	margin-left: 0;
	margin-right: 0;

	.title, .options {
		@include make-col-ready();
		/*padding-left: 0;
        padding-right: 0;*/
	}

	.title {
		font-family: $headings-font-family;
		font-weight: 400;
		color: $headings-color;
		font-size: $h5-font-size;
		line-height: $input-height;
		min-height: $input-height;
		vertical-align: middle;
		@include text-truncate();
		padding-left: 0;
		padding-right: 5px;
		color: $text-muted;
		// mimic .col
		flex-basis: 0;
		flex-grow: 1;
		max-width: 100%;

		> i {
			font-size: 28px;
			vertical-align: text-top;
			margin-right: 0.5rem;
			color: $text-muted;
		}

		> img {
			max-height: $input-height;
			max-width: 120px;
			margin-right: 5px;
			vertical-align: top;
		}

		a:not(.btn) {
			text-decoration: none;
			font-family: $font-family-sans-serif;
			font-size: 12px;
			font-weight: normal;
		}
	}
	// .title
	.options {
		// mimic .col-auto
		flex: 0 0 auto;
		width: auto;
		max-width: none; // Reset earlier grid tiers
		padding-left: 5px;
		padding-right: 0;

		> * {
			vertical-align: middle;
		}

		&.btn-toolbar {
			margin: 0;
		}

		@media (max-width: 768px) {
			// hide action button labels on small screens
			.btn > span:not(:only-child) {
				display: none;
			}
		}
	}

	&.sticky {
		position: fixed;
		z-index: 10;
		left: $content-padding-x / 2;
		right: $content-padding-x / 2;
		margin-left: 0;
		margin-right: 0;
		background: $gray-100;
		background: #fff;
		border-bottom: 1px solid rgba(0,0,0, 0.08);
	}

	@include media-breakpoint-up(lg) {
		padding-left: $content-padding-x;
		padding-right: $content-padding-x;

		&.sticky {
			left: $content-padding-x;
			right: $content-padding-x;
		}
	}
}

.popup .section-header.sticky {
	left: 0;
	right: 0;
	top: 0;
}

//
// Common
// --------------------------------------------------

.col-form-label {
	font-weight: $font-weight-medium;
}

.ctl-label {
	position: relative;
	padding-right: 2.5rem;
	display: inline-block;

	> label {
		position: relative;
		padding-right: 0;
		margin-bottom: 0.4rem;
		font-weight: $font-weight-medium;
	}

	> .hint {
		$hintColor: $gray-600;
		display: block;
		position: absolute;
		cursor: default;
		width: 2.5rem;
		right: 0;
		top: 0;
		text-decoration: none;
		outline: 0;
		color: $hintColor;
		transition: all .1s ease-in-out;
		opacity: 0;
		text-align: center;
		/*@extend .col-form-label;*/

		&:hover {
			color: $gray-600;
		}

		> i {
			font-size: 1.25rem;
		}
	}

	&:hover > .hint {
		opacity: 1;
	}
}


//
// Multi-store settings
// --------------------------------------------------

.multi-store-setting-control > input[type=checkbox] {
	position: relative;
	margin: 0;
	margin-top: $input-padding-y;
}


//
// Apply grid layout to editor tables (.adminContent)
// --------------------------------------------------
.adminContent {
	//max-width: 1400px;
	//@include make-container();
	display: block;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-left: 0;
	padding-right: 0;
	border-collapse: initial;

	> tbody {
		display: flex;
		flex-flow: column;
		border-collapse: initial;
	}

	> tbody > tr,
	> tr,
	.adminRow {
		display: flex;
		flex-wrap: wrap;
		margin-top: 0.4rem;
		margin-bottom: 0.4rem;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	div.adminRow {
		// div type rows do margin collapse, fix it.
		margin-top: 0.8rem;
		margin-bottom: 0.8rem;
	}

	.adminTitle,
	.adminData {
		@include make-col-ready();
		padding-right: 0;
		padding-left: 0;
	}

	.adminTitle {
		margin-bottom: 0;
	}

	.adminData {
		> .switch,
		.multi-store-setting-control > .switch {
			padding-top: calc(#{$input-padding-y} + #{$input-border-width});
			padding-bottom: calc(#{$input-padding-y} + #{$input-border-width});
		}

		> .switch {
			margin-bottom: 0;
			line-height: $input-line-height;
		}
	}

	> tbody > tr > td:only-child:not(.adminData):not(.adminTitle),
	> tr > td:only-child:not(.adminData):not(.adminTitle) {
		flex-grow: 1;
		max-width: 100%;
	}

	&.adminContent-boxed {
		.adminTitle, .adminData {
			padding-left: $grid-gutter-width / 2;
			padding-right: $grid-gutter-width / 2;
		}
	}

	&:not(.adminContent-vertical) > tbody > tr:not(.wide),
	&:not(.adminContent-vertical) > tr:not(.wide),
	&:not(.adminContent-vertical) .adminRow:not(.wide) {
		@include media-breakpoint-up(md) {
			flex-wrap: nowrap;

			> .adminTitle {
				flex: 0 0 33.333333%;
				max-width: 33.333333%;
				text-align: right;
				padding-right: 0 !important;

				.ctl-label > label,
				.ctl-label > .hint {
					// actually is '.col-form-label', @extend is not possible here.
					font-size: inherit;
					line-height: $input-line-height;
					padding-top: calc(#{$input-padding-y} + #{$input-border-width});
					padding-bottom: calc(#{$input-padding-y} + #{$input-border-width});
					margin-bottom: 0;
				}
			}

			> .adminData {
				flex: 0 0 66.666667%;
				max-width: 66.666667%;
				padding-left: 0 !important;

				&:not(.wide) {
					padding-right: 0 !important;
				}
			}
		}

		@include media-breakpoint-up(lg) {
			> .adminTitle {
				flex-basis: 400px;
				max-width: 40%;
			}

			> .adminData {
				flex-basis: 600px;
				max-width: 60%;

				&.wide {
					flex-grow: 1;
					flex-basis: 0;
					max-width: 100%;
				}
			}
		}
	}
}


//
// Tables
// --------------------------------------------------

.admin-table {
	$tbcolor: darken($table-border-color, 5%);
	border: 1px solid $tbcolor;

	thead {
		background-color: $table-head-bg;
	}

	thead th {
		line-height: 1.75rem;
		border-bottom-width: 1px;
		border-top-color: $tbcolor;
	}

	td, th {
		vertical-align: middle;
	}

	.disabled {
		color: $text-muted;
	}

	.progress-info {
		min-width: 260px;
	}

	select, input {
		margin-bottom: 0;
	}
}

// Handle action button toggling in tables & grids (INFO: .t-grid is .table)
.table tbody {
	.t-last {
		@include text-truncate();
	}

	.omega {
		text-align: right;
	}

	tr:not(.t-grid-edit-row):not(.active-row) {
		> .t-last,
		> .omega {
			.t-button, .btn {
				visibility: hidden;
			}
		}

		&:hover > .t-last,
		&:hover > .omega {
			.t-button, .btn {
				visibility: visible;
			}
		}
	}
}


//
// Locale Editor
// --------------------------------------------------

.locale-editor {
	$border-color: $card-border-color;

	background-color: #fff;
	border: 1px solid $border-color;
	margin-bottom: 1rem;
	border-radius: $border-radius;

	.nav-locales > .nav {
		padding: 0.25rem 0.25rem 0 0.25rem;
		border-bottom-color: $border-color;
		background-color: $card-cap-bg;
		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;

		.nav-link {
			color: #777;
			font-weight: 600;
			padding-top: 0.75rem;
			padding-bottom: 0.75rem;

			> img {
				opacity: 0.8;
			}
		}

		.nav-link:hover,
		.nav-link.active {
			color: inherit;
			border-color: transparent;

			> img {
				opacity: 1;
			}
		}

		.nav-link.active {
			background-color: #fff;
			border-color: $border-color;
			border-bottom-color: #fff;
		}
	}

	> .nav-locales > .tab-content > .tab-pane > .adminContent {
		@extend .adminContent-boxed;
	}
}


//
// Thumb Zoomer
// --------------------------------------------------

.zoomable-thumb-container {
	width: 50px;
	height: 32px;
	line-height: 32px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;

	> img {
		max-height: 100%;
		max-width: 100%;
	}
}

.zoomable-thumb {
	max-width: 50px;
	max-height: 32px;
}

.zoomable-thumb-clone {
	border: 1px solid #bbb;
	background-color: #fff;
	z-index: 100;
}


//
// Collapsible .adminContent element (groups)
// --------------------------------------------------

/*.adminContent {
    > tbody.collapsible,
    > tr.collapsible,
    > tbody > tr.collapsible {
        display: none;

        &.expanded {
            display: flex !important;
        }
    }
}*/


//
// Adapt class-less form elements to bs4
// --------------------------------------------------

input[type=text]:not([class*="form-control"]),
input[type=password]:not([class*="form-control"]),
input[type=email]:not([class*="form-control"]),
input[type=number]:not([class*="form-control"]),
input[type=tel]:not([class*="form-control"]),
.t-numerictextbox > .t-input,
select:not([class*="form-control"]),
textarea:not([class*="form-control"]) {
	@extend .form-control;
}

// Reset BS' check/radio positioning in adminData-columns
.adminData > .form-check-input {
	position: relative;
	margin-left: 0;
}


//
// Themes
// --------------------------------------------------

#theme-list {
	.theme-thumbnail {
		height: 220px;
		background-size: cover;
		background-repeat: no-repeat;
		border-bottom: 1px solid rgba(#000, 0.1);
	}

	.theme-broken-badge {
		position: absolute;
		background-color: $danger;
		color: #fff;
		right: 0;
		bottom: 0;
		padding: 0.25rem 0.75rem;
		font-size: 1rem;
	}
}

.theme-editor {
	.themevar-chain-info {
		color: $gray-600;
		margin-left: 0.75rem;
	}
}


//
// Datetimepicker
// --------------------------------------------------

.datetimepicker-group {
	.input-group-text {
		padding-left: 0 !important;
		padding-right: 0 !important;
		width: $input-height;

		> i {
			width: 100%;
		}
	}

	&.input-group-sm .input-group-text {
		width: $input-height-sm;
	}

	&.input-group-lg .input-group-text {
		width: $input-height-lg;
	}
}


//
// Dashboard
// --------------------------------------------------

.stats-today {
	.stats-today-item {
		padding: 0 1.5rem;
		text-align: left;
		border-right: 1px solid $gray-300;

		&:last-child {
			padding-right: $grid-gutter-width/2;
			border-right: none
		}
	}

	.stats-today-item-label {
		font-weight: 400;
		font-size: $font-size-xs;
		margin-bottom: 0.75rem;
		color: $gray-600;
	}

	.stats-today-item-value {
		font-size: 2rem;
		font-weight: 600;
		line-height: 2rem;
	}

	.stats-today-title {
		line-height: 1;
	}
}

.marketplace-feed {
	.marketplace-feed-title {
		text-transform: uppercase;
		font-size: 18px;
		margin-bottom: 30px;

		i {
			font-size: 20px;
		}
	}

	.marketplace-feed-item {
		margin-bottom: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid #ddd;

		&:last-child {
			border-bottom: none;
		}
	}

	.marketplace-feed-item-title {
		margin-bottom: 4px;
	}
}


// Plugins & Providers
// --------------------------------------------------------------

.sortable-grip {
	left: 0;
	width: 9px;
	z-index: 1000;
}

.module-list {
	margin-bottom: 2rem;
	margin-left: -$content-padding-x;
	margin-right: -$content-padding-x;
}

.module-list, 
.module-item {
	position: relative;
}

.module-list > h3 {
	color: $text-muted;
	font-size: $h5-font-size;
	margin-bottom: 1rem;
	padding: 0 $content-padding-x;
}

.module-item {
	display: flex;
	flex-wrap: wrap;
	padding: 1rem 0;
	border-top: 1px solid rgba(#000, 0.1);
}

.module-item.inactive {
	background-color: $gray-100;
}

.module-item.inactive .module-icon {
	opacity: 0.5;
}

.module-icon {
	width: 93px;
	text-align: center;
	flex: 0 0 auto;
	max-width: none;
	padding: 15px;
	padding-left: $content-padding-x;

	.icon, i {
		max-width: 48px;
	}
}

.module-data {
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
	padding: 0 15px;
}

.module-item:last-child .module-data {
	border-bottom: none;
}

.module-col {
}

.module-heading {
	display: flex;
	flex-wrap: nowrap;
}

.module-title {
	display: flex;
	flex-wrap: nowrap;
}

.module-name {
	font-weight: $font-weight-medium;
	font-size: $font-size-lg;
}

.module-badges {
	margin-left: 0.4rem;
}

.module-info {
	margin-top: 0.2rem;
	font-size: $font-size-sm;
}

.module-actions {
	margin-left: auto;
	transition: opacity 0.1s ease-in-out;

	&:not(.show) {
		opacity: 0;
	}

	.module-item:hover & {
		opacity: 1;
	}
}

.module-info .attr:after {
	display: inline-block;
	content: '\00b7';
	padding: 0 5px;
}

.module-info .attr:last-child:after {
	display: none;
}

.module-info .attr-value {
	display: inline-block;
	color: $text-muted;
	padding-left: 0.15rem
}

.module-description {
	margin-bottom: 0.25rem;
	color: $gray-600;
}

table.payment-method-features td {
	padding: 2px 4px;
	font-size: $font-size-sm;
}


/* Scheduled tasks
-------------------------------------------------------------- */

.minimal-task-widget {
	/*min-height: 26px;

	.task-progress {
		width: 400px;
	}

	.btn-cancel-task {
		margin-left: 10px
	}

	.btn-actions {
		display: inline-block;
		margin-left: 10px;
	}*/
}


//
// Telerik adaptation
// --------------------------------------------------

@import "telerik/_telerik.scss";
