/// <reference path="bs4/scss/bootstrap.scss" />

/* Theme: SmartStore.NET ADMIN 
======================================== */


//
// Custom variables (TODO: unify later)
// --------------------------------------------------

$font-weight-light:         300 !default;
$font-weight-medium:        600 !default;
$headings-lg-font-weight:   400 !default;

$mtab-text-transform:		none !default;
$mtab-font-weight:			600 !default;
$mtab-color:				inherit !default;

//
// BS4 Variables
// --------------------------------------------------

$enable-shadows:	true;
$enable-gradients:	false;

$gray-100:  #f8f9fa;
$gray-200:  #e9ecef;
$gray-300:  #dee2e6;
$gray-400:  #ced4da;
$gray-500:  #adb5bd;
$gray-600:  #868e96;
$gray-700:  #495057;
$gray-800:  #343a40;
$gray-900:  #212529;

$blue:      #5677fc; // Blue 500
$indigo:    #3f51b5; // Indigo 500
$purple:    #9c27b0; // Purple 500
$pink:      #e91e63; // Pink 500
$red:       #e51c23; // Red 500
$orange:    #f57c00; // Orange 700
$yellow:    #fdd835; // Yellow 600
$green:     #259b24; // Green 500
$teal:      #009688; // Teal 500
$cyan:      #00BCD4; // Cyan 500
$bluegrey:  #78909c; // Bluegrey 500

$primary:	$indigo;
$secondary:	lighten($gray-200, 2%); //#f4f5f7 //$gray-200;
$success:	$green;
$info:		$cyan;
$warning:	$orange;
$danger:	$red;
$light:		$gray-100;
$dark:		$gray-800;

$body-color:	$gray-800;
$body-bg:		#fff;
$link-color:	#0277bb;

// Set a specific jump point for requesting color jumps
$theme-color-interval:		8%;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold:	150;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark:				$gray-700;
$yiq-text-light:			#fff;

$spacer: 1rem;
$spacers: (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 2.25),
    6: ($spacer * 3)
);

$font-size-base: 0.875rem;
$font-size-lg:   1rem;
$font-size-sm:   0.8125rem;
$font-size-xs:   0.75rem;

$h1-font-size: 2.5rem;
$h2-font-size: 2rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1rem;

$headings-font-weight:			400;

$table-cell-padding:			.75rem;
$table-cell-padding-sm:			.3rem;
$table-border-color:			$gray-300;
$table-head-bg:					#f6f8fa;
$table-head-color:				$gray-700;

$input-btn-focus-width:			.2rem;
$input-btn-focus-color:			rgba($primary, .25);
$input-btn-focus-box-shadow:	0 0 0 $input-btn-focus-width $input-btn-focus-color;
$input-btn-padding-x:           1rem;
$input-btn-padding-y:           0.5625rem;
$input-btn-padding-x-sm:        0.75rem;
$input-btn-padding-y-sm:        0.375rem;
$input-btn-padding-x-lg:        1.5rem;
$input-btn-padding-y-lg:        0.75rem;
$input-btn-line-height:         1.5;
$input-box-shadow:              none;
$input-focus-box-shadow:        none;
$input-border-radius:           0;
$input-border-radius-lg:        0;
$input-border-radius-sm:        0;
$input-transition:              none;


$btn-font-weight:				$font-weight-medium;
//$btn-box-shadow:				0 1px 1px rgba(#000, .075);
$btn-focus-width:				$input-btn-focus-width;
$btn-box-shadow:				0 0 0 transparent;
$btn-focus-box-shadow:			$input-btn-focus-box-shadow;
$btn-active-box-shadow:         inset 0 2px 3px rgba(#000, .125);
//$btn-transition:                box-shadow .12s ease-in-out;
$btn-transition:				box-shadow .1s ease-in-out, background-color .05s ease-in-out, border-color .05s ease-in-out;
$btn-border-radius:				.125rem;
$btn-border-radius-lg:          .1875rem;
$btn-border-radius-sm:          .125rem;

$dropdown-box-shadow:			0 3px 12px rgba(27,31,35, 0.15); //0 2px 6px rgba(#000, .15);
$dropdown-border-color:			rgba(0, 0, 0, 0.08); 

$dropdown-link-color:			$body-color; //$gray-800;
$dropdown-link-hover-color:		#fff; //darken($gray-800, 5%);
$dropdown-link-hover-bg:        $indigo;

$dropdown-link-active-color:    $dropdown-link-hover-color;
$dropdown-link-active-bg:       lighten($dropdown-link-hover-bg, 5%);

$dropdown-item-padding-y:       0.625rem; // 0.5rem;
$dropdown-item-padding-x:       1.5rem;

$alert-padding-y:				1rem;

$input-group-addon-bg:			$gray-100;

$nav-tabs-border-color:			#e1e4e8;

$alert-border-radius:			0;

$table-accent-bg:				rgba(#000, .015);

//
// Variables shims (TODO: remove later)
// --------------------------------------------------
$gray-dark:		$gray-900;
$gray:          $gray-700;
$gray-light:    $gray-600;
$gray-lighter:  $gray-200;
$gray-lightest: $gray-100;


//
// Mixins (TODO: unify later)
// --------------------------------------------------

@mixin fontawesome($content, $size: inherit) {
    display: inline-block;
    font: normal normal normal 16px/1 'FontAwesome';
    font-size: $size;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: $content;
}


//
// Bootstrap 4
// --------------------------------------------------

@import "bs4/scss/bootstrap.scss"; 


//
// Vendors
// --------------------------------------------------

@import "vendors/select2/scss/core.scss";
@import "vendors/colorpicker/scss/_colorpicker.scss";
@import "vendors/datetimepicker/scss/_tempusdominus.scss";


//
// Global / Shared (unify later with Flex' resources)
// --------------------------------------------------

@import 'shared/_mixins.scss';
@import 'shared/_typo.scss';
@import 'shared/_alert.scss';
@import 'shared/_buttons.scss';
@import 'shared/_card.scss';
@import 'shared/_forms.scss';
@import 'shared/_pagination.scss';
@import 'shared/_nav.scss';
@import "shared/_modal.scss"; 
@import 'shared/_dropdown.scss';
@import "shared/_throbber.scss";
@import "shared/_spinner.scss";
@import "shared/_sortable-grip.scss";
@import "shared/_entity-picker.scss";
@import "shared/_utils.scss";


//
// Legacy (remove later)
// --------------------------------------------------

@import "_legacy.scss"; 


//
// Skinning
// --------------------------------------------------

@import "skinning/_select2.scss";
@import "telerik/_telerik.scss";


//
// Common
// --------------------------------------------------

a img {
	border: 0;
}

legend {
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	font-size: 1.25rem;
}

h6, .h6 {
	// Small headings don't look good with 400.
	font-weight: $font-weight-medium;
} 


//
// Legacy BS elements
// --------------------------------------------------

.well {
    background-color: $gray-100;
    padding: 1rem;
	margin-bottom: $alert-margin-bottom;
}

pre {
	background: $gray-100;
	padding: 1rem;
	border: 1px solid rgba(#000, 0.1);

	&.prettyprint {
		padding: 1rem !important;
		border: 1px solid rgba(#000, 0.1) !important;
	}
}

.hide {
	display: none;
}

.muted {
	@extend .text-muted;
}

.badge-secondary {
	background-color: $gray-600;
	color: $yiq-text-light;
}


//
// Common
// --------------------------------------------------

.col-form-label {
	font-weight: $font-weight-medium;
}

.ctl-label {
	position: relative;
	padding-right: 2.5rem;
	display: inline-block;

	> label {
		position: relative;
		padding-right: 0;
		margin-bottom: 0.4rem;
		font-weight: $font-weight-medium;
	}

	> .hint {
		$hintColor: $gray-500;
		display: block;
		position: absolute;
		cursor: default;
		width: 2.5rem;
		right: 0;
		top: 0;
		text-decoration: none;
		outline: 0;
		color: $hintColor;
		transition: all .1s ease-in-out;
		opacity: 0;
		text-align: center;
		/*@extend .col-form-label;*/

		&:hover {
			color: $gray-600;
		}

		.fa {
			font-size: 1.25rem;
		}
	}

	&:hover > .hint {
		opacity: 1;
	}
}


//
// Apply grid layout to editor tables (.adminContent)
// --------------------------------------------------

.adminContent {
	//max-width: 1400px;
	//@include make-container();
	display: block;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-left: 0;
	padding-right: 0;
	border-collapse: initial;

	> tbody {
		display: flex;
		flex-flow: column;
		border-collapse: initial;
	}

	> tbody > tr,
	> tr,
	.adminRow {
		display: flex;
		flex-wrap: wrap;
		margin-top: 0.4rem;
		margin-bottom: 0.4rem;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	div.adminRow {
		// div type rows do margin collapse, fix it.
		margin-top: 0.8rem;
		margin-bottom: 0.8rem;
	}

	.adminTitle,
	.adminData {
		@include make-col-ready();
		padding-right: 0;
		padding-left: 0;
	}

	.adminTitle {
		margin-bottom: 0;
	}

	.adminData {
		> .switch {
			margin-bottom: 0;
			padding-top: calc(#{$input-padding-y} - 1px);
			padding-bottom: calc(#{$input-padding-y} + 1px);
			line-height: $input-line-height;
		}
	}

	> tbody > tr > td:only-child:not(.adminData):not(.adminTitle),
	> tr > td:only-child:not(.adminData):not(.adminTitle) {
		flex-grow: 1;
		max-width: 100%;
	}

	&.adminContent-boxed {
		.adminTitle, .adminData {
			padding-left: $grid-gutter-width / 2;
			padding-right: $grid-gutter-width / 2;
		}
	}

	&:not(.adminContent-vertical) > tbody > tr:not(.wide),
	&:not(.adminContent-vertical) > tr:not(.wide),
	&:not(.adminContent-vertical) .adminRow:not(.wide) {
		@include media-breakpoint-up(md) {
			> .adminTitle {
				flex: 0 0 33.333333%;
				max-width: 33.333333%;
				text-align: right;
				padding-right: 0 !important;

				.ctl-label > label,
				.ctl-label > .hint {
					// actually is '.col-form-label', @extend is not possible here.
					font-size: inherit;
					line-height: $input-line-height;
					padding-top: calc(#{$input-padding-y} + #{$input-border-width});
					padding-bottom: calc(#{$input-padding-y} + #{$input-border-width});
					margin-bottom: 0;
				}
			}

			> .adminData {
				flex: 0 0 66.666667%;
				max-width: 66.666667%;
				padding-left: 0 !important;
			}
		}

		@include media-breakpoint-up(lg) {
			> .adminTitle {
				flex-basis: 400px;
				max-width: 40%;
			}

			> .adminData {
				flex-basis: 600px;
				max-width: 60%;

				&.wide {
					flex-grow: 1;
					flex-basis: 0;
					max-width: 100%;
				}
			}
		}
	}
}


//
// Tables
// --------------------------------------------------

.admin-table {
	$tbcolor: darken($table-border-color, 5%);
	border: 1px solid $tbcolor;

	thead {
		background-color: $table-head-bg;
	}

	thead th {
		line-height: 1.75rem;
		border-bottom-width: 1px;
		border-top-color: $tbcolor;
	}

	td, th {
		vertical-align: middle;
	}

	.disabled {
		color: $text-muted;
	}

	.progress-info {
		min-width: 260px;
	}

	select, input {
		margin-bottom: 0;
	}
}

// Handle action button toggling in tables & grids (INFO: .t-grid is .table)
.table tbody {
	.t-last {
		@include text-truncate();
	}

	.omega {
		text-align: right;
	}

	tr:not(.t-grid-edit-row):not(.active-row) {
		> .t-last,
		> .omega {
			.t-button, .btn {
				visibility: hidden;
			}
		}

		&:hover > .t-last,
		&:hover > .omega {
			.t-button, .btn {
				visibility: visible;
			}
		}
	}
}


//
// Locale Editor
// --------------------------------------------------

.locale-editor {
	$border-color: $card-border-color;

	background-color: #fff;
	border: 1px solid $border-color;
	margin-bottom: 1rem;
	border-radius: $border-radius;

	.nav-locales > .nav {
		padding: 0.25rem 0.25rem 0 0.25rem;
		border-bottom-color: $border-color;
		background-color: $card-cap-bg;
		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;

		.nav-link {
			color: #777;
			font-weight: 600;
			padding-top: 0.75rem;
			padding-bottom: 0.75rem;

			> img {
				opacity: 0.8;
			}
		}

		.nav-link:hover,
		.nav-link.active {
			color: inherit;
			border-color: transparent;

			> img {
				opacity: 1;
			}
		}

		.nav-link.active {
			background-color: #fff;
			border-color: $border-color;
			border-bottom-color: #fff;
		}
	}

	> .nav-locales > .tab-content > .tab-pane > .adminContent {
		@extend .adminContent-boxed;
	}
}


//
// Thumb Zoomer
// --------------------------------------------------

.zoomable-thumb-container {
	width: 50px;
	height: 32px;
	line-height: 32px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;

	> img {
		max-height: 100%;
		max-width: 100%;
	}
}

.zoomable-thumb {
	max-width: 50px;
	max-height: 32px;
}

.zoomable-thumb-clone {
	border: 1px solid #bbb;
	background-color: #fff;
}


//
// Collapsible .adminContent element (groups)
// --------------------------------------------------

/*.adminContent {
    > tbody.collapsible,
    > tr.collapsible,
    > tbody > tr.collapsible {
        display: none;

        &.expanded {
            display: flex !important;
        }
    }
}*/


//
// Adapt class-less form elements to bs4
// --------------------------------------------------

.adminContent, 
.t-grid {
	input[type=text]:not(.form-control-plaintext), 
	input[type=password],
	input[type=email],
	input[type=number],
	input[type=tel],
	.t-numerictextbox > .t-input,
	select,
	textarea {
		@extend .form-control;
	}
}

// Reset BS' check/radio positioning in adminData-columns
.adminData > .form-check-input {
	position: relative;
	margin-left: 0;
}


//
// Themes
// --------------------------------------------------

#theme-list {
	.theme-thumbnail {
		height: 220px;
		background-size: cover;
		background-repeat: no-repeat;
		border-bottom: 1px solid rgba(#000, 0.1);
	}

	.theme-broken-badge {
		position: absolute;
		background-color: $danger;
		color: #fff;
		right: 0;
		bottom: 0;
		padding: 0.25rem 0.75rem;
		font-size: 1rem;
	}
}

.theme-editor {
	.themevar-chain-info {
		color: $gray-500;
		margin-left: 0.75rem;
	}
}
