<?xml version="1.0" encoding="utf-8" ?>
<Theme title="Flex" previewText="'Flex' default theme" author="SmartStore AG" version="1.0">

  <Vars>
    <!-- Common colors -->
    <Var name="gray-100" type="Color">#f7f7f9</Var>
    <Var name="gray-200" type="Color">#e9ecef</Var>
    <Var name="gray-300" type="Color">#dee2e6</Var>
    <Var name="gray-400" type="Color">#ced4da</Var>
	<Var name="gray-500" type="Color">#b0bac3</Var>
	<Var name="gray-600" type="Color">#8d9ba9</Var>
	<Var name="gray-700" type="Color">#596167</Var>
	<Var name="gray-800" type="Color">#393f46</Var>
	<Var name="gray-900" type="Color">#22262a</Var>

    <Var name="red" type="Color">#f44336</Var>
    <Var name="orange" type="Color">#ee9B00</Var>
    <Var name="yellow" type="Color">#ffeb3b</Var>
    <Var name="green" type="Color">#4caf50</Var>
	  <!--Var name="blue" type="Color">#2196f3</Var-->
	<Var name="blue" type="Color">#37a0e6</Var>
    <Var name="bluegrey" type="Color">#78909c</Var>
    <Var name="indigo" type="Color">#3f51b5</Var>
    <Var name="teal" type="Color">#009688</Var>
	<Var name="cyan" type="Color">#00bcd4</Var>
	<Var name="purple" type="Color">#ff5b77</Var>
    <Var name="pink" type="Color">#ff5b77</Var>

    <!-- Brand Colors -->
    <Var name="primary" type="Color">$indigo</Var>
	<Var name="secondary" type="Color">$gray-600</Var>
    <Var name="warning" type="Color">$orange</Var>
    <Var name="danger" type="Color">$red</Var>
    <Var name="info" type="Color">$blue</Var>
    <Var name="success" type="Color">$green</Var>
	<Var name="light" type="Color">lighten($gray-200, 2%)</Var>
    <Var name="dark" type="Color">$gray-900</Var>
    
    <!-- Common variables -->
    <Var name="border-radius" type="String">0.25rem</Var>
    <Var name="border-radius-lg" type="String">0.3rem</Var>
    <Var name="border-radius-sm" type="String">0.2rem</Var>
    
    <!-- Layout -->
    <Var name="boxed" type="Boolean">false</Var>
    
    <!-- Main site colors -->
    <Var name="site-bg" type="Color">$gray-100</Var>
    <Var name="body-bg" type="Color">#fff</Var>
    <Var name="body-color" type="Color">$gray-800</Var>
	<Var name="yiq-text-dark" type="Color">$gray-900</Var>
	<Var name="yiq-text-light" type="Color">#fff</Var>
    <Var name="text-muted" type="Color">$gray-600</Var>
    <Var name="link-color" type="Color">#0066c0</Var>

	<!-- Secondary Button -->
	<Var name="btn-secondary-bg" type="Color">#fff</Var>
	<Var name="btn-secondary-border" type="Color">$gray-400</Var>
	  
    <!-- Footer -->
    <Var name="inverse-footer" type="Boolean">false</Var>
    <Var name="footer-bg" type="Color">$gray-100</Var>
    <Var name="footer-color" type="Color">$body-color</Var>
    <Var name="footer-color-muted" type="Color">$text-muted</Var>
    <Var name="footer-inverse-color" type="Color">#fff</Var>
    <Var name="footer-inverse-color-muted" type="Color">rgba(#fff, 0.5)</Var>
    <Var name="footer-social-bg" type="Color">#aaa</Var>
    <Var name="footer-social-color" type="Color">#fff</Var>
    
    <!-- Common Font -->
    <!-- e.g.: Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic -->
    <Var name="google-font-1" type="String"></Var>
    <Var name="google-font-2" type="String"></Var>
    <Var name="google-font-3" type="String"></Var>
    
    <Var name="font-family-sans-serif" type="String">-apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif</Var>
    <Var name="font-family-monospace" type="String">Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace</Var>
    <Var name="font-size-base" type="String">0.875rem</Var>
    <Var name="font-size-lg" type="String">1rem</Var>
    <Var name="font-size-sm" type="String">0.8125rem</Var>
    <Var name="font-size-xs" type="String">0.75rem</Var>

    <Var name="font-weight-light" type="String">300</Var>
    <Var name="font-weight-normal" type="String">normal</Var>
    <Var name="font-weight-medium" type="String">600</Var>
    <Var name="font-weight-bold" type="String">bold</Var>

    <!-- Headings -->
    <Var name="headings-font-family" type="String">inherit</Var>
    <Var name="headings-font-weight" type="String">600</Var>
    <Var name="headings-line-height" type="String">1.2</Var>
    <Var name="headings-color" type="String">inherit</Var>
    <Var name="lead-font-weight" type="String">300</Var>

    <!-- h1-h6 -->
    <Var name="h1-font-size" type="String">2.5rem</Var>
    <Var name="h2-font-size" type="String">2rem</Var>
    <Var name="h3-font-size" type="String">1.75rem</Var>
    <Var name="h4-font-size" type="String">1.25rem</Var>
    <Var name="h5-font-size" type="String">1rem</Var>
    <Var name="h6-font-size" type="String">$font-size-base</Var>

    <!-- Header -->
    <Var name="header-bg" type="Color">transparent</Var>
    <Var name="inverse-menubar" type="Boolean">false</Var>
    <Var name="inverse-shopbar" type="Boolean">false</Var>
    <Var name="inverse-navbar" type="Boolean">false</Var>
    <Var name="menubar-bg" type="Color">transparent</Var>
    <Var name="shopbar-bg" type="Color">transparent</Var>
    <Var name="megamenu-bg" type="Color">$gray-100</Var>

    <Var name="menubar-color" type="Color">$body-color</Var>            
    <Var name="shopbar-color" type="Color">$body-color</Var>
    <Var name="megamenu-color" type="Color">$body-color</Var>
    <Var name="menubar-inverse-color" type="Color">#fff</Var>
    <Var name="shopbar-inverse-color" type="Color">#fff</Var>
    <Var name="megamenu-inverse-color" type="Color">#fff</Var>
    <Var name="megamenu-line-height" type="String">1.8</Var>

    <!-- Megamenu Dropdowns -->
    <Var name="megamenu-dropdown-bg" type="Color">#fff</Var>
    <Var name="megamenu-heading-color" type="Color">#222</Var>
    <Var name="megamenu-subitem-color" type="Color">#999</Var>
    <Var name="megamenu-text-color" type="Color">$body-color</Var>
    <Var name="megamenu-rotator-bg" type="Color">rgba(#fff, 0.92)</Var>

    <!-- Search -->
    <Var name="searchbox-bg" type="Color">#fff</Var>
    <Var name="searchbox-focus-bg" type="Color">#fff</Var>
    <Var name="searchbox-border-color" type="Color">rgba(0,0,0, 0.12)</Var>
    <Var name="searchbox-border-active-color" type="Color">rgba(0,0,0, 0.2)</Var>
    <Var name="search-button-style" type="Select#brand-colors">primary</Var>
    <Var name="search-button-flat" type="Boolean">false</Var>
    <Var name="searchbox-hit-tag-color" type="Color">darken($warning, 10%)</Var>    

    <!-- Cards -->
    <Var name="card-border-radius" type="String">$border-radius</Var>
    <Var name="card-border-color" type="Color">rgba(#000, .125)</Var>
    <Var name="card-cap-bg" type="Color">rgba(#000, .03)</Var>
    <Var name="card-bg" type="Color">#fff</Var>

    <!-- Dropdowns -->
    <Var name="dropdown-bg" type="Color">#fff</Var>
    <Var name="dropdown-border-color" type="Color">rgba(#000, .075)</Var>
	<Var name="dropdown-border-radius" type="Color">$border-radius</Var>
    <Var name="dropdown-divider-bg" type="Color">$gray-200</Var>
    <Var name="dropdown-box-shadow" type="String">0 3px 12px rgba(27,31,35, 0.15)</Var>
    <Var name="dropdown-link-color" type="Color">$gray-900</Var>
    <Var name="dropdown-link-hover-color" type="Color">darken($gray-900, 5%)</Var>
    <Var name="dropdown-link-hover-bg" type="Color">$gray-100</Var>

    <!-- Tables-->
    <Var name="table-bg" type="Color">transparent</Var>
    <Var name="table-accent-bg" type="Color">rgba(#000, .05)</Var>
    <Var name="table-hover-bg" type="Color">rgba(#000, .075)</Var>
    <Var name="table-active-bg" type="Color">$table-hover-bg</Var>
    <Var name="table-border-color" type="Color">$gray-300</Var>
    
    <!-- Misc  -->
    <Var name="shopbar-label" type="Select#brand-colors">warning</Var>
    <Var name="nav-tabs-active-link-color" type="Color">$gray-700</Var>
    <Var name="product-price-color" type="Color">$body-color</Var>
    <Var name="product-detail-addtocart-box-bg" type="Color">$gray-100</Var>
    <Var name="login-box-bg" type="Color">#fcfcfc</Var>
    <Var name="cart-footer-bg" type="Color">$gray-100</Var>
    <Var name="costep-progress-color" type="Color">$warning</Var>
    <Var name="offcanvas-cart-footer" type="Color">$success</Var>
    <Var name="art-active-bg-color" type="Color">#fff</Var>
    <Var name="art-active-border-color" type="Color">rgba(0,0,0, 0.2)</Var>
  </Vars>

  <Selects>
    <Select id="brand-colors">
      <Option>primary</Option>
      <Option>secondary</Option>
      <Option>info</Option>
      <Option>success</Option>
      <Option>warning</Option>
      <Option>danger</Option>
	  <Option>light</Option>
	  <Option>dark</Option>
    </Select>
  </Selects>
</Theme>