@model String
@{
    Html.AddCssFileParts("~/Content/smartstore.passwordstrengthmeter.css");
    Html.AddScriptParts("~/Scripts/smartstore.passwordstrengthmeter.js",
        "~/Scripts/raphael-min.js");
}

<div class="controls password-strength">
    <img src='@Url.Content("/Content/Images/meter_bg.png")' />

    <div class="cap"></div>
    <div id="password-strength-arrow" class="arrow"></div>

    <p class="text">Password Meter</p>

    <script>
        $(document).ready(function () {
            var R = Raphael("password-strength-arrow", 165, 165);
            var img = R.image(src, 77, 25, 11, 120);

            img.stop().animate({ transform: "r" + -134 }, 1000, "backOut");

            $("#@Model").complexify(
                { minimumChars: 6, strengthScaleFactor: 0.7 },
                function (valid, complexity) {
                    var calculated = (complexity / 100) * 268 - 134;
                    img.stop().animate({ transform: "r" + calculated }, 1000, "backOut");
                });
        });
    </script>
</div>
