@model CustomerAddressEditModel

@using SmartStore.Web.Models.Customer;

@{
	Html.AddTitleParts(T("PageTitle.Account").Text);

	Layout = "_MyAccount";
	ViewBag.PageClassToken = "addresses";
	ViewBag.PageTitle = T("Account.CustomerAddresses.Edit").Text;
}

@using (Html.BeginForm())
{
	var dataDictAddress = new ViewDataDictionary();
	dataDictAddress["breakpoint"] = "lg";
	// Merge ModelState (required for validation)
	dataDictAddress.ModelState.Merge(ViewData.ModelState);
	dataDictAddress.TemplateInfo.HtmlFieldPrefix = "Address";
	Html.RenderPartial("_CreateOrUpdateAddress", Model.Address, dataDictAddress);

	<div class="form-group row">
		<div class="col">
			<button type="submit" class="btn btn-primary btn-lg save-address-button">
				<i class="fa fa-check"></i>
				<span>@T("Common.Save")</span>
			</button>
		</div>
	</div>
}