@model CustomerAddressEditModel

@using SmartStore.Web.Models.Customer;

@{
	Html.AddTitleParts(T("PageTitle.Account").Text);

	Layout = "_MyAccount";
	ViewBag.PageClassToken = "addresses";
	ViewBag.PageTitle = T("Account.CustomerAddresses.AddNew").Text;
}

@using (Html.BeginForm())
{
    var dataDictAddress = new ViewDataDictionary();
    //Merge ModelState (required for validation)
    dataDictAddress.ModelState.Merge(ViewData.ModelState);
    dataDictAddress.TemplateInfo.HtmlFieldPrefix = "Address";
    Html.Partial("_CreateOrUpdateAddress", Model.Address, dataDictAddress);
            
    <div class="form-group row">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-warning save-address-button">
                <i class="fa fa-floppy-o"></i>
                @T("Common.Save")
            </button>
        </div>
    </div>
}