@using SmartStore.Web.Models.Customer;
@using SmartStore.Web.Framework.UI;
@using SmartStore.Core.Domain.Media;

@model CustomerAvatarEditModel

@{
	Layout = "_MyAccount";
	ViewBag.PageClassToken = "avatar";
	ViewBag.PageTitle = T("Account.Avatar").Text;

	Html.AddTitleParts(T("PageTitle.Account").Text);

	var mediaSettings = this.CommonServices.Resolve<MediaSettings>();
}

@if (!ViewData.ModelState.IsValid)
{
	@Html.ValidationSummary(true)
}

<div id="AvatarUploadContainer">
	<div class="mb-2">
		@{ Html.RenderPartial("Customer.Avatar", Model.Avatar); }
	</div>

	@(Html.SmartStore().FileUploader()
		.Name("uploadedFile")
		.UploadUrl(Url.Action("UploadAvatar", "Customer"))
		.AcceptedFileTypes(mediaSettings.ImageTypes)
		.ShowRemoveButton(Model.Avatar.PictureUrl.HasValue())
		.ShowRemoveButtonAfterUpload(true)
		.UploadText(T("Common.FileUploader.Upload"))
		.OnUploadCompletedHandlerName("onAvatarUploaded")
		.OnFileRemoveHandlerName("onAvatarRemoved")
		.Multifile(false)
	)

	<div id="avatar-picture-hint" class="alert alert-info mt-2@(Model.Avatar.PictureUrl.HasValue() ? " d-none" : "")">
		@T("Account.Avatar.UploadRules", Model.MaxFileSize)
	</div>
</div>

<script>
    window['onAvatarUploaded'] = function (file, response, progress) {

        if (response.success) {
            var previewAvatar = $(".avatar-img");
            if (!previewAvatar.hasClass("d-none")) {
                // Replace image.
                previewAvatar.attr("src", response.avatarUrl);
            }
            else {

				// Hide letter span.
                $(".avatar-letter").addClass("d-none");

				// Display image.
                previewAvatar
					.attr("src", response.avatarUrl)
                    .removeClass("d-none");
            }

			$("#avatar-picture-hint").addClass("d-none");
        }
	};

    window['onAvatarRemoved'] = function (e, el) {
		$.ajax({
			async: false,
			cache: false,
			type: 'POST',
            url: '@Url.Action("RemoveAvatar", "Customer")',
            success: function () {

                var previewAvatar = $(".avatar-img");
                if (!previewAvatar.hasClass("d-none")) {

                    // Switch display classes for image and letter.
                    previewAvatar.addClass("d-none");
                    $(".avatar-letter").removeClass("d-none");

                    // Clear file info.
                    $("#AvatarUploadContainer").find('.fileupload-filename, .fileupload-filesize').html("");

                    // Display hint.
                    $("#avatar-picture-hint").removeClass("d-none");
                }
                else {

                }
			}
		});
	}
</script>
