@{
    ViewBag.Title = T("Admin.Promotions.Discounts").Text;
}
<div class="section-header">
    <div class="title">
        @T("Admin.Promotions.Discounts")
    </div>
    <div class="options">
		@{ Html.RenderWidget("admin_button_toolbar_before"); }

        <a href="@Url.Action("Create")" class="btn btn-primary">
			<i class="fa fa-plus"></i>
			<span>@T("Admin.Common.AddNew")</span>
		</a>

		@{ Html.RenderWidget("admin_button_toolbar_after"); }
    </div>
</div>

<div>
	@(Html.Telerik().Grid<DiscountModel>()
		.Name("discounts-grid")
		.Columns(columns =>
		{
			columns.Bound(x => x.Name)
				.Width(500)
				.ClientTemplate(
                    "<div><a href=\"Edit/<#= Id #>\"><#= Name #></a></div>" + 
                    "<div class='muted'><#= DiscountTypeName #></div>");
			columns.Bound(x => x.NumberOfRules)
                .Centered();
			columns.Bound(x => x.StartDateUtc);
			columns.Bound(x => x.EndDateUtc);
			columns.Bound(x => x.UsePercentage)
				.ClientTemplate(Html.SymbolForBool("UsePercentage"))
				.Centered();
			columns.Bound(x => x.FormattedDiscountPercentage)
				.Centered();
			columns.Bound(x => x.FormattedDiscountAmount)
				.RightAlign();
            columns.Bound(x => x.RequiresCouponCode)
				.ClientTemplate(Html.SymbolForBool("RequiresCouponCode"))
				.Centered();
		})
		.DataBinding(dataBinding => dataBinding.Ajax().Select("List", "Discount"))
		.EnableCustomBinding(true))
</div>