@model AddToCompareListModel
@using SmartStore.Web.Models.Catalog;
<div>
    <a class="ajax-cart-link"
        href="#"
	    rel="nofollow"
        data-href="@Url.Action("AddProductToCompare", new { id = Model.ProductId })"
        data-type="compare"
        data-action="add">
        <i class="fa fa-fw fa-retweet"></i>
        @T("Products.Compare.AddToCompareList")
    </a>
</div>