@model PopularProductTagsModel
@using SmartStore.Web.Models.Catalog;
@{
    Layout = "_Layout";
    Html.AddTitleParts(T("PageTitle.AllProductTags").Text);
}

<div class="page product-tags-all-page">
    <div class="page-title">
        <h1 class="h2">@T("Products.Tags.All")</h1>
    </div>

    <div class="page-body">
        @if (Model.Tags.Count > 0)
        {
            <div class="listbox block-body">
                <div class="tags fs-h4">
                    <ul class="list-inline">
                        @foreach (var item in Model.Tags)
                        {
                            <li class="list-inline-item">
                                <a href="@Url.RouteUrl("ProductsByTag", new { productTagId = item.Id, SeName = item.SeName })" class="color-body producttag" style="font-size:@(Model.GetFontSize(item))%;">
                                    <span @Html.LanguageAttributes(item.Name)>@item.Name</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
    </div>
</div>
