@model ProductSummaryModel

@{
    Layout = "_Layout";

    Html.AddTitleParts(T("PageTitle.RecentlyViewedProducts").Text);
}

@using SmartStore.Web.Models.Catalog;

<div class="page recently-viewed-products-page">
	<div class="heading mb-4">
		<h3 class="heading-title fs-h1">@T("Products.RecentlyViewedProducts")</h3>
	</div>

    <div class="page-body">
        @if (Model.Items.Count > 0)
		{
			Html.RenderPartial("Product.List", Model);
		}
		else
		{
			<div class="alert alert-warning">
				@T("Common.ListIsEmpty")
			</div>
		}
    </div>
</div>