/// <reference path="_variables-shared.scss" />
/// <reference path="_mixins.scss" />
/// <reference path="../bs4/scss/bootstrap.scss" />

.breadcrumb-container,
.breadcrumb {
    font-size: $font-size-sm;
}

.breadcrumb-item {
    display: inline-flex;
    padding: 0 !important;
}

.breadcrumb-item:before {
    display: none !important;
}

.breadcrumb-item:after {
    display: inline-block; // Suppress underlining of the separator in modern browsers
    padding: 0 $breadcrumb-item-padding;
    color: $breadcrumb-divider-color;
    content: $breadcrumb-divider;
}

div.breadcrumb-item:after {
    display: none;
}

.breadcrumb-item > a {
    color: $body-color !important;
}