/// <reference path="_variables-shared.scss" />
/// <reference path="_mixins.scss" />
/// <reference path="../bs4/scss/bootstrap.scss" />

// Entity Picker
// ------------------------------

.entpicker {
    .modal-header {
        background-color: $gray-100;
    }
}

.entpicker-filter {
    .col-form-label {
        padding-bottom: 0.2rem;
    }
}

.entpicker-item {
    &:not(.disabled):hover {
	    cursor: pointer;
    }
    &:hover,
    &.selected {
	    background-color: $gray-100;

        .entpicker-thumb {
            background: #fff;
            box-shadow: 1px 1px 2px rgba(0,0,0, 0.1);
        }
    }

    &.selected {
        background-color: lighten($blue, 30%);
        outline: 1px solid lighten($blue, 25%);
    }

    &.disabled {
	    opacity: 0.4;
    }

    .title {
        font-weight: 400;
        max-height: 36px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .highlight {
        font-weight: 700;
    }

    .summary {
        color: #aaa;
	    font-size: 12px;
	    height: 18px;
	    line-height: 18px;
	    vertical-align: middle;
	    overflow: hidden;
    }

    .published {
        margin-left: 1px;
        margin-right: 6px;
        font-size: 15px;
        line-height: 18px;
        vertical-align: sub;
    }
    .published.fa-globe {
        color: inherit;
    }
    .published.fa-eye-slash {
        color: $gray-600;
    }

    .thumb,
    .data {
        position: relative;
        box-sizing: border-box;
        display: block;
    }
    .entpicker-thumb {
        width: 44px;
        max-width: 44px;
    }
}

.entpicker-searchterm {
    width: 250px !important;
}

