/// <reference path="_variables-shared.scss" />
/// <reference path="_mixins.scss" />
/// <reference path="../bs4/scss/bootstrap.scss" />

//$modal-transition-timing: cubic-bezier(0.25, 0.46, 0.45, 0.94); // easeOutQuad
$modal-transition-timing: cubic-bezier(0.165, 0.84, 0.44, 1); // easeOutQuart
//$modal-transition-timing: cubic-bezier(0.19, 1, 0.22, 1); // easeOutExpo


// FLEX MODAL
// ------------------------------------

/*.modal-backdrop.show {
    backdrop-filter: blur(3px);
}*/

.modal-backdrop.fade {
    // fade out
    transition: opacity 0.4s $modal-transition-timing;
    // fade in
    &.show {
        transition: opacity 0.15s ease-out;
    }
}

.modal.fade {
    .modal-dialog {
        transition: opacity 0.4s $modal-transition-timing, transform 0.4s $modal-transition-timing;
        transform: scale(1.1, 1.1);
        will-change: transform, opacity;
    }

    &.show .modal-dialog {
        transform: scale(1, 1);
        opacity: 1;
    }
}

.modal-open #page {
    // fade in
    filter: blur(2px);
    transition: filter 0.4s $modal-transition-timing 0.15s;
}

.modal-hiding #page {
    // fade out
    filter: blur(0);
    transition: filter 0.4s $modal-transition-timing;
}

.modal-content {
	iframe {
		width: 100%;
	}
}

.modal-title {
	color: $gray-600;
}

.modal-dialog:not(.modal-flex) iframe {
	min-height: 300px;
}

.modal-dialog-app > .modal-content {
    border-radius: 0;

    > .modal-body {
        padding: 0;
    }
}

.modal-closer {
    $c: color-yiq($modal-backdrop-bg);
	position: absolute;
	display: none;
	font-size: 2.5rem;
	padding: 0.5rem;
	padding-top: 0;
	top: 0;
	right: 0;
	line-height: 1;
	text-decoration: none !important;
	z-index: $zindex-modal-backdrop + 1;
    color: mix($c, $modal-backdrop-bg, 60%);
	transition: color 0.1s;

	&:hover {
        color: $c;
	}
}

.modal-dialog.modal-flex {
	position: fixed;
	margin: 0;
	width: auto;
	height: auto;
	max-width: none;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;

	@include media-breakpoint-up(md) {
		left: 3%;
		right: 3%;
		top: 2%;
		bottom: 2%;

		&.modal-dialog-app {
			right: 2.5rem;
		}
	}

	@include media-breakpoint-up(xl) {
		&.modal-dialog-app {
			right: 3%;
		}
	}

	&.modal-flex-sm {
		@media (min-width: 800px) {
			left: calc((100% / 2) - 400px);
			right: calc((100% / 2) - 400px);
		}
	}

	.modal-content {
		max-height: none;
		overflow-y: auto;
		overflow-x: hidden;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}

	.modal-body {
		display: flex;
		flex-basis: 0;
		flex-grow: 1;
		flex-direction: column;
		overflow: auto;
		max-width: 100%;
		min-height: 1px;
	}

	.modal-flex-fill-area {
		min-height: 100%;
		flex: 1;
	}
}


.close {
    // "Fix" font-size
    font-size: 1.5rem;
}