/// <reference path="_variables-shared.scss" />
/// <reference path="_mixins.scss" />
/// <reference path="../bs4/scss/bootstrap.scss" />


// RTL overrides for shared styles
// ==============================================================


// Flip all .fa directional icons
// ------------------------------

.fa-angle-double-left:before {
	content: "\f101";
}

.fa-angle-double-right:before {
	content: "\f100";
}

.fa-angle-left:before {
	content: "\f105";
}

.fa-angle-right:before {
	content: "\f104";
}

.fa-arrow-circle-left:before {
	content: "\f0a9";
}

.fa-arrow-circle-right:before {
	content: "\f0a8";
}

.fa-arrow-circle-o-left:before {
	content: "\f18e";
}

.fa-arrow-circle-o-right:before {
	content: "\f190";
}

.fa-arrow-left:before {
	content: "\f061";
}

.fa-arrow-right:before {
	content: "\f060";
}

.fa-caret-left:before {
	content: "\f0da";
}

.fa-caret-right:before {
	content: "\f0d9";
}

.fa-caret-square-o-left:before {
	content: "\f152";
}

.fa-caret-square-o-right:before {
	content: "\f191";
}

.fa-chevron-circle-left:before {
	content: "\f138";
}

.fa-chevron-circle-right:before {
	content: "\f137";
}

.fa-chevron-left:before {
	content: "\f054";
}

.fa-chevron-right:before {
	content: "\f053";
}

.fa-hand-o-left:before {
	content: "\f0a4";
}

.fa-hand-o-right:before {
	content: "\f0a5";
}

.fa-long-arrow-left:before {
	content: "\f178";
}

.fa-long-arrow-right:before {
	content: "\f177";
}

.fa-toggle-left:before {
	content: "\f152";
}

.fa-toggle-right:before {
	content: "\f191";
}