/// <reference path="_variables-shared.scss" />
/// <reference path="_mixins.scss" />
/// <reference path="../bs4/scss/bootstrap.scss" />

// Tree
// ------------------------------

.smtree {
    position: relative;

    :first-child {
        padding-left: 0;
    }

    ul {
        position: relative;
        list-style: none;
        padding-left: 24px;
    }

    li {
        padding: 2px 0;
    }

    label {
        margin: 0;
    }

    .smtree-expander-container {
        display: inline-block;
        min-width: 16px;
    }

    .smtree-expander {
        cursor: pointer;
    }

    .smtree-vline {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 6px;
        width: 0;
        border-left: 1px solid $gray-300;
        height: calc(100% - 12px);
    }

    .smtree-hline li::before {
        content: "";
        position: absolute;
        left: 6px;
        width: 18px;
        height: 0;
        margin-top: 10px;
        border-top: 1px solid $gray-300;
    }

    .smtree-label {
        position: relative;
        cursor: pointer;
        user-select: none;

        input[type=checkbox] {
            position: absolute;
            opacity: 0;
            height: 0;
            width: 0;
            margin: 0;
        }
        // State box default style.
        .smtree-state::before {
            content: "";
            float: left;
            height: 18px;
            width: 18px;
            border-radius: 5px;
            border: 2px solid $gray-400;
            background-color: #fff;
            margin: 2px 4px 0 0;
        }
        // State indicator 'allow'.
        input[type=checkbox]:checked {
            ~ .smtree-state:before {
                border: 2px solid $success;
            }

            ~ .smtree-state:after {
                content: "";
                position: absolute;
                display: block;
                top: 5px;
                left: 6px;
                width: 6px;
                height: 10px;
                border: 2px solid $success;
                border-width: 0 3px 3px 0;
                transform: rotate(45deg);
            }
        }
        // State indicator 'deny'.
        input[type=checkbox]:not(:checked):not(:indeterminate) {
            ~ .smtree-state:before {
                border: 2px solid $danger;
            }

            ~ .smtree-state:after {
                content: '\002D';
                position: absolute;
                display: block;
                top: 10px;
                left: 8px;
                font: bold 20px helvetica, arial, sans-serif;
                color: $danger;
                transform: translate(-50%,-50%) scaleX(1.9);
            }
        }
        // State indicator 'indeterminate'.
        input[type=checkbox]:indeterminate {
            ~ .smtree-state:after {
                display: none;
            }
        }
    }
}

