/// <reference path="../bs4/scss/bootstrap.scss" />


//
// General
// --------------------------------------------------

$alert-info-is-primary:		false !default;
$enable-lightbtn-tweak:		false !default;
$enable-social-buttons:		true !default;


//
// Typo
// --------------------------------------------------

$enable-rfs:                false !default;
$font-size-xs:				0.75rem !default;
$font-weight-medium:        600 !default;
$headings-lg-font-weight:   400 !default;
$headings-sm-font-weight:   $font-weight-medium !default;


// Material tabs
// ==============================================================

$mtab-text-transform:		none !default;
$mtab-font-weight:			$font-weight-medium !default;
$mtab-color:				inherit !default;


// Offcanvas
// ==============================================================

$offcanvas-width:                   320px !default;
$offcanvas-width-lg:                480px !default;
$offcanvas-easing:                  ease-out !default;
$offcanvas-duration:                0.3s !default;
$offcanvas-offset:                  0.3 !default;
$offcanvas-offset-p:                $offcanvas-offset * 100% !default;
$offcanvas-offset-p-neg:            ($offcanvas-offset * 100) * -1% !default;
$offcanvas-z-index:                 99999 !default;
$offcanvas-shadow:                  0 0 24px rgba(#000, 0.3) !default;


//
// Boxes
// --------------------------------------------------

$box-transition-duration: 0.6s; // 0.8s;
//$card-transition-timing:    cubic-bezier(.2, 1, .22, 1);
$box-transition-timing: cubic-bezier(0.25, 1, 0.2, 1);
$box-scale-factor: 1.12;


//
// Icons
// --------------------------------------------------

$fa-use-pro:                    false !default;

$fa-font-family-free:           'Font Awesome 5 Free' !default;
$fa-font-family-pro:            'Font Awesome 5 Pro' !default;
$fa-font-family-brands:         'Font Awesome 5 Brands' !default;

//$icon-font-size-base:           16px !default; // for pixel perfection
$icon-font-size-base:           inherit !default;
$icon-font-variant-default:     regular !default;
$icon-font-weight-default:      900 !default;

$icon-font-variants: () !default;
$icon-font-variants: map-merge(
  (
    "light":    300,
    "regular":  400,
    "solid":    900
  ),
  $icon-font-variants
);

$fa-free-regular-icons: (
    "\f2b9": "address-book",
    "\f2bb": "address-card",
    "\f556": "angry",
    "\f358": "arrow-alt-circle-down",
    "\f359": "arrow-alt-circle-left",
    "\f35a": "arrow-alt-circle-right",
    "\f35b": "arrow-alt-circle-up",
    "\f0f3": "bell",
    "\f1f6": "bell-slash",
    "\f02e": "bookmark",
    "\f1ad": "building",
    "\f133": "calendar",
    "\f073": "calendar-alt",
    "\f274": "calendar-check",
    "\f272": "calendar-minus",
    "\f271": "calendar-plus",
    "\f273": "calendar-times",
    "\f150": "caret-square-down",
    "\f191": "caret-square-left",
    "\f152": "caret-square-right",
    "\f151": "caret-square-up",
    "\f080": "chart-bar",
    "\f058": "check-circle",
    "\f14a": "check-square",
    "\f111": "circle",
    "\f328": "clipboard",
    "\f017": "clock",
    "\f24d": "clone",
    "\f20a": "closed-captioning",
    "\f075": "comment",
    "\f27a": "comment-alt",
    "\f4ad": "comment-dots",
    "\f086": "comments",
    "\f14e": "compass",
    "\f0c5": "copy",
    "\f1f9": "copyright",
    "\f09d": "credit-card",
    "\f567": "dizzy",
    "\f192": "dot-circle",
    "\f044": "edit",
    "\f0e0": "envelope-open",
    "\f06e": "eye",
    "\f070": "eye-slash",
    "\f15b": "file",
    "\f15c": "file-alt",
    "\f1c6": "file-archive",
    "\f1c7": "file-audio",
    "\f1c9": "file-code",
    "\f1c3": "file-excel",
    "\f1c5": "file-image",
    "\f1c1": "file-pdf",
    "\f1c4": "file-powerpoint",
    "\f1c8": "file-video",
    "\f1c2": "file-word",
    "\f024": "flag",
    "\f579": "flushed",
    "\f07b": "folder",
    "\f07c": "folder-open",
    "\f119": "frown",
    "\f57a": "frown-open",
    "\f1e3": "futbol",
    "\f3a5": "gem",
    "\f57f": "grimace",
    "\f580": "grin",
    "\f581": "grin-alt",
    "\f582": "grin-beam",
    "\f583": "grin-beam-sweat",
    "\f584": "grin-hearts",
    "\f585": "grin-squint",
    "\f586": "grin-squint-tears",
    "\f587": "grin-stars",
    "\f588": "grin-tears",
    "\f589": "grin-tongue",
    "\f58a": "grin-tongue-squint",
    "\f58b": "grin-tongue-wink",
    "\f58c": "grin-wink",
    "\f258": "hand-lizard",
    "\f256": "hand-paper",
    "\f25b": "hand-peace",
    "\f0a7": "hand-point-down",
    "\f0a5": "hand-point-left",
    "\f0a4": "hand-point-right",
    "\f0a6": "hand-point-up",
    "\f25a": "hand-pointer",
    "\f255": "hand-rock",
    "\f257": "hand-scissors",
    "\f259": "hand-spock",
    "\f2b5": "handshake",
    "\f0a0": "hdd",
    "\f004": "heart",
    "\f0f8": "hospital",
    "\f254": "hourglass",
    "\f2c1": "id-badge",
    "\f2c2": "id-card",
    "\f03e": "image",
    "\f302": "images",
    "\f11c": "keyboard",
    "\f596": "kiss",
    "\f597": "kiss-beam",
    "\f598": "kiss-wink-heart",
    "\f599": "laugh",
    "\f59a": "laugh-beam",
    "\f59b": "laugh-squint",
    "\f59c": "laugh-wink",
    "\f094": "lemon",
    "\f1cd": "life-ring",
    "\f0eb": "lightbulb",
    "\f022": "list-alt",
    "\f279": "map",
    "\f11a": "meh",
    "\f5a4": "meh-blank",
    "\f5a5": "meh-rolling-eyes",
    "\f146": "minus-square",
    "\f3d1": "money-bill-alt",
    "\f186": "moon",
    "\f1ea": "newspaper",
    "\f247": "object-group",
    "\f248": "object-ungroup",
    "\f1d8": "paper-plane",
    "\f28b": "pause-circle",
    "\f144": "play-circle",
    "\f0fe": "plus-square",
    "\f059": "question-circle",
    "\f25d": "registered",
    "\f5b3": "sad-cry",
    "\f5b4": "sad-tear",
    "\f0c7": "save",
    "\f14d": "share-square",
    "\f118": "smile",
    "\f5b8": "smile-beam",
    "\f4da": "smile-wink",
    "\f2dc": "snowflake",
    "\f0c8": "square",
    "\f005": "star",
    "\f089": "star-half",
    "\f249": "sticky-note",
    "\f28d": "stop-circle",
    "\f185": "sun",
    "\f5c2": "surprise",
    "\f165": "thumbs-down",
    "\f164": "thumbs-up",
    "\f057": "times-circle",
    "\f5c8": "tired",
    "\f2ed": "trash-alt",
    "\f007": "user",
    "\f2bd": "user-circle",
    "\f410": "window-close",
    "\f2d0": "window-maximize",
    "\f2d1": "window-minimize",
    "\f2d2": "window-restore"
);


//
// Brand color variables
// --------------------------------------------------

$clr-brand-facebook:            #3b5998 !default;
$clr-brand-twitter:             #55acee !default;
$clr-brand-github:              #bd2c00 !default;
$clr-brand-github2:             #ff9933 !default;
$clr-brand-github3:             #4183c4 !default;
$clr-brand-google:              #4285f4 !default;
$clr-brand-google2:             #db4437 !default;
$clr-brand-google3:             #f4b400 !default;
$clr-brand-google4:             #0f9d58 !default;
$clr-brand-google5:             #e7e6dd !default;
$clr-brand-googleplus:          #dd4b39 !default;
$clr-brand-amazon:              #ff9900 !default;
$clr-brand-atlassian:           #003366 !default;
$clr-brand-dropbox:             #007ee5 !default;
$clr-brand-ebay:                #e53238 !default;
$clr-brand-flickr:              #0063dc !default;
$clr-brand-html5:               #ec6231 !default;
$clr-brand-instagram:           #3f729b !default;
$clr-brand-linkedin:            #007bb6 !default;
$clr-brand-paypal:              #3b7bbf !default;
$clr-brand-pinterest:           #cc2127 !default;
$clr-brand-rss:                 #ee802f !default;
$clr-brand-skype:               #00aff0 !default;
$clr-brand-stackoverflow:       #ef8236 !default;
$clr-brand-xing:                #126567 !default;
$clr-brand-youtube:             #cd201f !default;
$clr-brand-microsoft:           #f65314 !default;
$clr-brand-windows:             #00bcf2 !default;
$clr-brand-bitbucket:           #205081 !default;