/// <reference path="../bs4/scss/bootstrap.scss" />


//
// General
// --------------------------------------------------

$alert-info-is-primary:		false !default;
$enable-lightbtn-tweak:		false !default;
$enable-social-buttons:		true !default;


//
// Typo
// --------------------------------------------------

$font-size-xs:				0.75rem !default;
$font-weight-medium:        600 !default;
$headings-lg-font-weight:   400 !default;
$headings-sm-font-weight:   $font-weight-medium !default;


// Material tabs
// ==============================================================

$mtab-text-transform:		none !default;
$mtab-font-weight:			$font-weight-medium !default;
$mtab-color:				inherit !default;


//
// Brand color variables
// --------------------------------------------------

$clr-brand-facebook:            #3b5998;
$clr-brand-twitter:             #55acee;
$clr-brand-github:              #bd2c00;
$clr-brand-github2:             #ff9933;
$clr-brand-github3:             #4183c4;
$clr-brand-google:              #4285f4;
$clr-brand-google2:             #db4437;
$clr-brand-google3:             #f4b400;
$clr-brand-google4:             #0f9d58;
$clr-brand-google5:             #e7e6dd;
$clr-brand-googleplus:          #dd4b39;
$clr-brand-amazon:              #ff9900;
$clr-brand-atlassian:           #003366;
$clr-brand-dropbox:             #007ee5;
$clr-brand-ebay:                #e53238;
$clr-brand-flickr:              #0063dc;
$clr-brand-html5:               #ec6231;
$clr-brand-instagram:           #3f729b;
$clr-brand-linkedin:            #007bb6;
$clr-brand-paypal:              #3b7bbf;
$clr-brand-pinterest:           #cc2127;
$clr-brand-rss:                 #ee802f;
$clr-brand-skype:               #00aff0;
$clr-brand-stackoverflow:       #ef8236;
$clr-brand-xing:                #126567;
$clr-brand-youtube:             #cd201f;
$clr-brand-microsoft:           #f65314;
$clr-brand-windows:             #00bcf2;
$clr-brand-bitbucket:           #205081;