@model MyAccountMenuModel     
	      
@using SmartStore.Web.Models.Customer;

@{ 
	var selItem = Model.SelectedItemToken != null ? Model.SelectedItemToken.ToLowerInvariant() : "";
}

@{ Html.RenderWidget("myaccount_menu_before"); }

<div class="card myaccount-menu">
    <h5 class="card-header" style="border-bottom: none">
        @T("Account.Navigation")
    </h5>
	<div class="list-group list-group-flush has-icons">
		@{ Html.RenderWidget("myaccount_menu_firstitem_before"); }

		@foreach (var item in Model.Root.Children.Where(x => x.Value.Visible).Select(x => x.Value))
		{
			<a href="@item.Url" rel="nofollow" class="list-group-item list-group-item-action@(selItem.IsCaseInsensitiveEqual(item.Id) ? " active" : "")">
                <i class="fa fa-fw fa-@item.Icon list-group-item-icon"></i>
                <span>@item.Text</span>
                @if (item.BadgeText.HasValue())
                {
                    <span class="badge badge-pill badge-@item.BadgeStyle.ToString().ToLower() ml-auto">@Html.Raw(item.BadgeText)</span>
                }
            </a>
		}

		@{ Html.RenderWidget("myaccount_menu_lastitem_after"); }
	</div>
</div>

@{ Html.RenderWidget("myaccount_menu_after"); }

@{ Html.RenderAction("PollBlock", "Poll", new { systemKeyword = "MyAccountMenu" }); }