<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.5.0" targetFramework="net452" />
  <package id="Autofac.Mvc5" version="4.0.2" targetFramework="net452" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="MiniProfiler" version="3.2.0.157" targetFramework="net452" />
  <package id="MiniProfiler.EF6" version="3.0.11" targetFramework="net451" />
</packages>