@model AddToCompareListModel
@using SmartStore.Web.Models.Catalog;
<div class="compare-products">
	<a href="@Url.Action("AddProductToCompare", new { id = Model.ProductId })" data-role="button" data-ajax="false" rel="nofollow">@T("Products.Compare.AddToCompareList")</a>
</div>
