@model CheckoutBillingAddressModel

@using SmartStore.Core.Domain.Orders;
@using SmartStore.Web.Models.Checkout;
@using SmartStore.Web.Models.Common;

@{
	Layout = "~/Views/Shared/_Checkout.cshtml";

	//title
	Html.AddTitleParts(T("PageTitle.Checkout").Text);
}

@section orderProgress{
	@Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Address, area = "" })
}

<h1>Hallo Welt</h1>
