@{
    Layout = "";
}
@using SmartStore.Web.Framework;

<div class="media">
	<img class="media-object img-fluid pr-2" src="@Url.Content("~/Plugins/SmartStore.PayPal/Content/branding.png")" alt="PayPal" />
	<div class="media-body">
		@T("Plugins.Payments.PayPalStandard.Fields.RedirectionTip")
	</div>
</div>
