@{
    Layout = "";
}
@using SmartStore.Web.Framework;

<div class="media">
	<span class="pull-left">
		<img class="media-object img-responsive" src="@Url.Content("~/Plugins/SmartStore.PayPal/Content/branding.png")" alt="PayPal" />
	</span>
	<div class="media-body">
		@T("Plugins.Payments.PayPalStandard.Fields.RedirectionTip")
	</div>
</div>
