@using SmartStore.Web.Framework.Theming;

@{
	Layout = "_ColumnsTwo";
}

<div class="page home-page">
    <div class="page-body">
        @Html.Widget("home_page_top")
		@{
			Html.RenderAction("TopicBlock", "Topic", new { systemName = "HomePageText" });
			Html.RenderAction("HomepageCategories", "Catalog");
			Html.RenderAction("HomepageProducts", "Catalog");
			Html.RenderAction("HomepageBestSellers", "Catalog");
			Html.RenderAction("HomePageNews", "News");
			Html.RenderAction("HomePagePolls", "Poll");
			@* TODO: (mc) find more intelligent way of rendering RecentlyViewedProductsBlock globally *@
			Html.RenderAction("RecentlyViewedProductsBlock", "Catalog", new { area = "" });
		}
        @Html.Widget("home_page_bottom")
    </div>
</div>

@section teaser {

}