<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="NUnitTestAdapter" version="2.2.0" targetFramework="net461" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net45" />
</packages>