//
// Customize the child theme here with css overrides
// or new selectors (for theme developers)
// --------------------------------------------------

.menubar-inverse.menubar-section {
    border-bottom: 0; 
}