<?xml version="1.0" encoding="utf-8"?>

<!-- Weitere Informationen zur Verwendung der web.config-Transformation finden Sie unter https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    Im folgenden Beispiel wird durch die Transformation "SetAttributes" der Wert von
    "connectionString" geändert, sodass "ReleaseSQLServer" nur verwendet wird, wenn
    vom Locator "Match" ein Attribut vom Typ "name" mit dem Wert "MyDB" gefunden wird.
    
    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      Im folgenden Beispiel ersetzt die Transformation "Replace" den gesamten
      Abschnitt "<customErrors>" der Datei "web.config".
      Da unter dem Knoten "<system.web>" nur ein Abschnitt vom Typ
      "customErrors" vorhanden ist, muss das Attribut "xdt:Locator" nicht verwendet werden.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>