@model IRuleExpression

@using SmartStore.Rules
@using SmartStore.Utilities;

<div class="rule-descrptor font-weight-medium form-control-plaintext text-truncate text-gray" title="@Model.Descriptor.Name">
    @Model.Descriptor.DisplayName
</div>