@using SmartStore.Rules
@model IRuleExpression
<div class="rule-descriptor font-weight-medium form-control-plaintext text-truncate text-gray" title="@Model.Descriptor.DisplayName (@(Model.Descriptor.Name))">
    @Model.Descriptor.DisplayName
</div>
