@model IRuleExpression

@using SmartStore.Rules

<div class="rule row xs-gutters" data-rule-id="@Model.Id">
    <div class="col-2">
        @{ Html.RenderPartial("_Rule.Descriptor", Model); }
    </div>
    <div class="col-2">
        @{ Html.RenderPartial("_Rule.Operator", Model); }
    </div>
    <div class="col-8">
        @{ Html.RenderPartial("_Rule.Value", Model); }
    </div>
</div>
