@model ActiveDiscussionsModel
@using SmartStore.Web.Models.Boards;
@{
    Layout = "_Root";

    Html.AddTitleParts(T("Forum.PageTitle.ActiveDiscussions").Text);
}
<div class="page active-discussions-page">
    @Html.Partial("_ActiveTopics", @Model)
</div>