@model ForumGroupModel
@using SmartStore.Web.Models.Boards;
@{
    Layout = "_Root";

    Html.AddTitleParts(Model.Name);
}
<div class="page forum-group-page">
    @Html.Partial("_SearchBox")
    <div class="forum-group">
        @Html.Partial("_ForumGroupPartial", Model)
    </div>
</div>
