@model StateProvinceModel
@{
	Layout = "_AdminPopupLayout";
	ViewBag.Title = T("Admin.Configuration.Countries.States.EditStateDetails").Text;
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            @T("Admin.Configuration.Countries.States.EditStateDetails")
        </div>
        <div class="options">
            <button type="submit" name="save" value="save" class="btn btn-warning">
				<i class="fa fa-check"></i>
				@T("Admin.Common.Save")
			</button>
        </div>
    </div>

    Html.RenderPartial("_CreateOrUpdateState", Model);
}