<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.5.0" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net451" />
  <package id="EntityFramework.SqlServerCompact" version="6.1.3" targetFramework="net451" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Scripting" version="11.0.2100.61" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net452" />
</packages>