/// <reference path="../bs4/scss/bootstrap.scss" />

// Scroll Button
// ==============================================================

.scroll-button {
    position: absolute;
    //display: none;
    opacity: 0.4;
    top: 0;
    bottom: 0;
    z-index: 100;
    transition: opacity 0.15s linear;

    &:hover { opacity: 1 !important }
}

.scroll-button-prev {
    left: 0;
    right: auto;
    .has-prev & { display: block; }
    .has-prev:hover & { opacity: 0.75; }
}

.scroll-button-next {
    right: 0;
    left: auto;
    .has-next & { display: block; }
    .has-next:hover & { opacity: 0.75; }
}

.scroll-button .btn-scroll {
    display: block;
    position: relative;
    height: 6rem;
    line-height: 6rem;
    padding-top: 0;
    padding-bottom: 0;
    top: 50%;
    margin-top: -3rem;

    &.btn-scroll-prev {
        border-radius: 0 $btn-border-radius-lg $btn-border-radius-lg 0;
        border-left: none;
    }

    &.btn-scroll-next {
        border-radius: $btn-border-radius-lg 0 0 $btn-border-radius-lg;
        border-right: none;
    }

    &:hover, &:focus, &:active {
        background: $btn-secondary-bg;
    }
}