@*TODO: Renders this and plugin config header and they overlap cause of absolute position*@
@*<div class="section-header">
    <div class="title">
        <i class="fa fa-lock"></i>
        @T("Admin.AccessDenied.Title")
    </div>
</div>*@
<div class="alert alert-error fade in">
    @T("Admin.AccessDenied.Description")
</div>
