<table class="w-100 brd bg-light mb-4" cellpadding="10">
	<tr>
		<td width="50%">
			&nbsp;
		</td>
		<td width="50%">
			<table class="w-100">
				<tr>
					<td class="text-sm" width="60%" style="padding-top: 5px" nowrap>{{ 'Plugins.Payments.PayPalInstalments.FinancingCosts' | T }}:</td>
					<td class="text-sm text-right" width="40%" style="padding-top: 5px" nowrap>{{ PayPalInstalments.FormattedFinancingCosts }}</td>
				</tr>
				<tr>
					<td class="text-sm" width="60%" style="padding-top: 5px" nowrap>{{ 'Plugins.Payments.PayPalInstalments.TotalInclFinancingCosts' | T }}:</td>
					<td class="text-sm text-right" width="40%" style="padding-top: 5px" nowrap>{{ PayPalInstalments.FormattedTotalInclFinancingCosts }}</td>
				</tr>
			</table>
		</td>
	</tr>
</table>