@{
    Layout = "";
}
<div>
    <div class="mb-2">
	    <img src="@Url.Content("~/Plugins/SmartStore.PayPal/Content/instalments-sm.png")" />
    </div>
    <div class="media">
	    <div class="media-body">
            <div>
		        @Html.Raw(T("Plugins.Payments.PayPalInstalments.PaymentInfo"))
            </div>
	    </div>
    </div>
</div>