@using SmartStore.PayPal.Services;
@model FinancingOptions
<div class="paypal-promotion card mt-3 p-2">
    <div class="card-block">
        @{ Html.RenderPartial("Promotion.Content"); }
    </div>
</div>