
// Image Gallery
// ========================================

.gal-box {
    position: relative; 
    display: table; 
    width: 100%; 
    table-layout: fixed;
}

.gal {
	position: relative;
}

.gal-item {
	position: relative;
	overflow: hidden;
}

.gal-item-viewport {
	position: relative;
	display: block;
	width: 100%;
	height: 0;
	padding-top: 100%;
	text-align: center;
	outline: none !important;
}

.gal-item-content {
	position: absolute;
	display: none;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.gal-nav {
	overflow: hidden;
	max-height: 548px;
	opacity: 0;
	text-align: center;
    
    &.slick-initialized {
	    opacity: 1;
    }
}

.gal-nav .gal-item {
	border: 1px solid rgba(0,0,0, 0.12);
	margin: 4px 0;
}
.gal-nav .gal-item:hover {
	border-color: rgba(0,0,0, 0.35);
}
.gal-nav .gal-item.slick-current {
	border-color: rgba(0,0,0, 0.8);
}

.gal-nav .gal-item {
	cursor: pointer;
}

.gal-nav .gal-item-content {
	padding: 3px;
}

.touch .gal-nav-cell {
	display: none !important;
}

.gal-nav-cell {
	display: table-cell; 
	vertical-align: top; 
	padding-right: 1.2rem; 
	max-height: 100%; 
	overflow: hidden;
	width: 4.5rem;
}

.gal-cell {
    display: table-cell; 
    vertical-align: top;
}

@media (min-width: 992px) {
	.no-touch .gal .slick-dots {
		display: none !important;
	}

	.no-touch .gal.slick-dotted.slick-slider {
		margin-bottom: 0 !important;
	}
}

@media (min-width: 1200px) {
	.gal-nav-cell {
		width: 5.5rem;
	}
}



.sb { position: absolute }

.smart-gallery {
	width: 600px;
}

.sg-loader {
	position: absolute;
	z-index: 10;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    //background: rgba(255,255,255, 0.8);
}

.sg-image-wrapper {
    position: relative !important;
	width: 100%;
    min-height: 300px; /* just to avoid page load flickering. This is overwritten per inline css anyway */
	margin-bottom: 1rem;
	position: relative;
	overflow: hidden;
	outline: 1px solid transparent;
    text-align: center;
}

.sg-image {
	position: relative;
	overflow: hidden;
	top: 0;
	left: 0;
    right: 0;
    bottom: 0;
    transition: transform 0.3s ease-in-out;
    transform: translate3d(0, 0, 0);

    &.out-left { position: absolute; transform: translate3d(-100%, 0, 0);  }
    &.out-right { position: absolute; transform: translate3d(100%, 0, 0);  }
}


.sg-nav {
	width: 100%;
	position: relative;
	overflow: hidden;
	opacity: 0; /* avoids flickering */
}

.sg-thumbs {
	position: relative;
	overflow-x: hidden;
	margin: 0 auto;
}        
            
.sg-thumb-list {
	position: relative;
    float: left;
    width: 5000px;
	height: 60px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sg-nav.has-buttons .sg-thumbs {
    margin-left: 19px;
    margin-right: 19px;
}

.sg-thumb-list > li {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
    float: left;
    padding: 0;
	margin-left: -1px;

    &:first-child { margin-left: 0; }
}


.sg-thumb-list-link {
	position: relative;
	z-index: 0;
	display: block;
    border: 1px solid #ddd;
	background-color: #fff;
	outline: none;
    overflow: hidden;
    transition: all 0.1s ease-in;
	box-sizing: border-box;
    width: 60px;
    height: 60px;
	line-height: 52px;
	text-align: center;

    &:hover, &.sg-active {
        border-color: #999;
	    z-index: 1;
    }
}

.sg-thumb-list-img {
	margin: 3px;
	max-width: 52px;
	max-height: 52px;
}

.sg-scroll-back,
.sg-scroll-forward {
	position: absolute;
    box-shadow: 0 0 4px rgba(0,0,0, .15);
	z-index: 30;
	height: 100%;
	width: 20px;
}

.sg-scroll-back a,
.sg-scroll-forward a {
	width: 18px;
}
.sg-scroll-back { left: 0 }
.sg-scroll-forward { right: 0 }

.sg-thumbs-overlay {
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
    background: linear-gradient(to right, #fff, rgba(255,255,255, 0) 3%, rgba(255,255,255, 0) 97%, #fff 100%);
}
            
/* Can't do display none, since Opera won't load the images then */
.sg-preloads {
	position: absolute;
	left: -9000px;
	top: -9000px;
}

/* Zooming */

.zoomContainer {
    z-index: 50;
}

.zoomWindow {
    border: 1px solid #999;
}

.zoomWindow,
.zoomLens {
    box-shadow: 0 0 10px rgba(0,0,0, 0.4);
    display: none;
}


