@model HandleErrorInfo
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    //title
	Html.AddTitleParts(T("NotFoundPage.Title").Text);
}

<div class="page not-found-page">
    <div class="page-title">
        <h1>@T("NotFoundPage.Title")</h1>
    </div>
    <div class="page-body">
        @T("NotFoundPage.Body")
    </div>
</div>
