@{
    ViewBag.Title = T("Admin.Dashboard").Text;
    Layout = "_MinimalLayout";

}
<script src="~/Administration/Scripts/Chart.js"></script>

<div class="section-header">
    <div class="title">
        <i class="far fa-chart-bar"></i>
        @T("Admin.Dashboard.StoreStatistics")
    </div>
</div>

<div class="dashboard-grid">
    @{ Html.RenderWidget("admin_dashboard_top"); }
    <div class="report-incomplete-orders">
        @{ Html.RenderAction("OrdersIncompleteDashboardReport", "Order"); }
    </div>
    <div class="report-orders">
        @{ Html.RenderAction("OrdersDashboardReport", "Order"); }
    </div>
    <div class="report-bestsellers">
        @{ Html.RenderAction("BestsellersDashboardReport", "Order"); }
    </div>
    <div class="report-top-customers">
        @{ Html.RenderAction("TopCustomersDashboardReport", "Customer"); }
    </div>
    <div class="report-customer-registrations">
        @{ Html.RenderAction("RegisteredCustomersDashboardReport", "Customer"); }
    </div>
    <div class="report-latest-orders">
        @{ Html.RenderAction("LatestOrdersDashboardReport", "Order"); }
    </div>
    <div class="report-store-statistics">
        @{ Html.RenderAction("StoreDashboardReport", "Store"); }
    </div>
    <div class="marketplace-feed">
        @{ Html.RenderAction("MarketplaceFeed"); }
    </div>

    @*<div class="row px-3">
                <div class="col-lg-9 col-xl-10">

                    @{ Html.RenderAction("OrderAverageReport", "Order"); }
                    <div class="row">
                        <div class="col-xl-6">
                            @{ Html.RenderAction("BestsellersBriefReportByQuantity", "Order"); }
                        </div>
                        <div class="col-xl-6">
                            @{ Html.RenderAction("BestsellersBriefReportByAmount", "Order"); }
                        </div>




                    </div>
                    <div class="row">
                        <div class="col-xl-6">
                            @{ Html.RenderAction("ReportRegisteredCustomers", "Customer"); }
                        </div>
                       <div class="col-xl-6">
                                @{ Html.RenderAction("OrderIncompleteReport", "Order"); }
                            </div>
                    </div>
                </div>

            <div class="col-lg-3 col-xl-2 py-3">
                    @{ Html.RenderAction("MarketplaceFeed"); }
                </div>
        </div>*@

    @{ Html.RenderWidget("admin_dashboard_bottom"); }
</div>

