@{
    ViewBag.Title = T("Admin.Dashboard").Text;
}

<div class="section-header">
    <div class="title">
        <i class="far fa-chart-bar"></i>
        @T("Admin.Dashboard.StoreStatistics")
    </div>
</div>

<div class="dashboard">
	@{ Html.RenderWidget("admin_dashboard_top"); }

	<div class="row">
		<div class="col-lg-9 col-xl-10">
			@{ Html.RenderAction("OrderAverageReport", "Order"); }
			<div class="row">
				<div class="col-xl-6">
					@{ Html.RenderAction("BestsellersBriefReportByQuantity", "Order"); }
				</div>
				<div class="col-xl-6">
					@{ Html.RenderAction("BestsellersBriefReportByAmount", "Order"); }
				</div>
			</div>
			<div class="row">
				<div class="col-xl-6">
					@{ Html.RenderAction("ReportRegisteredCustomers", "Customer"); }
				</div>
				<div class="col-xl-6">
					@{ Html.RenderAction("OrderIncompleteReport", "Order"); }
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-xl-2">
			@{ Html.RenderAction("MarketplaceFeed"); }
		</div>
	</div>

	@{ Html.RenderWidget("admin_dashboard_bottom"); }
</div>

