@{
    //page title
    ViewBag.Title = T("Admin.Dashboard").Text;
}

<div class="section-header">
    <div class="title">
        <i class="fa fa-bar-chart-o"></i>
        @T("Admin.Dashboard.StoreStatistics")
    </div>
</div>

<div class="dashboard">
	@{ Html.RenderWidget("admin_dashboard_top"); }

	<div class="row-fluid">
		<div class="span10">
			@{ Html.RenderAction("OrderAverageReport", "Order"); }
			<div class="row-fluid">
				<div class="span6">
					@{ Html.RenderAction("BestsellersBriefReportByQuantity", "Order"); }
				</div>
				<div class="span6">
					@{ Html.RenderAction("BestsellersBriefReportByAmount", "Order"); }
				</div>
			</div>
			<div class="row-fluid">
				<div class="span6">
					@{ Html.RenderAction("ReportRegisteredCustomers", "Customer"); }
				</div>
				<div class="span6">
					@{ Html.RenderAction("OrderIncompleteReport", "Order"); }
				</div>
			</div>
		</div>

		<div class="span2">
			@{ Html.RenderAction("MarketplaceFeed"); }
		</div>
	</div>

	@{ Html.RenderWidget("admin_dashboard_bottom"); }
</div>

