@{
    ViewBag.Title = T("Admin.Dashboard").Text;
    Layout = "_MinimalLayout";

}

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/easy-pie-chart/2.1.6/easypiechart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/easy-pie-chart/2.1.6/jquery.easypiechart.js"></script>
@*<script src="~/Administrator/Scripts/easypiechart.js"></script>*@
@*<link rel="stylesheet" type="text/css" href="/path/to/jquery.easy-pie-chart.css">*@

@Scripts.Render("~/bundles/charts")


<div class="section-header">
    <div class="title">
        <i class="far fa-chart-bar"></i>
        @T("Admin.Dashboard.StoreStatistics")
    </div>
</div>

<div class="dashboard-grid">
    @{ Html.RenderWidget("admin_dashboard_top"); }
    <div class="report-order-fulfillment">
        @{ Html.RenderAction("OrderFulfillmentDashboardReport", "Order"); }
    </div>
    <div class="report-incomplete-orders">
        @{ Html.RenderAction("OrdersIncompleteDashboardReport", "Order"); }
    </div>
    <div class="report-sales">
        @{ Html.RenderAction("OrdersDashboardReport", "Order"); }  @*rename to sales*@
    </div>
    <div class="report-bestsellers">
        @{ Html.RenderAction("BestsellersDashboardReport", "Order"); }
    </div>
    <div class="report-top-customers">
        @{ Html.RenderAction("TopCustomersDashboardReport", "Customer"); }
    </div>
    <div class="report-customer-registrations">
        @{ Html.RenderAction("RegisteredCustomersDashboardReport", "Customer"); }
    </div>
    <div class="report-latest-orders">
        @{ Html.RenderAction("LatestOrdersDashboardReport", "Order"); }
    </div>
    <div class="report-store-statistics">
        @{ Html.RenderAction("StoreDashboardReport", "Store"); }
    </div>
    <div class="marketplace-feed">
        @{ Html.RenderAction("MarketplaceFeed"); }
    </div>

    @*<div class="row px-3">
                <div class="col-lg-9 col-xl-10">

                    @{ Html.RenderAction("OrderAverageReport", "Order"); }
                    <div class="row">
                        <div class="col-xl-6">
                            @{ Html.RenderAction("BestsellersBriefReportByQuantity", "Order"); }
                        </div>
                        <div class="col-xl-6">
                            @{ Html.RenderAction("BestsellersBriefReportByAmount", "Order"); }
                        </div>




                    </div>
                    <div class="row">
                        <div class="col-xl-6">
                            @{ Html.RenderAction("ReportRegisteredCustomers", "Customer"); }
                        </div>
                       <div class="col-xl-6">
                                @{ Html.RenderAction("OrderIncompleteReport", "Order"); }
                            </div>
                    </div>
                </div>

            <div class="col-lg-3 col-xl-2 py-3">
                    @{ Html.RenderAction("MarketplaceFeed"); }
                </div>
        </div>*@

    @{ Html.RenderWidget("admin_dashboard_bottom"); }
</div>

