<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <clear />
  
  <!--
    If you installed the Redis plugin:
    Uncomment the block below to specify connection strings for various
    Redis based components. Keep in mind that "SmartStore.Redis" always acts as a fallback.
  -->
  <add name="SmartStore.Redis" connectionString="localhost" />
  <add name="SmartStore.Redis.MessageBus" connectionString="localhost" />
  <add name="SmartStore.Redis.Cache" connectionString="localhost" />
  <add name="SmartStore.Redis.OutputCache" connectionString="localhost" />
  <add name="SmartStore.Redis.Session" connectionString="localhost" />

  <!--
    If you installed the Azure plugin:
    Uncomment the block below to specify connection settings for Azure Blob Storage.
    To test Azure Blob Storage on your local pc install and configure the 
    "Azure Storage Emulator": https://azure.microsoft.com/en-us/documentation/articles/storage-use-emulator/
  -->
	<!--
  <add name="SmartStore.Azure.BlobStorageConnectionString" connectionString="DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://127.0.0.1:10000/devstoreaccount1" />
  <add name="SmartStore.Azure.BlobStorageContainerName" connectionString="media" />
  <add name="SmartStore.Azure.BlobStorageRootFolderPath" connectionString="" />
  <add name="SmartStore.Azure.BlobStoragePublicHostName" connectionString="" />
  -->
</connectionStrings>
