<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<log4net xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <root>
    <priority value="INFO" xdt:Transform="SetAttributes(value)" />
  </root>
  <logger name="SmartStore" xdt:Locator="Match(name)" xdt:Transform="Remove" />
  <appender name="debugger" xdt:Locator="Match(name)" xdt:Transform="Remove" />
  <appender>
    <immediateFlush value="false" xdt:Transform="SetAttributes(value)" />
  </appender>
</log4net>