<?xml version="1.0" encoding="utf-8" ?>
<log4net>

  <!-- If you are looking here and want more output, first thing to do is change root/priority/@value to "INFO" or "ALL". -->

  <root>
    <!-- Value of priority may be ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF. -->
    <priority value="DEBUG" />
    <!--<appender-ref ref="database" />-->
    <!--<appender-ref ref="error-file" />-->
    <!--<appender-ref ref="debug-file" />-->
  </root>

  <logger name="Install">
    <appender-ref ref="debugger"/>
  </logger>

  <logger name="SmartStore">
    <!-- Messages coming from SmartStore are sent to the attached debugger. -->
    <appender-ref ref="debugger"/>
  </logger>

  <appender name="debugger" type="log4net.Appender.DebugAppender">
    <!-- Sends log messages to Visual Studio if attached. -->
    <immediateFlush value="true" />
    <layout type="log4net.Layout.SimpleLayout" />
  </appender>
</log4net>
