<?xml version="1.0" encoding="utf-8"?>
<!-- To activate the Redis session state provider, just change the mode attribute from 'InProc' to 'Custom'. -->
<sessionState mode="InProc" customProvider="RedisSessionStateStore" stateConnectionString="tcpip=loopback:42424" cookieless="false" timeout="10">
  <providers>
    <!-- 
      The Redis connection string used by RedisSessionStateProvider is being resolved in this particular order:
        1.) The named connection string "SmartStore.Redis.Session"
        2.) The named connection string "SmartStore.Redis"
        3.) localhost
    -->
    <add name="RedisSessionStateStore" type="SmartStore.Redis.SessionState.RedisSessionStateProvider, SmartStore.Redis" />
  </providers>
</sessionState>
