<?xml version="1.0" encoding="utf-8"?>
<sessionState mode="InProc" customProvider="RedisSessionStateStore">
  <providers>
    <!--
    <add name="RedisSessionStateStore"
        host = "127.0.0.1" [String]
        port = "" [number] default: 6379
        accessKey = "" [String]
        ssl = "false" [true|false]
        throwOnError = "true" [true|false]
        retryTimeoutInMilliseconds = "0" [number]
        databaseId = "0" [number]
        applicationName = "" [String]
        connectionTimeoutInMilliseconds = "5000" [number]
        operationTimeoutInMilliseconds = "5000" [number]
    />
    -->
    <add name="RedisSessionStateStore" type="Microsoft.Web.Redis.RedisSessionStateProvider" host="localhost" accessKey="" ssl="false"/>
  </providers>
</sessionState>
