@model SmartStore.PayPal.Models.PayPalExpressPaymentInfoModel

<div class="external-checkout-button">
	<a id="paypal-express-button" href="@Url.Action("SubmitButton", "PayPalExpress", new { area = "SmartStore.PayPal" })">
        <img src="@Url.Content(Model.SubmitButtonImageUrl)" />
	</a>
</div>
