@model SmartStore.PayPal.Models.PayPalExpressPaymentInfoModel
@{
    Layout = "";
    Html.AddCssFileParts(true, Url.Content("~/Plugins/SmartStore.PayPal/Content/smartstore.paypal.css"));
}

@if (Model.CurrentPageIsBasket)
{
    <div id="paypal-checkout" class="my-2 ml-3">
        <a href='@Url.Action("SubmitButton", "PayPalExpress", new { area = "SmartStore.PayPal" })'>
            <img id="paypal-express-button" alt="" src="@Url.Content(Model.SubmitButtonImageUrl)" />
        </a>
    </div>
}