@{
    Layout = "";
}
@model SmartStore.PayPal.Models.PayPalExpressPaymentInfoModel
@using SmartStore.Web.Framework;

@if (Model.CurrentPageIsBasket)
{
    <div class="form-horizontal">
        <a href='@Url.Action("SubmitButton", "PayPalExpress", new { area = "SmartStore.PayPal" })'>
            <img id="paypal-express-button" alt="" src="@Model.SubmitButtonImageUrl" />
        </a>
    </div>
}
